// create-skin
create-view(foreground, background, border)
    return {
        foreground: foreground,
        background: background,
        border:     border
    }
create-foreground(color, font, text)
    return {
        color: get-theme-color(color),
        font:  font,
        text:  text
    }
create-background(color, image)
    return {
        color: get-theme-background-color(color),
        image: get-theme-background-image(image)
    }
create-border(color, radius)
    return {
        color:  get-theme-border-color(color),
        radius: get-theme-border-radius(radius)
    }
fnt(url = null, size = null, style = null)
    return {
        url:   url,
        size:  size,
        style: style
    }
txt(align = null, outline = null, shadow = null)
    return {
        align:   align,
        outline: outline,
        shadow:  shadow
    }
img(url = null, color = null, scale-mode = null, slice-left = null, slice-right = null, slice-top = null, slice-bottom = null, slice-scale = null)
    return {
        url:          url,
        color:        color,
        scale-mode:   scale-mode,
        slice-left:   slice-left,
        slice-right:  slice-right,
        slice-top:    slice-top,
        slice-bottom: slice-bottom,
        slice-scale:  slice-scale
    }

// create-skin
create-layout(position, size, box)
    return {
        position: position,
        size:     size,
        box:      box
    }
create-position(position, left = null, right = null, top = null, bottom = null)
    return {
        position: position[0],
        left:     left   or position[1],
        right:    right  or position[2],
        top:      top    or position[3],
        bottom:   bottom or position[4]
    }
create-size(width, height)
    return {
        width:  width,
        height: height
    }
create-box(margin, border, padding)
    return {
        margin:  margin,
        border:  border,
        padding: padding
    }

// // get-skin
// get-view(view, alpha = 1, alpha2 = (alpha+3)/4) // todo: saturate, light, alpha
//     if (view != null)
//         view = get(views, view) or error('Views has no view: ' + get-string(view))
//         view = clone(view)
//         view.background.color = alpha(view.background.color, alpha(view.background.color) * alpha ) if view.background.color != null
//         view.border.color     = alpha(view.border.color,     alpha(view.border.color)     * alpha2) if view.border.color     != null
//         return view
//     null

// // get-skin
// get-layout(layout)
//     if (layout != null)
//         layout = get(layouts, layout) or error('Layouts has no layout: ' + get-string(layout))
//         return layout
//     null

// get-theme
get-theme-color(key)
    if key != null
        return theme.color[get-string(key)]            or key
    null
get-theme-background-color(key)
    if key != null
        return theme.background-color[get-string(key)] or theme.color[get-string(key)] or key
    null
get-theme-background-image(key)
    if key != null
        return theme.background-image[get-string(key)] or key
    null
get-theme-border-color(key)
    if key != null
        return theme.border-color[get-string(key)]     or theme.color[get-string(key)] or key
    null
get-theme-border-radius(key)
    if key != null
        return theme.border-radius[get-string(key)]    or key
    null
