// create-skin
view-skin(color, background-color, background-image-color, border-color, border-radius)
    color                  = get-theme-color(color)
    background-color       = get-theme-background-color(background-color)
    background-image-color = get-theme-background-image-color(background-image-color)
    border-color           = get-theme-border-color(border-color)
    border-radius          = get-theme-border-radius(border-radius)
    view foreground(color, fnt(null, null, null), txt(null)), background(background-color, img(null, background-image-color, null)), border(border-color, border-radius)
// layout-skin(position, width, height, margin, border, padding)
//     layout pos(position[0], position[1], position[2], position[3], position[4]), size(width, height), box(margin, border, padding)

// add-skin
add-view-skin(skin, font = null, text = null, image = null, alpha = 1, alpha2 = (alpha+3)/4)
    view                               = get-view(skin)
    view.foreground.font.url           = font['url']        if font['url']     != null
    view.foreground.font.size          = font['size']       if font['size']    != null
    view.foreground.font.style         = font['style']      if font['style']   != null
    view.foreground.text.align         = text['align']      if text['align']   != null
    view.foreground.text.outline       = text['outline']    if text['outline'] != null
    view.foreground.text.shadow        = text['shadow']     if text['shadow']  != null
    view.background.color              = alpha(view.background.color, alpha(view.background.color) * alpha) if view.background.color != null
    view.background.image.url          = image.url          if image['url']          != null
    view.background.image.color        = image.color        if image['color']        != null
    view.background.image.scale-mode   = image.scale-mode   if image['scale-mode']   != null
    view.background.image.slice-left   = image.slice-left   if image['slice-left']   != null
    view.background.image.slice-right  = image.slice-right  if image['slice-right']  != null
    view.background.image.slice-top    = image.slice-top    if image['slice-top']    != null
    view.background.image.slice-bottom = image.slice-bottom if image['slice-bottom'] != null
    view.background.image.slice-scale  = image.slice-scale  if image['slice-scale']  != null
    view.border.color                  = alpha(view.border.color, alpha(view.border.color) * alpha2) if view.border.color != null
    add-view view
add-layout-skin(skin, position = null, width = null, height = null, margin = null, border = null, padding = null)
    layout                   = get-layout(skin)
    layout.position.position = position[0] if position[0] != null
    layout.position.left     = position[1] if position[1] != null
    layout.position.right    = position[2] if position[2] != null
    layout.position.top      = position[3] if position[3] != null
    layout.position.bottom   = position[4] if position[4] != null
    layout.size.width        = width       if width   != null
    layout.size.height       = height      if height  != null
    layout.box.margin        = margin      if margin  != null
    layout.box.border        = border      if border  != null
    layout.box.padding       = padding     if padding != null
    add-layout layout

// get-theme
get-theme-color(key)
    if key != null
        key = get-string(key)
        return theme['color'][key] or error('Theme has no color: ' + key)
    null
get-theme-background-color(key)
    if key != null
        key = get-string(key)
        return theme['background-color'][key] or theme['color'][key] or error('Theme has no background-color: ' + key)
    null
get-theme-background-image-color(key)
    if key != null
        key = get-string(key)
        return theme['background-image-color'][key] or theme['color'][key] or error('Theme has no background-image-color: ' + key)
    null
get-theme-border-color(key)
    if key != null
        key = get-string(key)
        return theme['border-color'][key] or theme['color'][key] or error('Theme has no border-color: ' + key)
    null
get-theme-border-radius(key)
    if key != null
        key = get-string(key)
        return theme['border-radius'][key] or error('Theme has no border-radius: ' + key)
    null

// get-skin
get-view(name)
    if name != null
        name = get-string(name)
        obj = views[name] or error('Views has no view: ' + name)
        return clone(obj)
    view-skin(null, null, null, null, null)
get-layout(name)
    if name != null
        name = get-string(name)
        obj = layouts[name] or error('Layouts has no layout: ' + name)
        return clone(obj)
    layout(pos(null), size(null, null), box(null, null, null))