@import "StyleSheet__Internal3"

// theme
theme0 = {
    color: {
        light:                         hsla(  0deg,   0%,  90%, 1.00),
        dark:                          hsla(  0deg,   0%,  10%, 1.00),
        effect--focus:                 hsla(200deg,  80%,  40%, 1.00),
        effect--invalid:               hsla( 20deg,  80%,  40%, 1.00),
    },
    background-color: {
        // card
        card:                          hsla(240deg,   5%,  25%, 0.75),
        card-header:                   hsla( 60deg,   5%,  65%, 0.75),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla(240deg,  10%,  10%, 0.75),
        // card
        dialog-card:                   hsla(240deg,   5%,  40%, 0.95),
        dialog-card-header:            hsla( 60deg,   5%,  65%, 0.75),
        dialog-card-header--info:      hsla(220deg,  70%,  65%, 0.75),
        dialog-card-header--warning:   hsla( 40deg,  70%,  65%, 0.75),
        dialog-card-header--error:     hsla( 10deg,  70%,  65%, 0.75),
        dialog-card-content:           hsla(  0deg,   0%,   0%, 0.00),
        dialog-card-footer:            hsla(240deg,  10%,  10%, 0.75),
        // scope
        scope:                         hsla(  0deg,   0%,   0%, 0.00),
        scope--light:                  hsla( 30deg,   5%,  80%, 0.20),
        scope--dark:                   hsla(200deg,   5%,  20%, 0.80),
        // box
        box:                           hsla(  0deg,   0%,   0%, 0.00),
        box--light:                    hsla( 30deg,  15%,  80%, 0.20),
        box--dark:                     hsla(200deg,  15%,  20%, 0.80),
    },
    background-image: {
        // card
        card:                          create-background-image(null, null, null),
        card-header:                   create-background-image(null, null, null),
        card-content:                  create-background-image(null, null, null),
        card-footer:                   create-background-image(null, null, null),
        // card
        dialog-card:                   create-background-image(null, null, null),
        dialog-card-header:            create-background-image(null, null, null),
        dialog-card-header--info:      create-background-image(null, null, null),
        dialog-card-header--warning:   create-background-image(null, null, null),
        dialog-card-header--error:     create-background-image(null, null, null),
        dialog-card-content:           create-background-image(null, null, null),
        dialog-card-footer:            create-background-image(null, null, null),
        // scope
        scope:                         create-background-image(null, null, null),
        scope--light:                  create-background-image(null, null, null),
        scope--dark:                   create-background-image(null, null, null),
        // box
        box:                           create-background-image(null, null, null), 
        box--light:                    create-background-image(null, null, null),
        box--dark:                     create-background-image(null, null, null),
    },
    border-color: {
        // card
        card:                          hsla( 35deg, 100%,  30%, 1.00),
        card-header:                   hsla( 35deg, 100%,  30%, 1.00),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla( 35deg, 100%,  30%, 1.00),
        // card
        dialog-card:                   hsla( 35deg, 100%,  30%, 1.00),
        dialog-card-header:            hsla( 35deg, 100%,  30%, 1.00),
        dialog-card-content:           hsla(  0deg,   0%,   0%, 0.00),
        dialog-card-footer:            hsla( 35deg, 100%,  30%, 1.00),
        // scope
        scope:                         hsla(  0deg,   0%,   0%, 0.00),
        scope--light:                  hsla( 35deg, 100%,  30%, 1.00),
        scope--dark:                   hsla( 35deg, 100%,  30%, 1.00),
        // box
        box:                           hsla(  0deg,   0%,   0%, 0.00),
        box--light:                    hsla( 45deg, 100%,  30%, 1.00),
        box--dark:                     hsla( 45deg, 100%,  30%, 1.00),
    },
    border-radius: {
        // card
        card:                          6px,
        card-header:                   6px 6px 0px 0px,
        card-content:                  6px,
        card-footer:                   0px 0px 6px 6px,
        // card
        dialog-card:                   6px,
        dialog-card-header:            6px 6px 0px 0px,
        dialog-card-content:           6px,
        dialog-card-footer:            0px 0px 6px 6px,
        // scope
        scope:                         4px,
        // box
        box:                           4px,
    }
}

// theme
theme1 = {
    color: {
    },
    background-color: {
        // element
        element:                       hsla(  0deg,   0%,   0%, 0.00),
        element--light:                hsla( 30deg,  30%,  90%, 0.50),
        element--dark:                 hsla(200deg,  30%,  10%, 0.50),
        element--scroll-view:          hsla(  0deg,   0%,   0%, 0.00),
        element--scroll-view--light:   hsla( 30deg,   5%,  80%, 0.20),
        element--scroll-view--dark:    hsla(200deg,   5%,  20%, 0.80),
        element--dropdown-view:        hsla(200deg,   5%,  20%, 0.80),
        element--dropdown-item:        hsla(  0deg,   0%,   0%, 0.00),
        element--dropdown-item--hover: hsla( 40deg,  60%,  40%, 1.00),
        // image
        image:                         hsla(  0deg,   0%,   0%, 0.00),
        image--light:                  hsla( 30deg,  30%,  90%, 0.80),
        image--dark:                   hsla(200deg,  30%,  10%, 0.80),
    },
    background-image: {
        // element
        element:                       create-background-image(null, null, null),
        element--light:                create-background-image(null, null, null),
        element--dark:                 create-background-image(null, null, null),
        element--scroll-view:          create-background-image(null, null, null),
        element--scroll-view--light:   create-background-image(null, null, null),
        element--scroll-view--dark:    create-background-image(null, null, null),
        element--dropdown-view:        create-background-image(null, null, null),
        element--dropdown-item:        create-background-image(null, null, null),
        // image
        image:                         create-background-image(null, null, null),
        image--light:                  create-background-image(null, null, null),
        image--dark:                   create-background-image(null, null, null),
    },
    border-color: {
        // element
        element:                       hsla(  0deg,   0%,   0%, 0.00),
        element--light:                hsla( 45deg, 100%,  15%, 1.00),
        element--dark:                 hsla( 45deg, 100%,  30%, 1.00),
        element--scroll-view:          hsla(  0deg,   0%,   0%, 0.00),
        element--scroll-view--light:   hsla( 35deg, 100%,  30%, 1.00),
        element--scroll-view--dark:    hsla( 35deg, 100%,  30%, 1.00),
        element--dropdown-view:        hsla( 35deg, 100%,  30%, 1.00),
        element--dropdown-item:        hsla(  0deg,   0%,   0%, 0.00),
        element--dropdown-item--hover: hsla( 40deg, 100%,  40%, 1.00),
        // image
        image:                         hsla(  0deg,   0%,   0%, 0.00),
        image--light:                  hsla( 45deg, 100%,  30%, 1.00),
        image--dark:                   hsla( 45deg, 100%,  30%, 1.00),
    },
    border-radius: {
        // element
        element:                       4px,
        // image
        image:                         2px,
    }
}

// theme
theme2 = {
    color: {
    },
    background-color: {
    },
    background-image: {
        // icon
        icon--dark--arrow--left:       create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla(200deg,  30%,  10%, 1.00), null),
        icon--dark--arrow--right:      create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla(200deg,  30%,  10%, 1.00), null),
        icon--dark--arrow--up:         create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla(200deg,  30%,  10%, 1.00), null),
        icon--dark--arrow--down:       create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla(200deg,  30%,  10%, 1.00), null),
        icon--dark--dropdown-arrow:    create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla(200deg,  30%,  10%, 1.00), null),
        icon--dark--checkmark:         create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla(200deg,  30%,  10%, 1.00), null),
        // icon
        icon--light--arrow--left:      create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla( 30deg,  30%,  90%, 1.00), null),
        icon--light--arrow--right:     create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla( 30deg,  30%,  90%, 1.00), null),
        icon--light--arrow--up:        create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla( 30deg,  30%,  90%, 1.00), null),
        icon--light--arrow--down:      create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla( 30deg,  30%,  90%, 1.00), null),
        icon--light--dropdown-arrow:   create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla( 30deg,  30%,  90%, 1.00), null),
        icon--light--checkmark:        create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla( 30deg,  30%,  90%, 1.00), null),
    },
    border-color: {
    },
    border-radius: {
    }
}

// theme
theme = {
    color:            merge(theme0.color,            theme1.color,            theme2.color           ),
    background-color: merge(theme0.background-color, theme1.background-color, theme2.background-color),
    background-image: merge(theme0.background-image, theme1.background-image, theme2.background-image),
    border-color:     merge(theme0.border-color,     theme1.border-color,     theme2.border-color    ),
    border-radius:    merge(theme0.border-radius,    theme1.border-radius,    theme2.border-radius   ),
}
