// add-style
add-style(selector, property, key, values)
  key = get-style-key(key)
  values = get-style-values(values)
  {replace('{key}', key, selector)}
    add-property property, values

get-style-key(key)
  key = get-string(key)
  key = replace('^(-)', 'n', key)
  key = replace('^(flex-)', '', key)
  key = replace('(%)$', '', key)
  key = replace(' ', '-', key)
  key

get-style-values(values)
  result = ()
  for value, index in values
    value = get-string(value)
    value = hsla(0deg, 0%, 90%, 1.00) if value == 'light'
    value = hsla(0deg, 0%, 10%, 1.00) if value == 'dark'
    result[index] = value
  result

add-property(property, values)
  if values != null
    {property} values

// utils
flatten()
  result = ()
  for arg in arguments
    for i in arg
      push(result, i)
  result

/* view */
add-style( '.display-{key}',                         'display',                            i, i                 ) for i in flex none
add-style( '.visibility-{key}',                      'visibility',                         i, i                 ) for i in visible hidden
add-style( '.opacity-{key}',                         'opacity',                            i, i/100             ) for i in range(0, 100)
/* view/cursor */
add-style( '.cursor-{key}',                          'cursor',                             i, i                 ) for i in arrow arrow-plus arrow-minus move-arrow rotate-arrow scale-arrow slide-arrow text link pan orbit zoom fps
/* view/foreground */
add-style( '.color-{key}',                           'color',                              i, i                 ) for i in white black light dark gray red green blue transparent
add-style( '.font-size-{key}',                       'font-size',                          i, i                 ) for i in range(25%, 400%)
add-style( '.font-style-{key}',                      '-unity-font-style',                  i, i                 ) for i in normal bold italic bold-and-italic
add-style( '.text-align-{key}',                      '-unity-text-align',                  i, i                 ) for i in upper-left upper-center upper-right middle-left middle-center middle-right lower-left lower-center lower-right
/* view/background */
add-style( '.background-color-{key}',                'background-color',                   i, i                 ) for i in white black light dark gray red green blue transparent
add-style( '.background-image-color-{key}',          '-unity-background-image-tint-color', i, i                 ) for i in white black light dark gray red green blue transparent
/* view/border */
add-style( '.border-color-{key}',                    'border-color',                       i, i                 ) for i in white black light dark gray red green blue transparent
add-style( '.border-top-color-{key}',                'border-top-color',                   i, i                 ) for i in white black light dark gray red green blue transparent
add-style( '.border-bottom-color-{key}',             'border-bottom-color',                i, i                 ) for i in white black light dark gray red green blue transparent
add-style( '.border-left-color-{key}',               'border-left-color',                  i, i                 ) for i in white black light dark gray red green blue transparent
add-style( '.border-right-color-{key}',              'border-right-color',                 i, i                 ) for i in white black light dark gray red green blue transparent
/* view/border */
add-style( '.border-radius-{key}',                   'border-radius',                      i, i                 ) for i in range(0px, 10px)
add-style( '.border-top-left-radius-{key}',          'border-top-left-radius',             i, i                 ) for i in range(0px, 10px)
add-style( '.border-top-right-radius-{key}',         'border-top-right-radius',            i, i                 ) for i in range(0px, 10px)
add-style( '.border-bottom-left-radius-{key}',       'border-bottom-left-radius',          i, i                 ) for i in range(0px, 10px)
add-style( '.border-bottom-right-radius-{key}',      'border-bottom-right-radius',         i, i                 ) for i in range(0px, 10px)

/* layout/position */
add-style( '.position-{key}',                        'position',                           i, i                 ) for i in relative absolute
add-style( '.top-{key}',                             'top',                                i, i                 ) for i in flatten(auto, range(-100%, 100%), range(-200px, 200px))
add-style( '.bottom-{key}',                          'bottom',                             i, i                 ) for i in flatten(auto, range(-100%, 100%), range(-200px, 200px))
add-style( '.left-{key}',                            'left',                               i, i                 ) for i in flatten(auto, range(-100%, 100%), range(-200px, 200px))
add-style( '.right-{key}',                           'right',                              i, i                 ) for i in flatten(auto, range(-100%, 100%), range(-200px, 200px))
/* layout/width */
add-style( '.width-{key}',                           'width',                              i, i                 ) for i in flatten(auto, range(0%,  100%), range(0px, 200px))
add-style( '.min-width-{key}',                       'min-width',                          i, i                 ) for i in flatten(auto, range(0%,  100%), range(0px, 200px))
add-style( '.max-width-{key}',                       'max-width',                          i, i                 ) for i in flatten(none, range(0%,  100%), range(0px, 200px))
/* layout/width */
add-style( '.label-width-{key} > .unity-label',      'width',                              i, i                 ) for i in flatten(auto, range(0%, 100%), range(0px, 200px))
add-style( '.min-label-width-{key} > .unity-label',  'min-width',                          i, i                 ) for i in flatten(auto, range(0%, 100%), range(0px, 200px))
add-style( '.max-label-width-{key} > .unity-label',  'max-width',                          i, i                 ) for i in flatten(none, range(0%, 100%), range(0px, 200px))
/* layout/height */
add-style( '.height-{key}',                          'height',                             i, i                 ) for i in flatten(auto, range(0%,  100%), range(0px, 200px))
add-style( '.min-height-{key}',                      'min-height',                         i, i                 ) for i in flatten(auto, range(0%,  100%), range(0px, 200px))
add-style( '.max-height-{key}',                      'max-height',                         i, i                 ) for i in flatten(none, range(0%,  100%), range(0px, 200px))
/* layout/margin */
add-style( '.margin-{key}',                          'margin',                             i, i                 ) for i in flatten(auto, range(-100%,  100%), range(-200px,  200px))
add-style( '.margin-top-{key}',                      'margin-top',                         i, i                 ) for i in flatten(auto, range(-100%,  100%), range(-200px,  200px))
add-style( '.margin-bottom-{key}',                   'margin-bottom',                      i, i                 ) for i in flatten(auto, range(-100%,  100%), range(-200px,  200px))
add-style( '.margin-left-{key}',                     'margin-left',                        i, i                 ) for i in flatten(auto, range(-100%,  100%), range(-200px,  200px))
add-style( '.margin-right-{key}',                    'margin-right',                       i, i                 ) for i in flatten(auto, range(-100%,  100%), range(-200px,  200px))
/* layout/border */
add-style( '.border-width-{key}',                    'border-width',                       i, i                 ) for i in range(0px,  10px)
add-style( '.border-top-width-{key}',                'border-top-width',                   i, i                 ) for i in range(0px,  10px)
add-style( '.border-bottom-width-{key}',             'border-bottom-width',                i, i                 ) for i in range(0px,  10px)
add-style( '.border-left-width-{key}',               'border-left-width',                  i, i                 ) for i in range(0px,  10px)
add-style( '.border-right-width-{key}',              'border-right-width',                 i, i                 ) for i in range(0px,  10px)
/* layout/padding */
add-style( '.padding-{key}',                          'padding',                           i, i                 ) for i in flatten(range(-100%,  100%), range(-200px,  200px))
add-style( '.padding-top-{key}',                      'padding-top',                       i, i                 ) for i in flatten(range(-100%,  100%), range(-200px,  200px))
add-style( '.padding-bottom-{key}',                   'padding-bottom',                    i, i                 ) for i in flatten(range(-100%,  100%), range(-200px,  200px))
add-style( '.padding-left-{key}',                     'padding-left',                      i, i                 ) for i in flatten(range(-100%,  100%), range(-200px,  200px))
add-style( '.padding-right-{key}',                    'padding-right',                     i, i                 ) for i in flatten(range(-100%,  100%), range(-200px,  200px))

/* flex */
add-style( '.grow-{key}',                            'flex-grow',                          i, i                 ) for i in range(0, 100)
add-style( '.shrink-{key}',                          'flex-shrink',                        i, i                 ) for i in range(0, 100)
add-style( '.basis-{key}',                           'flex-basis',                         i, i                 ) for i in flatten(auto, range(0%, 100%), range(0px, 200px))
add-style( '.align-self-{key}',                      'align-self',                         i, i                 ) for i in flex-start flex-end center stretch
/* flex/container */
add-style( '.{key}',                                 'flex-direction',                     i, i                 ) for i in column column-reverse row row-reverse
add-style( '.{key}',                                 'flex-wrap',                          i, i                 ) for i in nowrap wrap wrap-reverse
add-style( '.justify-content-{key}',                 'justify-content',                    i, i                 ) for i in flex-start flex-end center space-between space-around
add-style( '.align-items-{key}',                     'align-items',                        i, i                 ) for i in flex-start flex-end center stretch
add-style( '.align-content-{key}',                   'align-content',                      i, i                 ) for i in flex-start flex-end center stretch

/* transform */
add-style( '.transform-origin-{key}',                'transform-origin',                   i, i                 ) for i in center (center top) (center bottom) (center left) (center right) (top left) (top right) (bottom left) (bottom right)
add-style( '.translate-{key}',                       'translate',                          i, i                 ) for i in none
add-style( '.translate-x-{key}',                     'translate',                          i, (i  0%)           ) for i in range(-100%,   100%)
add-style( '.translate-x-{key}',                     'translate',                          i, (i 0px)           ) for i in range(-200px, 200px)
add-style( '.translate-y-{key}',                     'translate',                          i, (0%  i)           ) for i in range(-100%,   100%)
add-style( '.translate-y-{key}',                     'translate',                          i, (0px i)           ) for i in range(-200px, 200px)
add-style( '.rotate-{key}',                          'rotate',                             i, i                 ) for i in none
add-style( '.rotate-{key}',                          'rotate',                             i, i                 ) for i in range(-360deg, 360deg)
add-style( '.scale-{key}',                           'scale',                              i, i                 ) for i in none
add-style( '.scale-{key}',                           'scale',                              i, i/100             ) for i in range(25, 400)
