// @import url("unity-theme://default")
@import url("StyleSheet_Core.uss")
@import url("StyleSheet_Core2.uss")
@import url("StyleSheet_Library.uss")
@import "StyleSheet_Internal"
@import "StyleSheet_Internal2"

// view
// .view

// screen-view
// .screen-view
// .views-container
// .modal-views-container

// widget-view
// .widget-view
// .left-widget-view
// .small-widget-view
// .medium-widget-view
// .large-widget-view
// .modal-widget-view

// sub-view
// .sub-view

// card
.card
    add-view()
    add-layout()
    .header
        add-view(font: fnt(null, 140%, bold))
        add-layout()
    .content
        add-view(font: fnt(null, 100%, normal))
        add-layout()
    .footer
        add-view(font: fnt(null, 130%, bold))
        add-layout()

// dialog-card
.dialog-card
.info-dialog-card
.warning-dialog-card
.error-dialog-card
    add-view()
    add-layout()
    .header
        add-view()
        add-layout()
    .content
        add-view(font: fnt(null, 120%, bold))
        add-layout()
    .footer
        add-view()
        add-layout()

// scope
// .scope
// .column-scope
// .row-scope

// group
// .group
// .column-group
// .row-group

// box
// .unity-box

// title
.title
    add-view(font: fnt(null, 120%, bold))
    add-layout()

// main-widget-view
#main-widget-view
	add-view(bg-image: img('project://database/Assets/Project.UI/Assets.Project.UI.MainScreen/Images/Background.png', null, scale-and-crop))
	add-layout()
	transition-property scale, -unity-background-image-tint-color
	transition-duration 3s
	transition-timing-function ease

// game-widget-view
#game-widget-view
    add-view()
    add-layout()