// create-skin
create-view-skin(color, background-color, background-image-color, border-color, border-radius)
    color                  = get-theme-color(color)
    background-color       = get-theme-background-color(background-color)
    background-image-color = get-theme-background-image-color(background-image-color)
    border-color           = get-theme-border-color(border-color)
    border-radius          = get-theme-border-radius(border-radius)
    return {
        foreground: foreground(color, fnt(null, null, null), txt(null)),
        background: background(background-color, img(null, background-image-color, null)),
        border:     border(border-color, border-radius)
    }
create-layout-skin(position, width, height, margin, border, padding)
    return {
        position: pos(position[0], position[1], position[2], position[3], position[4]),
        size:     size(width, height),
        box:      box(margin, border, padding)
    }

// add-skin
add-view-skin(skin, font = null, text = null, image = null, alpha = 1, alpha2 = (alpha+3)/4)
    skin                               = get-view-skin(skin)
    skin.foreground.font.url           = font['url']        if font['url']     != null
    skin.foreground.font.size          = font['size']       if font['size']    != null
    skin.foreground.font.style         = font['style']      if font['style']   != null
    skin.foreground.text.align         = text['align']      if text['align']   != null
    skin.foreground.text.outline       = text['outline']    if text['outline'] != null
    skin.foreground.text.shadow        = text['shadow']     if text['shadow']  != null
    skin.background.color              = alpha(skin.background.color, alpha(skin.background.color) * alpha) if skin.background.color != null
    skin.background.image.url          = image.url          if image['url']          != null
    skin.background.image.color        = image.color        if image['color']        != null
    skin.background.image.scale-mode   = image.scale-mode   if image['scale-mode']   != null
    skin.background.image.slice-left   = image.slice-left   if image['slice-left']   != null
    skin.background.image.slice-right  = image.slice-right  if image['slice-right']  != null
    skin.background.image.slice-top    = image.slice-top    if image['slice-top']    != null
    skin.background.image.slice-bottom = image.slice-bottom if image['slice-bottom'] != null
    skin.background.image.slice-scale  = image.slice-scale  if image['slice-scale']  != null
    skin.border.color                  = alpha(skin.border.color, alpha(skin.border.color) * alpha2) if skin.border.color != null
    add-view skin
add-layout-skin(skin, position = null, width = null, height = null, margin = null, border = null, padding = null)
    skin                   = get-layout-skin(skin)
    skin.position.position = position[0] if position[0] != null
    skin.position.left     = position[1] if position[1] != null
    skin.position.right    = position[2] if position[2] != null
    skin.position.top      = position[3] if position[3] != null
    skin.position.bottom   = position[4] if position[4] != null
    skin.size.width        = width       if width   != null
    skin.size.height       = height      if height  != null
    skin.box.margin        = margin      if margin  != null
    skin.box.border        = border      if border  != null
    skin.box.padding       = padding     if padding != null
    add-layout skin

// get-theme-value
get-theme-color(key)
    if key != null
        key = get-string(key)
        return theme['color'][key] or error('Theme has no color: ' + key)
    null
get-theme-background-color(key)
    if key != null
        key = get-string(key)
        return theme['background-color'][key] or theme['color'][key] or error('Theme has no background-color: ' + key)
    null
get-theme-background-image-color(key)
    if key != null
        key = get-string(key)
        return theme['background-image-color'][key] or theme['color'][key] or error('Theme has no background-image-color: ' + key)
    null
get-theme-border-color(key)
    if key != null
        key = get-string(key)
        return theme['border-color'][key] or theme['color'][key] or error('Theme has no border-color: ' + key)
    null
get-theme-border-radius(key)
    if key != null
        key = get-string(key)
        return theme['border-radius'][key] or error('Theme has no border-radius: ' + key)
    null

// get-skin
get-view-skin(skin)
    if skin != null
        skin = get-string(skin)
        skin = views[skin] or error('Views has no skin: ' + skin)
        return clone(skin)
    create-view-skin(null, null, null, null, null)
get-layout-skin(skin)
    if skin != null
        skin = get-string(skin)
        skin = layouts[skin] or error('Layouts has no skin: ' + skin)
        return clone(skin)
    create-layout-skin(null, null, null, null, null, null)