@import "StyleSheet__Internal"

// theme
theme = {
    color: {
        light:                         hsla(  0deg,   0%,  90%, 1.00),
        dark:                          hsla(  0deg,   0%,  10%, 1.00),
        hover-effect:                  hsla( 40deg,  60%,  40%, 1.00),
        focus-effect:                  hsla(200deg,  80%,  40%, 1.00),
        invalid-effect:                hsla( 10deg,  80%,  40%, 1.00),
    },
    background-color: {
        default:                       transparent,
        // card
        card:                          hsla(240deg,   5%,  25%, 0.75),
        card-header:                   hsla( 60deg,   5%,  65%, 0.75),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla(240deg,  10%,  10%, 0.75),
        // card
        dialog-card:                   hsla(240deg,   5%,  40%, 0.95),
        dialog-card-header:            hsla( 60deg,   5%,  65%, 0.75),
        dialog-card-header--info:      hsla(220deg,  70%,  65%, 0.75),
        dialog-card-header--warning:   hsla( 40deg,  70%,  65%, 0.75),
        dialog-card-header--error:     hsla( 10deg,  70%,  65%, 0.75),
        dialog-card-content:           hsla(  0deg,   0%,   0%, 0.00),
        dialog-card-footer:            hsla(240deg,  10%,  10%, 0.75),
        // scope
        scope:                         hsla(  0deg,   0%,   0%, 0.00),
        light-scope:                   hsla( 30deg,   5%,  80%, 0.20),
        dark-scope:                    hsla(200deg,   5%,  20%, 0.80),
        // group
        group:                         hsla(  0deg,   0%,   0%, 0.00),
        light-group:                   hsla( 30deg,   5%,  80%, 0.20),
        dark-group:                    hsla(200deg,   5%,  20%, 0.80),
        // box
        box:                           hsla(  0deg,   0%,   0%, 0.00),
        light-box:                     hsla( 30deg,  15%,  80%, 0.20),
        dark-box:                      hsla(200deg,  15%,  20%, 0.80),
        // element
        element:                       hsla(  0deg,   0%,   0%, 0.00),
        light-element:                 hsla( 30deg,  30%,  90%, 0.50),
        dark-element:                  hsla(200deg,  30%,  10%, 0.50),
        // view
        view:                          hsla(  0deg,   0%,   0%, 0.00),
        light-view:                    hsla( 30deg,   5%,  90%, 0.20),
        dark-view:                     hsla(200deg,   5%,  10%, 0.80),
        // image
        image:                         hsla(  0deg,   0%,   0%, 0.00),
        light-image:                   hsla( 30deg,  30%,  90%, 0.80),
        dark-image:                    hsla(200deg,  30%,  10%, 0.80),
    },
    background-image: {
        default:                       img(null, null, null),
        // card
        card:                          img(null, null, null),
        card-header:                   img(null, null, null),
        card-content:                  img(null, null, null),
        card-footer:                   img(null, null, null),
        // card
        dialog-card:                   img(null, null, null),
        dialog-card-header:            img(null, null, null),
        dialog-card-header--info:      img(null, null, null),
        dialog-card-header--warning:   img(null, null, null),
        dialog-card-header--error:     img(null, null, null),
        dialog-card-content:           img(null, null, null),
        dialog-card-footer:            img(null, null, null),
        // scope
        scope:                         img(null, null, null),
        light-scope:                   img(null, null, null),
        dark-scope:                    img(null, null, null),
        // group
        group:                         img(null, null, null),
        light-group:                   img(null, null, null),
        dark-group:                    img(null, null, null),
        // box
        box:                           img(null, null, null), 
        light-box:                     img(null, null, null),
        dark-box:                      img(null, null, null),
        // element
        element:                       img(null, null, null),
        light-element:                 img(null, null, null),
        dark-element:                  img(null, null, null),
        // view
        view:                          img(null, null, null),
        light-view:                    img(null, null, null),
        dark-view:                     img(null, null, null),
        // image
        image:                         img(null, null, null),
        light-image:                   img(null, null, null),
        dark-image:                    img(null, null, null),
        // icon
        dark-arrow-icon--left:         img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla(200deg,  30%,  10%, 1.00), null),
        dark-arrow-icon--right:        img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla(200deg,  30%,  10%, 1.00), null),
        dark-arrow-icon--up:           img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla(200deg,  30%,  10%, 1.00), null),
        dark-arrow-icon--down:         img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla(200deg,  30%,  10%, 1.00), null),
        dark-dropdown-arrow-icon:      img('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla(200deg,  30%,  10%, 1.00), null),
        dark-checkmark-icon:           img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla(200deg,  30%,  10%, 1.00), null),
        // icon
        light-arrow-icon--left:        img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla( 30deg,  30%,  90%, 1.00), null),
        light-arrow-icon--right:       img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla( 30deg,  30%,  90%, 1.00), null),
        light-arrow-icon--up:          img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla( 30deg,  30%,  90%, 1.00), null),
        light-arrow-icon--down:        img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla( 30deg,  30%,  90%, 1.00), null),
        light-dropdown-arrow-icon:     img('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla( 30deg,  30%,  90%, 1.00), null),
        light-checkmark-icon:          img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla( 30deg,  30%,  90%, 1.00), null),
    },
    border-color: {
        default:                       transparent,
        // card
        card:                          hsla( 35deg, 100%,  30%, 1.00),
        card-header:                   hsla( 35deg, 100%,  30%, 1.00),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla( 35deg, 100%,  30%, 1.00),
        // card
        dialog-card:                   hsla( 35deg, 100%,  30%, 1.00),
        dialog-card-header:            hsla( 35deg, 100%,  30%, 1.00),
        dialog-card-content:           hsla(  0deg,   0%,   0%, 0.00),
        dialog-card-footer:            hsla( 35deg, 100%,  30%, 1.00),
        // scope
        scope:                         hsla(  0deg,   0%,   0%, 0.00),
        light-scope:                   hsla( 35deg, 100%,  30%, 1.00),
        dark-scope:                    hsla( 35deg, 100%,  30%, 1.00),
        // group
        group:                         hsla(  0deg,   0%,   0%, 0.00),
        light-group:                   hsla( 35deg, 100%,  30%, 1.00),
        dark-group:                    hsla( 35deg, 100%,  30%, 1.00),
        // box
        box:                           hsla(  0deg,   0%,   0%, 0.00),
        light-box:                     hsla( 45deg, 100%,  30%, 1.00),
        dark-box:                      hsla( 45deg, 100%,  30%, 1.00),
        // element
        element:                       hsla(  0deg,   0%,   0%, 0.00),
        light-element:                 hsla( 45deg, 100%,  15%, 1.00),
        dark-element:                  hsla( 45deg, 100%,  30%, 1.00),
        // view
        view:                          hsla(  0deg,   0%,   0%, 0.00),
        light-view:                    hsla( 45deg, 100%,  30%, 1.00),
        dark-view:                     hsla( 45deg, 100%,  30%, 1.00),
        // image
        image:                         hsla(  0deg,   0%,   0%, 0.00),
        light-image:                   hsla( 45deg, 100%,  30%, 1.00),
        dark-image:                    hsla( 45deg, 100%,  30%, 1.00),
    },
    border-radius: {
        default:                       0px,
        // card
        card:                          6px,
        card-header:                   6px 6px 0px 0px,
        card-content:                  6px,
        card-footer:                   0px 0px 6px 6px,
        // card
        dialog-card:                   6px,
        dialog-card-header:            6px 6px 0px 0px,
        dialog-card-content:           6px,
        dialog-card-footer:            0px 0px 6px 6px,
        // scope
        scope:                         4px,
        // group
        group:                         4px,
        // box
        box:                           4px,
        // element
        element:                       4px,
        // view
        view:                          4px,
        // image
        image:                         2px,
    }
}

// views
views = {
    default:                           create-view-skin( create-foreground(null,           null, null), create-background(default,                     default                    ), create-border(default,             default            ) ),
    // card
    card:                              create-view-skin( create-foreground(dark,           null, null), create-background(card,                        card                       ), create-border(card,                card               ) ),
    card-header:                       create-view-skin( create-foreground(dark,           null, null), create-background(card-header,                 card-header                ), create-border(card-header,         card-header        ) ),
    card-content:                      create-view-skin( create-foreground(dark,           null, null), create-background(card-content,                card-content               ), create-border(card-content,        card-content       ) ),
    card-footer:                       create-view-skin( create-foreground(dark,           null, null), create-background(card-footer,                 card-footer                ), create-border(card-footer,         card-footer        ) ),
    // card
    dialog-card:                       create-view-skin( create-foreground(dark,           null, null), create-background(dialog-card,                 dialog-card                ), create-border(dialog-card,         dialog-card        ) ),
    dialog-card-header:                create-view-skin( create-foreground(dark,           null, null), create-background(dialog-card-header,          dialog-card-header         ), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-header--info:          create-view-skin( create-foreground(dark,           null, null), create-background(dialog-card-header--info,    dialog-card-header--info   ), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-header--warning:       create-view-skin( create-foreground(dark,           null, null), create-background(dialog-card-header--warning, dialog-card-header--warning), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-header--error:         create-view-skin( create-foreground(dark,           null, null), create-background(dialog-card-header--error,   dialog-card-header--error  ), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-content:               create-view-skin( create-foreground(dark,           null, null), create-background(dialog-card-content,         dialog-card-content        ), create-border(dialog-card-content, dialog-card-content) ),
    dialog-card-footer:                create-view-skin( create-foreground(dark,           null, null), create-background(dialog-card-footer,          dialog-card-footer         ), create-border(dialog-card-footer,  dialog-card-footer ) ),
    // scope
    scope:                             create-view-skin( create-foreground(null,           null, null), create-background(scope,                       scope                      ), create-border(scope,               scope              ) ),
    light-scope:                       create-view-skin( create-foreground(dark,           null, null), create-background(light-scope,                 light-scope                ), create-border(light-scope,         scope              ) ),
    dark-scope:                        create-view-skin( create-foreground(light,          null, null), create-background(dark-scope,                  dark-scope                 ), create-border(dark-scope,          scope              ) ),
    // group         
    group:                             create-view-skin( create-foreground(null,           null, null), create-background(group,                       group                      ), create-border(group,               group              ) ),
    light-group:                       create-view-skin( create-foreground(dark,           null, null), create-background(light-group,                 light-group                ), create-border(light-group,         group              ) ),
    dark-group:                        create-view-skin( create-foreground(light,          null, null), create-background(dark-group,                  dark-group                 ), create-border(dark-group,          group              ) ),
    // box
    box:                               create-view-skin( create-foreground(null,           null, null), create-background(box,                         box                        ), create-border(box,                 box                ) ),
    light-box:                         create-view-skin( create-foreground(dark,           null, null), create-background(light-box,                   light-box                  ), create-border(light-box,           box                ) ),
    dark-box:                          create-view-skin( create-foreground(light,          null, null), create-background(dark-box,                    dark-box                   ), create-border(dark-box,            box                ) ),
    // element
    label:                             create-view-skin( create-foreground(null,           null, null), create-background(element,                     element                    ), create-border(element,             element            ) ),
    button:                            create-view-skin( create-foreground(dark,           null, null), create-background(light-element,               light-element              ), create-border(light-element,       element            ) ),
    field:                             create-view-skin( create-foreground(null,           null, null), create-background(element,                     element                    ), create-border(element,             element            ) ),
    field-label:                       create-view-skin( create-foreground(dark,           null, null), create-background(light-element,               light-element              ), create-border(light-element,       element            ) ),
    field-input:                       create-view-skin( create-foreground(light,          null, null), create-background(dark-element,                dark-element               ), create-border(dark-element,        element            ) ),
    // view
    scroll-view:                       create-view-skin( create-foreground(null,           null, null), create-background(view,                        view                       ), create-border(view,                view               ) ),
    light-scroll-view:                 create-view-skin( create-foreground(dark,           null, null), create-background(light-view,                  light-view                 ), create-border(light-view,          view               ) ),
    dark-scroll-view:                  create-view-skin( create-foreground(light,          null, null), create-background(dark-view,                   dark-view                  ), create-border(dark-view,           view               ) ),
    dropdown-view:                     create-view-skin( create-foreground(light,          null, null), create-background(dark-view,                   dark-view                  ), create-border(dark-view,           view               ) ),
    // image
    image:                             create-view-skin( create-foreground(null,           null, null), create-background(image,                       null                       ), create-border(image,               image              ) ),
    light-image:                       create-view-skin( create-foreground(null,           null, null), create-background(light-image,                 null                       ), create-border(light-image,         image              ) ),
    dark-image:                        create-view-skin( create-foreground(null,           null, null), create-background(dark-image,                  null                       ), create-border(dark-image,          image              ) ),
    // icon
    light-arrow-icon--left:            create-view-skin( create-foreground(null,           null, null), create-background(null,                        light-arrow-icon--left     ), create-border(null,                null               ) ),
    light-arrow-icon--right:           create-view-skin( create-foreground(null,           null, null), create-background(null,                        light-arrow-icon--right    ), create-border(null,                null               ) ),
    light-arrow-icon--up:              create-view-skin( create-foreground(null,           null, null), create-background(null,                        light-arrow-icon--up       ), create-border(null,                null               ) ),
    light-arrow-icon--down:            create-view-skin( create-foreground(null,           null, null), create-background(null,                        light-arrow-icon--down     ), create-border(null,                null               ) ),
    light-dropdown-arrow-icon:         create-view-skin( create-foreground(null,           null, null), create-background(null,                        light-dropdown-arrow-icon  ), create-border(null,                null               ) ),
    light-checkmark-icon:              create-view-skin( create-foreground(null,           null, null), create-background(null,                        light-checkmark-icon       ), create-border(null,                null               ) ),
    // icon
    dark-arrow-icon--left:             create-view-skin( create-foreground(null,           null, null), create-background(null,                        dark-arrow-icon--left      ), create-border(null,                null               ) ),
    dark-arrow-icon--right:            create-view-skin( create-foreground(null,           null, null), create-background(null,                        dark-arrow-icon--right     ), create-border(null,                null               ) ),
    dark-arrow-icon--up:               create-view-skin( create-foreground(null,           null, null), create-background(null,                        dark-arrow-icon--up        ), create-border(null,                null               ) ),
    dark-arrow-icon--down:             create-view-skin( create-foreground(null,           null, null), create-background(null,                        dark-arrow-icon--down      ), create-border(null,                null               ) ),
    dark-dropdown-arrow-icon:          create-view-skin( create-foreground(null,           null, null), create-background(null,                        dark-dropdown-arrow-icon   ), create-border(null,                null               ) ),
    dark-checkmark-icon:               create-view-skin( create-foreground(null,           null, null), create-background(null,                        dark-checkmark-icon        ), create-border(null,                null               ) ),
    // effect
    hover-effect:                      create-view-skin( create-foreground(null,           null, null), create-background(hover-effect,                null                       ), create-border(null,                null               ) ),
    focus-effect:                      create-view-skin( create-foreground(focus-effect,   null, null), create-background(null,                        null                       ), create-border(focus-effect,        null               ) ),
    focus-effect--without-foreground:  create-view-skin( create-foreground(null,           null, null), create-background(null,                        null                       ), create-border(focus-effect,        null               ) ),
    invalid-effect:                    create-view-skin( create-foreground(invalid-effect, null, null), create-background(null,                        null                       ), create-border(invalid-effect,      null               ) ),
    invalid-effect--without-foreground:create-view-skin( create-foreground(null,           null, null), create-background(null,                        null                       ), create-border(invalid-effect,      null               ) ),
}

// layouts
layouts = {
    default:                           create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (0px                )) ),
    // card
    card:                              create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) ),
    card-header:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px 0px 0px 1px), (12px 12px 10px 10px)) ),
    card-content:                      create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (24px 24px 20px 20px)) ),
    card-footer:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px 0px 1px 0px), (24px 24px 20px 20px)) ),
    // scope
    scope:                             create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), ( 0px  0px  0px  0px)) ),
    small-scope:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), ( 6px  6px  5px  5px)) ),
    medium-scope:                      create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (12px 12px 10px 10px)) ),
    large-scope:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (24px 24px 20px 20px)) ),
    // group
    group:                             create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 0px  0px  0px  0px)) ),
    small-group:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 6px  6px  5px  5px)) ),
    medium-group:                      create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    large-group:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (24px 24px 20px 20px)) ),
    // box
    box:                               create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 0px  0px  0px  0px)) ),
    small-box:                         create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 6px  6px  5px  5px)) ),
    medium-box:                        create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    large-box:                         create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (24px 24px 20px 20px)) ),
    // element
    label:                             create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    button:                            create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    field:                             create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (0px            ), (0px                )) ),
    field-label:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px 2px 0px 0px), (1px            ), (12px 12px 10px 10px)) ),
    field-input:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px 0px 0px 0px), (1px            ), (12px 12px 10px 10px)) ),
    // view
    scroll-view:                       create-layout-skin( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (0px                )) ),
    dropdown-view:                     create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) ),
    // image
    image:                             create-layout-skin( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) ),
}

// add-element
add-element(view, font = null, text = null, effect = null)
    if effect == null
        add-skin(view, font: font, text: text)
    else
        add-skin(view, saturation: 1.0, lightness: 2.0, alpha: 1) if effect == 'hover'
        add-skin(view, saturation: 0.9, lightness: 0.9, alpha: 1) if effect == 'active'
        add-skin(focus-effect)                                    if effect == 'focus'
        add-skin(focus-effect--without-foreground)                if effect == 'focus-without-foreground'
        add-skin(invalid-effect)                                  if effect == 'invalid'
        add-skin(invalid-effect--without-foreground)              if effect == 'invalid-without-foreground'

// add-component
add-component(view, position = null, size = null, box = null)
    position = position or null
    width    = size[0]  or auto
    height   = size[1]  or auto
    margin   = box[0]   or 0px
    border   = box[1]   or 0px
    padding  = box[2]   or 0px
    padding  = (6px  6px  5px  5px ) if padding == 'small'
    padding  = (12px 12px 10px 10px) if padding == 'medium'
    padding  = (24px 24px 20px 20px) if padding == 'large'
    add-skin(view)
    add-skin2(null, position, width, height, margin, border, padding)

// add-image
add-image(view, position, size, box, effect = null)
    if effect == null
        position = position or null
        width    = size[0]  or auto
        height   = size[1]  or auto
        margin   = box[0]   or 0px
        border   = box[1]   or 1px
        padding  = box[2]   or 0px
        add-skin(view[0])
        add-skin(view[1])
        add-skin2(null, position, width, height, margin, border, padding)
    else
        add-skin(view[0], saturation: 1.0, lightness: 2.0, alpha: 1) if effect == 'hover'
        add-skin(view[0], saturation: 0.9, lightness: 0.9, alpha: 1) if effect == 'active'
        add-skin(focus-effect)                                       if effect == 'focus'
        add-skin(focus-effect--without-foreground)                   if effect == 'focus-without-foreground'
        add-skin(invalid-effect)                                     if effect == 'invalid'
        add-skin(invalid-effect--without-foreground)                 if effect == 'invalid-without-foreground'

// add-skin
add-skin(view, color = null, font = null, text = null, bg-color = null, bg-image = null, bd-color = null, bd-radius = null, saturation = 1, lightness = 1, alpha = 1)
    if view != null
        view = views[get-string(view)] or error('Views has no view: ' + get-string(view))
        view = clone(view)
        if view.background.color != null
            view.background.color = saturation(view.background.color, saturation(view.background.color) * saturation)
            view.background.color = lightness( view.background.color, lightness( view.background.color) * lightness )
            view.background.color = alpha(     view.background.color, alpha(     view.background.color) * alpha     )
        if view.border.color != null
            view.border.color = saturation(view.border.color, saturation(view.border.color) * saturation )
            view.border.color = lightness( view.border.color, lightness( view.border.color) * lightness  )
            view.border.color = alpha(     view.border.color, alpha(     view.border.color) * (alpha+3)/4)
        add-view-skin view
    add-view color, font, text, bg-color, bg-image, bd-color, bd-radius

// add-skin2
add-skin2(layout, position = null, width = null, height = null, margin = null, border = null, padding = null)
    if layout != null
        layout = layouts[get-string(layout)] or error('Layouts has no layout: ' + get-string(layout))
        add-layout-skin layout
    add-layout position, width, height, margin, border, padding
