@import "StyleSheet_Internal"
@import "StyleSheet_Internal2"

theme = {
    color: {
        light:                         hsla(  0deg,   0%,  90%, 1.00),
        dark:                          hsla(  0deg,   0%,  10%, 1.00),
    },
    background-color: {
        // card
        card:                          hsla(240deg,   5%,  25%, 0.75),
        card-header:                   hsla( 60deg,   5%,  65%, 0.75),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla(240deg,  10%,  10%, 0.75),
        // dialog-card
        dialog-card:                   hsla(240deg,   5%,  25%, 0.75),
        dialog-card-header:            hsla( 60deg,   5%,  65%, 0.75),
        dialog-card-header--info:      hsla(220deg,  70%,  65%, 0.75),
        dialog-card-header--warning:   hsla( 40deg,  70%,  65%, 0.75),
        dialog-card-header--error:     hsla( 10deg,  70%,  65%, 0.75),
        dialog-card-content:           hsla(  0deg,   0%,   0%, 0.00),
        dialog-card-footer:            hsla(240deg,  10%,  10%, 0.75),
        // scope
        scope:                         hsla(  0deg,   0%,   0%, 0.00),
        // group
        group:                         hsla(  0deg,   0%,   0%, 0.00),
        light-group:                   hsla( 30deg,   5%,  80%, 0.20),
        dark-group:                    hsla(200deg,   5%,  20%, 0.80),
        // box
        box:                           hsla(  0deg,   0%,   0%, 0.00), 
        light-box:                     hsla( 30deg,  15%,  80%, 0.20),
        dark-box:                      hsla(200deg,  15%,  20%, 0.80),
    },
    background-image: {
    },
    border-color: {
        // card
        card:                          hsla( 35deg, 100%,  30%, 1.00),
        card-header:                   hsla( 35deg, 100%,  30%, 1.00),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla( 35deg, 100%,  30%, 1.00),
        // dialog-card
        dialog-card:                   hsla( 35deg, 100%,  30%, 1.00),
        dialog-card-header:            hsla( 35deg, 100%,  30%, 1.00),
        dialog-card-content:           hsla(  0deg,   0%,   0%, 0.00),
        dialog-card-footer:            hsla( 35deg, 100%,  30%, 1.00),
        // scope
        scope:                         hsla(  0deg,   0%,   0%, 0.00),
        // group
        group:                         hsla(  0deg,   0%,   0%, 0.00),
        light-group:                   hsla( 35deg, 100%,  30%, 1.00),
        dark-group:                    hsla( 35deg, 100%,  30%, 1.00),
        // box
        box:                           hsla(  0deg,   0%,   0%, 0.00),
        light-box:                     hsla( 45deg, 100%,  30%, 1.00),
        dark-box:                      hsla( 45deg, 100%,  30%, 1.00),
    },
    border-radius: {
        // card
        card:                          6px,
        card-header:                   6px 6px 0px 0px,
        card-content:                  6px,
        card-footer:                   0px 0px 6px 6px,
        // dialog-card
        dialog-card:                   6px,
        dialog-card-header:            6px 6px 0px 0px,
        dialog-card-content:           6px,
        dialog-card-footer:            0px 0px 6px 6px,
        // scope
        scope:                         0px,
        // group
        group:                         6px,
        // box
        box:                           4px,
    }
}
views = {
    // card
    card:                              create-view( create-foreground(dark,  fnt(), txt()), create-background(card,                        null), create-border(card,                card               ) ),
    card-header:                       create-view( create-foreground(dark,  fnt(), txt()), create-background(card-header,                 null), create-border(card-header,         card-header        ) ),
    card-content:                      create-view( create-foreground(dark,  fnt(), txt()), create-background(card-content,                null), create-border(card-content,        card-content       ) ),
    card-footer:                       create-view( create-foreground(dark,  fnt(), txt()), create-background(card-footer,                 null), create-border(card-footer,         card-footer        ) ),
    // dialog-card
    dialog-card:                       create-view( create-foreground(dark,  fnt(), txt()), create-background(dialog-card,                 null), create-border(dialog-card,         dialog-card        ) ),
    dialog-card-header:                create-view( create-foreground(dark,  fnt(), txt()), create-background(dialog-card-header,          null), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-header--info:          create-view( create-foreground(dark,  fnt(), txt()), create-background(dialog-card-header--info,    null), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-header--warning:       create-view( create-foreground(dark,  fnt(), txt()), create-background(dialog-card-header--warning, null), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-header--error:         create-view( create-foreground(dark,  fnt(), txt()), create-background(dialog-card-header--error,   null), create-border(dialog-card-header,  dialog-card-header ) ),
    dialog-card-content:               create-view( create-foreground(dark,  fnt(), txt()), create-background(dialog-card-content,         null), create-border(dialog-card-content, dialog-card-content) ),
    dialog-card-footer:                create-view( create-foreground(dark,  fnt(), txt()), create-background(dialog-card-footer,          null), create-border(dialog-card-footer,  dialog-card-footer ) ),
    // scope
    scope:                             create-view( create-foreground(null,  fnt(), txt()), create-background(scope,                       null), create-border(scope,               scope              ) ),
    // group
    group:                             create-view( create-foreground(null,  fnt(), txt()), create-background(group,                       null), create-border(group,               group              ) ),
    light-group:                       create-view( create-foreground(dark,  fnt(), txt()), create-background(light-group,                 null), create-border(light-group,         group              ) ),
    dark-group:                        create-view( create-foreground(light, fnt(), txt()), create-background(dark-group,                  null), create-border(dark-group,          group              ) ),
    // box
    box:                               create-view( create-foreground(null,  fnt(), txt()), create-background(box,                         null), create-border(box,                 box                ) ),
    light-box:                         create-view( create-foreground(dark,  fnt(), txt()), create-background(light-box,                   null), create-border(light-box,           box                ) ),
    dark-box:                          create-view( create-foreground(light, fnt(), txt()), create-background(dark-box,                    null), create-border(dark-box,            box                ) )
}
layouts = {
    // card
    card:                              create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) ),
    card-header:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px 0px 0px 1px), (12px 12px 10px 10px)) ),
    card-content:                      create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (24px 24px 20px 20px)) ),
    card-footer:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px 0px 1px 0px), (24px 24px 20px 20px)) ),
    // scope
    scope:                             create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), ( 0px  0px  0px  0px)) ),
    small-scope:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), ( 6px  6px  5px  5px)) ),
    medium-scope:                      create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (12px 12px 10px 10px)) ),
    large-scope:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (24px 24px 20px 20px)) ),
    // group
    group:                             create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 0px  0px  0px  0px)) ),
    small-group:                       create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 6px  6px  5px  5px)) ),
    medium-group:                      create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    large-group:                       create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (24px 24px 20px 20px)) ),
    // box
    box:                               create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 0px  0px  0px  0px)) ),
    small-box:                         create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 6px  6px  5px  5px)) ),
    medium-box:                        create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    large-box:                         create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (24px 24px 20px 20px)) )
}

// view
view()
    add-layout-position(null)
    add-layout-size(null, null)
    add-layout-box(null, null, null)

// screen-view
screen-view()
    add-layout-position(absolute)
    add-layout-size(100%, 100%)
    add-layout-box(0px, 0px, 0px)

// widget-view
widget-view()
    add-layout-position(absolute)
    add-layout-size(100%, 100%)
    add-layout-box(0px, 0px, 0px)
    translate 0% 0%
left-widget-view()
    add-layout-position(absolute, right: 60%, bottom: 10%)
    add-layout-size(600px, auto)
    add-layout-box(0px, 0px, 0px)
    translate 0% 0%
small-widget-view()
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1400px, 700px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
medium-widget-view()
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1600px, 800px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
large-widget-view()
    add-layout-position(absolute, left: 50%, top: 50%)
    add-layout-size(1800px, 900px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%
modal-widget-view()
    add-layout-position(absolute, left: 50%, top: 49%)
    add-layout-size(1000px, 500px)
    add-layout-box(0px, 0px, 0px)
    translate -50% -50%

// sub-view
sub-view()
    add-layout-position(null)
    add-layout-size(null, null)
    add-layout-box(null, null, null)

// card
card()
    add-view(card)
    add-layout(card)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
card-header()
    add-view(card-header)
    add-layout(card-header)
    add-flex(0, 0, auto, auto)
    add-flex2(row, center, center)
card-content()
    add-view(card-content)
    add-layout(card-content)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
card-footer()
    add-view(card-footer)
    add-layout(card-footer)
    add-flex(0, 0, auto, auto)
    add-flex2(row, space-around, center)

// dialog-card
dialog-card()
    add-view(dialog-card)
    add-layout(card)
dialog-card-header()
    add-view(dialog-card-header)
    add-layout(card-header)
dialog-card-header--info()
    add-view(dialog-card-header--info)
    add-layout(card-header)
dialog-card-header--warning()
    add-view(dialog-card-header--warning)
    add-layout(card-header)
dialog-card-header--error()
    add-view(dialog-card-header--error)
    add-layout(card-header)
dialog-card-content()
    add-view(dialog-card-content)
    add-layout(card-content)
    add-flex(null, null, null, null)
    add-flex2(null, center, center)
dialog-card-footer()
    add-view(dialog-card-footer)
    add-layout(card-footer)

// scope
scope()
    add-view(scope)
    add-layout(scope)
    &.small
        add-view(null)
        add-layout(small-scope)
    &.medium
        add-view(null)
        add-layout(medium-scope)
    &.large
        add-view(null)
        add-layout(large-scope)
column-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
row-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)

// group
group()
    add-view(group)
    add-layout(group)
    &.light
        add-view(light-group, alpha: 0.00)
    &.light-1
        add-view(light-group, alpha: 0.10)
    &.light-2
        add-view(light-group, alpha: 0.20)
    &.light-3
        add-view(light-group, alpha: 0.30)
    &.light-4
        add-view(light-group, alpha: 0.40)
    &.light-5
        add-view(light-group, alpha: 0.50)
    &.light-6
        add-view(light-group, alpha: 0.60)
    &.light-7
        add-view(light-group, alpha: 0.70)
    &.light-8
        add-view(light-group, alpha: 0.80)
    &.light-9
        add-view(light-group, alpha: 0.90)
    &.light-10
        add-view(light-group, alpha: 1.00)
    &.dark
        add-view(dark-group, alpha: 0.00)
    &.dark-1
        add-view(dark-group, alpha: 0.10)
    &.dark-2
        add-view(dark-group, alpha: 0.20)
    &.dark-3
        add-view(dark-group, alpha: 0.30)
    &.dark-4
        add-view(dark-group, alpha: 0.40)
    &.dark-5
        add-view(dark-group, alpha: 0.50)
    &.dark-6
        add-view(dark-group, alpha: 0.60)
    &.dark-7
        add-view(dark-group, alpha: 0.70)
    &.dark-8
        add-view(dark-group, alpha: 0.80)
    &.dark-9
        add-view(dark-group, alpha: 0.90)
    &.dark-10
        add-view(dark-group, alpha: 1.00)
    &.small
        add-view(null)
        add-layout(small-group)
    &.medium
        add-view(null)
        add-layout(medium-group)
    &.large
        add-view(null)
        add-layout(large-group)
column-group()
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
row-group()
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)

// box
box()
    add-view(box)
    add-layout(box)
    &.light
        add-view(light-box, alpha: 0.00)
    &.light-1
        add-view(light-box, alpha: 0.10)
    &.light-2
        add-view(light-box, alpha: 0.20)
    &.light-3
        add-view(light-box, alpha: 0.30)
    &.light-4
        add-view(light-box, alpha: 0.40)
    &.light-5
        add-view(light-box, alpha: 0.50)
    &.light-6
        add-view(light-box, alpha: 0.60)
    &.light-7
        add-view(light-box, alpha: 0.70)
    &.light-8
        add-view(light-box, alpha: 0.80)
    &.light-9
        add-view(light-box, alpha: 0.90)
    &.light-10
        add-view(light-box, alpha: 1.00)
    &.dark
        add-view(dark-box, alpha: 0.00)
    &.dark-1
        add-view(dark-box, alpha: 0.10)
    &.dark-2
        add-view(dark-box, alpha: 0.20)
    &.dark-3
        add-view(dark-box, alpha: 0.30)
    &.dark-4
        add-view(dark-box, alpha: 0.40)
    &.dark-5
        add-view(dark-box, alpha: 0.50)
    &.dark-6
        add-view(dark-box, alpha: 0.60)
    &.dark-7
        add-view(dark-box, alpha: 0.70)
    &.dark-8
        add-view(dark-box, alpha: 0.80)
    &.dark-9
        add-view(dark-box, alpha: 0.90)
    &.dark-10
        add-view(dark-box, alpha: 1.00)
    &.small
        add-view(null)
        add-layout(small-box)
    &.medium
        add-view(null)
        add-layout(medium-box)
    &.large
        add-view(null)
        add-layout(large-box)

// view
.view
    view()

// screen-view
.screen-view
.views-container
.modal-views-container
    screen-view()

// widget-view
.widget-view
    widget-view()
.left-widget-view
    left-widget-view()
.small-widget-view
    small-widget-view()
.medium-widget-view
    medium-widget-view()
.large-widget-view
    large-widget-view()
.modal-widget-view
    modal-widget-view()

// sub-view
.sub-view
    sub-view()

// card
.card
    card()
.header
    card-header()
.content
    card-content()
.footer
    card-footer()
    *
        add-layout-size(25%, null)

// dialog-card
.dialog-card
    dialog-card()
    .header
        dialog-card-header()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()

// info-dialog-card
.info-dialog-card
    .header
        dialog-card-header--info()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()

// warning-dialog-card
.warning-dialog-card
    .header
        dialog-card-header--warning()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()

// error-dialog-card
.error-dialog-card
    .header
        dialog-card-header--error()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()

// scope
.scope
    scope()
.column-scope
    column-scope()
.row-scope
    row-scope()

// group
.group
    group()
.column-group
    column-group()
.row-group
    row-group()

// box
.unity-box
    box()
