@import "StyleSheet__Internal2"

// add-view
add-view(color = null, font = null, text = null, background-color = null, background-image = null, border-color = null, border-radius = null)
    add-style create-view(color, font, text, background-color, background-image, border-color, border-radius)
// add-view/foreground
add-view-foreground(color, font, text)
    add-style create-foreground(color, font, text)
// add-view/background
add-view-background(background-color, background-image)
    add-style create-background(background-color, background-image)
// add-view/border
add-view-border(border-color, border-radius)
    add-style create-border(border-color, border-radius)

// add-layout
add-layout(position = null, width = null, height = null, margin = null, border = null, padding = null)
    add-style create-layout(position, width, height, margin, border, padding)
// add-layout/position
add-layout-position(position, left = null, right = null, top = null, bottom = null)
    add-style create-position(position, left, right, top, bottom)
// add-layout/size
add-layout-size(width, height)
    add-style create-size(width, height)
// add-layout/box
add-layout-box(margin, border, padding)
    add-style create-box(margin, border, padding)

// add-flex
add-flex(flex-grow, flex-shrink, flex-basis, align-self)
    add-style create-flex(flex-grow, flex-shrink, flex-basis, align-self)
add-flex2(flex-direction, justify-content, align-items)
    add-style create-flex2(flex-direction, justify-content, align-items)

// add-skin1
add-skin1(effect, view, objects...)
    add-style get-view-skin(view[0])
    add-style get-view-skin(view[1])
    add-style objects

// add-skin1
add-skin1-light(effect, view)
    for i in 0..10
        alpha  = i / 10
        alpha2 = (alpha+3)/4
        &.light-{i}
            skin = get-view-skin(view)
            skin.background-color    = alpha(skin.background-color,    alpha(skin.background-color   ) * alpha )
            skin.border-color        = alpha(skin.border-color,        alpha(skin.border-color       ) * alpha2) if has(skin, 'border-color'       )
            skin.border-left-color   = alpha(skin.border-left-color,   alpha(skin.border-left-color  ) * alpha2) if has(skin, 'border-left-color'  )
            skin.border-right-color  = alpha(skin.border-right-color,  alpha(skin.border-right-color ) * alpha2) if has(skin, 'border-right-color' )
            skin.border-top-color    = alpha(skin.border-top-color,    alpha(skin.border-top-color   ) * alpha2) if has(skin, 'border-top-color'   )
            skin.border-bottom-color = alpha(skin.border-bottom-color, alpha(skin.border-bottom-color) * alpha2) if has(skin, 'border-bottom-color')
            add-style skin
add-skin1-dark(effect, view)
    for i in 0..10
        alpha  = i / 10
        alpha2 = (alpha+3)/4
        &.dark-{i}
            skin = get-view-skin(view)
            skin.background-color    = alpha(skin.background-color,    alpha(skin.background-color   ) * alpha )
            skin.border-color        = alpha(skin.border-color,        alpha(skin.border-color       ) * alpha2) if has(skin, 'border-color'       )
            skin.border-left-color   = alpha(skin.border-left-color,   alpha(skin.border-left-color  ) * alpha2) if has(skin, 'border-left-color'  )
            skin.border-right-color  = alpha(skin.border-right-color,  alpha(skin.border-right-color ) * alpha2) if has(skin, 'border-right-color' )
            skin.border-top-color    = alpha(skin.border-top-color,    alpha(skin.border-top-color   ) * alpha2) if has(skin, 'border-top-color'   )
            skin.border-bottom-color = alpha(skin.border-bottom-color, alpha(skin.border-bottom-color) * alpha2) if has(skin, 'border-bottom-color')
            add-style skin

// add-skin2
add-skin2(effect, layout, objects...)
    add-style get-layout-skin(layout)
    add-style objects

// add-skin2
add-skin2-small(effect, layout)
    &.small
        add-style get-layout-skin(layout)
add-skin2-medium(effect, layout)
    &.medium
        add-style get-layout-skin(layout)
add-skin2-large(effect, layout)
    &.large
        add-style get-layout-skin(layout)

// add-skin3
add-skin3-flex(effect, flex-grow, flex-shrink, flex-basis, align-self)
    add-style create-flex(flex-grow, flex-shrink, flex-basis, align-self)

// add-skin3
add-skin3-flex2(effect, flex-direction, justify-content, align-items)
    add-style create-flex2(flex-direction, justify-content, align-items)
