// create-skin
create-view-skin(color, background-color, background-image-color, border-color, border-radius)
    return {
        foreground: {
            color: get-theme-color(color),
            font:  null,
            text:  null
        },
        background: {
            color: get-theme-background-color(background-color),
            image: {
                url: null,
                color: get-theme-background-image-color(background-image-color),
                scale-mode: null
            }
        },
        border: {
            color:  get-theme-border-color(border-color),
            radius: get-theme-border-radius(border-radius)
        }
    }
create-layout-skin(position, width, height, margin, border, padding)
    return {
        position: {
            position: position
        },
        size: {
            width:  width,
            height: height
        },
        box: {
            margin:  margin,
            border:  border,
            padding: padding
        }
    }

// skin
skin(skin, font = null, text = null, image = null, alpha = 1)
    skin = get-view-skin(skin)
    //
    color =         get(skin, 'foreground', 'color')
    font  = font or get(skin, 'foreground', 'font' )
    text  = text or get(skin, 'foreground', 'text' )
    //
    background-color = get(skin, 'background', 'color')
    background-image = {
        url:        get(image, 'url')        or get(skin, 'background', 'image', 'url'       ),
        color:      get(image, 'color')      or get(skin, 'background', 'image', 'color'     ),
        scale-mode: get(image, 'scale-mode') or get(skin, 'background', 'image', 'scale-mode')
    }
    //
    border-color  = get(skin, 'border', 'color' )
    border-radius = get(skin, 'border', 'radius')
    //
    background-color = alpha(background-color, alpha(background-color) * alpha        ) if background-color != null
    border-color     = alpha(border-color,     alpha(border-color)     * ((alpha+3)/4)) if border-color != null
    view-foreground color, font, text
    view-background background-color, background-image
    view-border     border-color, border-radius
skin2(skin, position = null, width = null, height = null, margin = null, border = null, padding = null)
    skin = get-layout-skin(skin)
    //
    pos    = get(position, 0) or get(skin, 'position', 'position', 0)
    left   = get(position, 1) or get(skin, 'position', 'position', 1)
    right  = get(position, 2) or get(skin, 'position', 'position', 2)
    top    = get(position, 3) or get(skin, 'position', 'position', 3)
    bottom = get(position, 4) or get(skin, 'position', 'position', 4)
    //
    width  = width  or get(skin, 'size', 'width' )
    height = height or get(skin, 'size', 'height')
    //
    margin  = margin  or get(skin, 'box', 'margin' )
    border  = border  or get(skin, 'box', 'border' )
    padding = padding or get(skin, 'box', 'padding')
    //
    layout-position pos, left, right, top, bottom
    layout-size     width, height
    layout-box      margin, border, padding
effect(effect)
    skin(effect)

// get-skin
get-view-skin(skin)
    if skin != null
        skin = get-string(skin)
        skin = view-skins[skin] or error('View skin is not found: ' + skin)
        return skin
    return null
get-layout-skin(skin)
    if skin != null
        skin = get-string(skin)
        skin = layout-skins[skin] or error('Layout skin is not found: ' + skin)
        return skin
    return null

// get-theme-value
get-theme-color(key)
    if key != null
        key = get-string(key)
        return theme['color'][key] or error('Theme has no color: ' + key)
    null
get-theme-background-color(key)
    if key != null
        key = get-string(key)
        return theme['background-color'][key] or theme['color'][key] or error('Theme has no background-color: ' + key)
    null
get-theme-background-image-color(key)
    if key != null
        key = get-string(key)
        return theme['background-image-color'][key] or theme['color'][key] or error('Theme has no background-image-color: ' + key)
    null
get-theme-border-color(key)
    if key != null
        key = get-string(key)
        return theme['border-color'][key] or theme['color'][key] or error('Theme has no border-color: ' + key)
    null
get-theme-border-radius(key)
    if key != null
        key = get-string(key)
        return theme['border-radius'][key] or error('Theme has no border-radius: ' + key)
    null