// create-view
create-view(foreground, background, border)
    return {
        foreground: foreground,
        background: background,
        border:     border
    }
create-foreground(color, font, text)
    return {
        color: get-theme-color(color),
        font:  font,
        text:  text
    }
create-background(color, image_)
    return {
        color: get-theme-background-color(color),
        image: get-theme-background-image(image_)
    }
create-border(color, radius)
    return {
        color:  get-theme-border-color(color),
        radius: get-theme-border-radius(radius)
    }
fnt(url = null, size = null, style = null)
    return {
        url:   url,
        size:  size,
        style: style
    }
txt(align = null, outline = null, shadow = null)
    return {
        align:   align,
        outline: outline,
        shadow:  shadow
    }
img(url = null, color = null, scale-mode = null, slice-left = null, slice-right = null, slice-top = null, slice-bottom = null, slice-scale = null)
    return {
        url:          url,
        color:        color,
        scale-mode:   scale-mode,
        slice-left:   slice-left,
        slice-right:  slice-right,
        slice-top:    slice-top,
        slice-bottom: slice-bottom,
        slice-scale:  slice-scale
    }

// create-layout
create-layout(position, size, box)
    return {
        position: position,
        size:     size,
        box:      box
    }
create-position(position, left = null, right = null, top = null, bottom = null)
    return {
        position: position[0],
        left:     left   or position[1],
        right:    right  or position[2],
        top:      top    or position[3],
        bottom:   bottom or position[4]
    }
create-size(width, height)
    return {
        width:  width,
        height: height
    }
create-box(margin, border, padding)
    return {
        margin:  margin,
        border:  border,
        padding: padding
    }

// get-theme
get-theme-color(key)
    if key != null
        return get(theme.color, key) if contains(theme.color, key)
        error('Theme has no color: ' + key)
    null
// get-theme/background
get-theme-background-color(key)
    if key != null
        return get(theme.background-color, key) if contains(theme.background-color, key)
        return get(theme.color,            key) if contains(theme.color,            key)
        error('Theme has no background-color: ' + key)
    null
get-theme-background-image(key)
    if key != null
        return get(theme.background-image, key) if contains(theme.background-image, key)                              
        error('Theme has no background-image: ' + key)
    null
// get-theme/border
get-theme-border-color(key)
    if key != null
        return get(theme.border-color, key) if contains(theme.border-color, key)
        return get(theme.color,        key) if contains(theme.color,        key)
        error('Theme has no border-color: ' + key)
    null
get-theme-border-radius(key)
    if key != null
        return get(theme.border-radius, key) if contains(theme.border-radius, key)                              
        error('Theme has no border-radius: ' + key)
    null

// helpers
contains(obj, key)
    get-string(key) in obj
get(obj, key)
    obj[get-string(key)]