@import "StyleSheet_Internal"
@import "StyleSheet_Internal2"

theme = {
    color: {
        light:                         hsla(  0deg,   0%,  90%, 1.00),
        dark:                          hsla(  0deg,   0%,  10%, 1.00),
        hover-effect:                  hsla( 40deg,  60%,  40%, 1.00),
        focus-effect:                  hsla(200deg,  80%,  40%, 1.00),
        invalid-effect:                hsla( 10deg,  80%,  40%, 1.00),
    },
    background-color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        // element
        light-element:                 hsla( 30deg,  30%,  90%, 0.50),
        dark-element:                  hsla(200deg,  30%,  10%, 0.50),
        // view
        light-view:                    hsla( 30deg,   5%,  90%, 0.20),
        dark-view:                     hsla(200deg,   5%,  10%, 0.80),
        // component
        component:                     hsla(  0deg,   0%,   0%, 0.00),
        light-image:                   hsla(  0deg,   0%,   0%, 0.00),
        dark-image:                    hsla(  0deg,   0%,   0%, 0.00),
        light-icon:                    hsla( 30deg,  30%,  90%, 0.80),
        dark-icon:                     hsla(200deg,  30%,  10%, 0.80),
    },
    background-image: {
        // element
        // view
        // component
        component:                     img(null, null,                           null),
        light-image:                   img(null, hsla( 30deg,  30%,  90%, 1.00), null),
        dark-image:                    img(null, hsla(200deg,  30%,  10%, 1.00), null),
        light-icon:                    img(null, hsla( 30deg,  30%,  90%, 1.00), null),
        dark-icon:                     img(null, hsla(200deg,  30%,  10%, 1.00), null),
    },
    border-color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        // element
        light-element:                 hsla( 45deg, 100%,  15%, 1.00),
        dark-element:                  hsla( 45deg, 100%,  30%, 1.00),
        // view
        light-view:                    hsla( 45deg, 100%,  30%, 1.00),
        dark-view:                     hsla( 45deg, 100%,  30%, 1.00),
        // component
        component:                     hsla(  0deg,   0%,   0%, 0.00),
        light-image:                   hsla(  0deg,   0%,   0%, 0.00),
        dark-image:                    hsla(  0deg,   0%,   0%, 0.00),
        light-icon:                    hsla( 45deg, 100%,  30%, 1.00),
        dark-icon:                     hsla( 45deg, 100%,  30%, 1.00),
    },
    border-radius: {
        // element
        element:                       4px,
        // view
        view:                          4px,
        // component
        component:                     4px,
        image:                         2px,
        icon:                          2px,
    }
}
views = {
    // element
    label:                             create-view( create-foreground(null,           fnt(), txt()), create-background(none,            null       ), create-border(none,            element        ) ),
    button:                            create-view( create-foreground(dark,           fnt(), txt()), create-background(light-element,   null       ), create-border(light-element,   element        ) ),
    field:                             create-view( create-foreground(null,           fnt(), txt()), create-background(none,            null       ), create-border(none,            element        ) ),
    field-label:                       create-view( create-foreground(dark,           fnt(), txt()), create-background(light-element,   null       ), create-border(light-element,   element        ) ),
    field-input:                       create-view( create-foreground(light,          fnt(), txt()), create-background(dark-element,    null       ), create-border(dark-element,    element        ) ),
    // view
    scroll-view:                       create-view( create-foreground(null,           fnt(), txt()), create-background(none,            null       ), create-border(none,            view           ) ),
    light-scroll-view:                 create-view( create-foreground(dark,           fnt(), txt()), create-background(light-view,      null       ), create-border(light-view,      view           ) ),
    dark-scroll-view:                  create-view( create-foreground(light,          fnt(), txt()), create-background(dark-view,       null       ), create-border(dark-view,       view           ) ),
    dropdown-view:                     create-view( create-foreground(light,          fnt(), txt()), create-background(dark-view,       null       ), create-border(dark-view,       view           ) ),
    // component
    component:                         create-view( create-foreground(null,           fnt(), txt()), create-background(component,       component  ), create-border(component,       component      ) ),
    light-image:                       create-view( create-foreground(null,           fnt(), txt()), create-background(light-image,     light-image), create-border(light-image,     image          ) ),
    dark-image:                        create-view( create-foreground(null,           fnt(), txt()), create-background(dark-image,      dark-image ), create-border(dark-image,      image          ) ),
    light-icon:                        create-view( create-foreground(null,           fnt(), txt()), create-background(light-icon,      dark-icon  ), create-border(light-icon,      icon           ) ),
    dark-icon:                         create-view( create-foreground(null,           fnt(), txt()), create-background(dark-icon,       light-icon ), create-border(dark-icon,       icon           ) ),
    // effect
    hover-effect:                      create-view( create-foreground(null,           fnt(), txt()), create-background(hover-effect,    null       ), create-border(null,            null           ) ),
    focus-effect:                      create-view( create-foreground(focus-effect,   fnt(), txt()), create-background(null,            null       ), create-border(focus-effect,    null           ) ),
    focus-effect-without-foreground:   create-view( create-foreground(null,           fnt(), txt()), create-background(null,            null       ), create-border(focus-effect,    null           ) ),
    invalid-effect:                    create-view( create-foreground(invalid-effect, fnt(), txt()), create-background(null,            null       ), create-border(invalid-effect,  null           ) ),
    invalid-effect-without-foreground: create-view( create-foreground(null,           fnt(), txt()), create-background(null,            null       ), create-border(invalid-effect,  null           ) )
}
layouts = {
    // element
    label:                             create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    button:                            create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    field:                             create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (0px            ), (0px                )) ),
    field-label:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px 1px 0px 0px), (1px            ), (12px 12px 10px 10px)) ),
    field-input:                       create-layout( create-position(null), create-size(auto, auto), create-box((1px 0px 0px 0px), (1px            ), (12px 12px 10px 10px)) ),
    // view
    scroll-view:                       create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (0px                )) ),
    dropdown-view:                     create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) ),
    // component
    component:                         create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (0px                )) ),
    image:                             create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) )
    icon:                              create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) ),
}

// label
label()
    add-view(label, text: txt(upper-left))
    add-layout(label)
    add-flex(0, 1, auto, auto)

// button
button()
    add-view(button, font: fnt(null, null, bold), text: txt(middle-center))
    add-layout(button)
    add-flex(0, 1, auto, auto)

// field
field()
    add-view(field)
    add-layout(field)
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)
field-label()
    add-view(field-label, font: fnt(null, null, bold), text: txt(middle-left))
    add-layout(field-label)
    add-flex(0, 1, auto, auto)
field-input()
    add-view(field-input, text: txt(middle-left))
    add-layout(field-input)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-end, center)

// text-field
text-field-input()
text-field-input--text()
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)

// popup-field
popup-field-input()
popup-field-input--text()
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)
popup-field-input--arrow()
    add-view(light-image, bg-image: img('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png'))
    add-layout(image, null, 12px, 12px, 2px)

// slider-field
slider-field-input()
slider-field-input--container()
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
slider-field-input--tracker()
    add-view(light-icon, alpha: 0.50)
    add-layout(icon, null, auto, 8px)
    add-flex(1, 1, auto, auto)
slider-field-input--dragger()
    add-view(light-icon)
    add-layout(icon, absolute, 8px, 24px)
    add-flex(0, 1, auto, auto)

// toggle-field
toggle-field-input()
toggle-field-input--checkmark(value)
    add-view(light-icon, bg-image: img(value ? 'project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png' : null))
    add-layout(icon, null, 16px, 16px)

// scroll-view
scroll-view()
    add-view(scroll-view)
    add-layout(scroll-view)
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
    &.light
        add-view(light-scroll-view, alpha: 0.00)
    &.light-1
        add-view(light-scroll-view, alpha: 0.10)
    &.light-2
        add-view(light-scroll-view, alpha: 0.20)
    &.light-3
        add-view(light-scroll-view, alpha: 0.30)
    &.light-4
        add-view(light-scroll-view, alpha: 0.40)
    &.light-5
        add-view(light-scroll-view, alpha: 0.50)
    &.light-6
        add-view(light-scroll-view, alpha: 0.60)
    &.light-7
        add-view(light-scroll-view, alpha: 0.70)
    &.light-8
        add-view(light-scroll-view, alpha: 0.80)
    &.light-9
        add-view(light-scroll-view, alpha: 0.90)
    &.light-10
        add-view(light-scroll-view, alpha: 1.00)
    &.dark
        add-view(dark-scroll-view, alpha: 0.00)
    &.dark-1
        add-view(dark-scroll-view, alpha: 0.10)
    &.dark-2
        add-view(dark-scroll-view, alpha: 0.20)
    &.dark-3
        add-view(dark-scroll-view, alpha: 0.30)
    &.dark-4
        add-view(dark-scroll-view, alpha: 0.40)
    &.dark-5
        add-view(dark-scroll-view, alpha: 0.50)
    &.dark-6
        add-view(dark-scroll-view, alpha: 0.60)
    &.dark-7
        add-view(dark-scroll-view, alpha: 0.70)
    &.dark-8
        add-view(dark-scroll-view, alpha: 0.80)
    &.dark-9
        add-view(dark-scroll-view, alpha: 0.90)
    &.dark-10
        add-view(dark-scroll-view, alpha: 1.00)
scroll-view--container()
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, stretch)
scroll-view--viewport()
    overflow hidden
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
scroll-view--content()
    overflow scroll
    add-view(component)
    add-layout(component, null, null, null, null, null, (12px 12px 10px 10px))
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, stretch)

// horizontal-scroller
horizontal-scroller()
    add-view(component)
    add-layout(component)
    add-flex(0, 0, auto, auto)
    add-flex2(row, flex-start, stretch)
horizontal-scroller--low-button()
    add-view(light-icon, bg-image: img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png'), alpha: 0.50)
    add-layout(icon, (absolute 0px auto auto auto), 24px, 24px)
horizontal-scroller--high-button()
    add-view(light-icon, bg-image: img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png'), alpha: 0.50)
    add-layout(icon, (absolute auto 0px auto auto), 24px, 24px)
horizontal-scroller--slider-field()
    add-view(component)
    add-layout(component, null, auto, auto, 0px, 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input()
    add-view(component)
    add-layout(component, null, auto, 24px, (24px 24px 0px 0px), 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input--container()
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input--tracker()
    add-view(dark-icon)
    add-layout(icon, null, auto, 24px)
    add-flex(1, 1, auto, auto)
horizontal-scroller--slider-field-input--dragger()
    add-view(light-icon, alpha: 0.50)
    add-layout(icon, absolute, auto, 24px)
    add-flex(0, 1, auto, auto)

// vertical-scroller
vertical-scroller()
    add-view(component)
    add-layout(component)
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, stretch)
vertical-scroller--low-button()
    add-view(light-icon, bg-image: img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png'), alpha: 0.50)
    add-layout(icon, (absolute auto auto 0px auto), 24px, 24px)
vertical-scroller--high-button()
    add-view(light-icon, bg-image: img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png'), alpha: 0.50)
    add-layout(icon, (absolute auto auto auto 0px), 24px, 24px)
vertical-scroller--slider-field()
    add-view(component)
    add-layout(component, null, auto, auto, 0px, 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input()
    add-view(component)
    add-layout(component, null, 24px, auto, (0px 0px 24px 24px), 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input--container()
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input--tracker()
    add-view(dark-icon)
    add-layout(icon, null, 24px, auto)
    add-flex(1, 1, auto, auto)
vertical-scroller--slider-field-input--dragger()
    add-view(light-icon, alpha: 0.50)
    add-layout(icon, absolute, 24px, auto)
    add-flex(0, 1, auto, auto)

// dropdown-view
dropdown-view()
    add-view(null)
    add-layout(null)
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
dropdown-view--scroll-view()
    add-view(dropdown-view)
    add-layout(dropdown-view)
dropdown-view--scroll-view--container()
dropdown-view--scroll-view--viewport()
dropdown-view--scroll-view--content()
    add-layout-box(0px, 0px, 0px)
dropdown-view--scroll-view--item()
    add-view(component)
    add-layout(component, null, null, null, null, null, (12px 12px 10px 10px))
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, center)
dropdown-view--scroll-view--item-checkmark(value)
    add-view(light-image, bg-image: img(value ? 'project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png' : null))
    add-layout(image, null, 16px, 16px, (0px 12px 0px 0px))
    add-flex(0, 1, auto, auto)
dropdown-view--scroll-view--item-text()
    add-view(component)
    add-layout(component)
    add-flex(1, 1, auto, auto)

// PanelSettings
#PanelSettings
    add-view-foreground(theme.color.dark, font: fnt('project://database/Assets/Project.UI/Assets.Project.UI/Fonts/NotInter/NotInter-Regular.ttf', 14px, normal), null)

// ui-document
.unity-ui-document__root
    add-layout-size(100%, 100%)

// label
.unity-label
    label()
    &:focus
        add-view(focus-effect)
    &.invalid
        add-view(invalid-effect)

// button
.unity-button
    button()
    &:focus
        add-view(focus-effect)
    &.invalid
        add-view(invalid-effect)

// repeat-button
.unity-repeat-button
    button()
    &:focus
        add-view(focus-effect)
    &.invalid
        add-view(invalid-effect)

// field
.unity-base-field
    field()
    &__label
        field-label()
        :focus > &
            add-view(focus-effect)
        .invalid > &
            add-view(invalid-effect)
    &__input
        field-input()
        :focus > &
            add-view(focus-effect-without-foreground)
        .invalid > &
            add-view(invalid-effect-without-foreground)

// text-field
.unity-base-text-field
    &__input
        text-field-input()
    &__input .unity-text-element
        text-field-input--text()

// popup-field
.unity-base-popup-field
    &__input
        popup-field-input()
    &__input .unity-text-element
        popup-field-input--text()
    &__input &__arrow
        popup-field-input--arrow()

// slider-field
.unity-base-slider
    &__input
        slider-field-input()
    &__input #unity-drag-container
        slider-field-input--container()
    &__input #unity-tracker
        slider-field-input--tracker()
    &__input #unity-dragger
        slider-field-input--dragger()

// toggle-field
.unity-toggle
    &__input
        toggle-field-input()
    &__input #unity-checkmark
        toggle-field-input--checkmark(false)
    &__input:checked #unity-checkmark
        toggle-field-input--checkmark(true)

// scroll-view
.unity-scroll-view
    scroll-view()
    #unity-content-and-vertical-scroll-container
        scroll-view--container()
    #unity-content-viewport
        scroll-view--viewport()
    #unity-content-container
        scroll-view--content()

// scroller--horizontal
.unity-scroller--horizontal
    horizontal-scroller()
    #unity-low-button
        horizontal-scroller--low-button()
    #unity-high-button
        horizontal-scroller--high-button()
    .unity-base-slider
        horizontal-scroller--slider-field()
        .unity-base-slider__input
            horizontal-scroller--slider-field-input()
        #unity-drag-container
            horizontal-scroller--slider-field-input--container()
        #unity-tracker
            horizontal-scroller--slider-field-input--tracker()
        #unity-dragger
            horizontal-scroller--slider-field-input--dragger()
    .unity-base-slider:focus
        #unity-dragger
            add-view(focus-effect)

// scroller--vertical
.unity-scroller--vertical
    vertical-scroller()
    #unity-low-button
        vertical-scroller--low-button()
    #unity-high-button
        vertical-scroller--high-button()
    .unity-base-slider
        vertical-scroller--slider-field()
        .unity-base-slider__input
            vertical-scroller--slider-field-input()
        #unity-drag-container
            vertical-scroller--slider-field-input--container()
        #unity-tracker
            vertical-scroller--slider-field-input--tracker()
        #unity-dragger
            vertical-scroller--slider-field-input--dragger()
    .unity-base-slider:focus
        #unity-dragger
            add-view(focus-effect)

// dropdown
.unity-base-dropdown
    add-view-background(rgba(0, 0, 0, 0.25), null, null, null)
    add-layout-position(absolute, null, null, null, null)
    &__container-outer
        dropdown-view()
    .unity-scroll-view
        dropdown-view--scroll-view()
    #unity-content-and-vertical-scroll-container
        dropdown-view--scroll-view--container()
    #unity-content-viewport
        dropdown-view--scroll-view--viewport()
    #unity-content-container
        dropdown-view--scroll-view--content()
    &__item
        dropdown-view--scroll-view--item()
    &__item:hover
        add-view(hover-effect)
    &__item &__checkmark
        dropdown-view--scroll-view--item-checkmark(false)
    &__item:checked &__checkmark
        dropdown-view--scroll-view--item-checkmark(true)
    &__item &__label
        dropdown-view--scroll-view--item-text()