@import "StyleSheet_Internal"
@import "StyleSheet_Internal2"

theme = {
    color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        light:                         hsla(  0deg,   0%,  90%, 1.00),
        dark:                          hsla(  0deg,   0%,  10%, 1.00),
    },
    background-color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        // card
        card:                          hsla(240deg,   5%,  25%, 0.75),
        card-header:                   hsla( 60deg,   5%,  80%, 0.75),
        card-header-info:              hsla(200deg,  80%,  60%, 0.75),
        card-header-warning:           hsla( 40deg,  80%,  60%, 0.75),
        card-header-error:             hsla( 10deg,  80%,  60%, 0.75),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla(240deg,  10%,  10%, 0.75),
        // group
        light-group:                   hsla( 30deg,   5%,  80%, 0.20),
        dark-group:                    hsla(200deg,   5%,  20%, 0.80),
        // box 
        light-box:                     hsla( 30deg,  15%,  80%, 0.20),
        dark-box:                      hsla(200deg,  15%,  20%, 0.80),
    },
    background-image: {
        none:                          img(null, hsla(  0deg,   0%,   0%, 0.00), null),
        light-image:                   img(null, hsla( 30deg,  30%,  90%, 1.00), null),
        dark-image:                    img(null, hsla(200deg,  30%,  10%, 1.00), null)
    },
    border-color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        // card
        card:                          hsla( 35deg, 100%,  30%, 1.00),
        card-header:                   hsla( 35deg, 100%,  30%, 1.00),
        card-content:                  hsla(  0deg,   0%,   0%, 0.00),
        card-footer:                   hsla( 35deg, 100%,  30%, 1.00),
        // group
        light-group:                   hsla( 35deg, 100%,  30%, 1.00),
        dark-group:                    hsla( 35deg, 100%,  30%, 1.00),
        // box
        light-box:                     hsla( 45deg, 100%,  30%, 1.00),
        dark-box:                      hsla( 45deg, 100%,  30%, 1.00),
    },
    border-radius: {
        none:                          0px,
        // card
        card:                          6px,
        card-header:                   6px 6px 0px 0px,
        card-content:                  6px,
        card-footer:                   0px 0px 6px 6px,
        // group
        group:                         6px,
        // box
        box:                           4px,
    }
}
views = {
    // card
    card:                              create-view( create-foreground(dark,  fnt(), txt()), create-background(card,                null), create-border(card,         card        ) ),
    card-header:                       create-view( create-foreground(dark,  fnt(), txt()), create-background(card-header,         null), create-border(card-header,  card-header ) ),
    card-header-info:                  create-view( create-foreground(dark,  fnt(), txt()), create-background(card-header-info,    null), create-border(card-header,  card-header ) ),
    card-header-warning:               create-view( create-foreground(dark,  fnt(), txt()), create-background(card-header-warning, null), create-border(card-header,  card-header ) ),
    card-header-error:                 create-view( create-foreground(dark,  fnt(), txt()), create-background(card-header-error,   null), create-border(card-header,  card-header ) ),
    card-content:                      create-view( create-foreground(dark,  fnt(), txt()), create-background(card-content,        null), create-border(card-content, card-content) ),
    card-footer:                       create-view( create-foreground(dark,  fnt(), txt()), create-background(card-footer,         null), create-border(card-footer,  card-footer ) ),
    // scope
    scope:                             create-view( create-foreground(null,  fnt(), txt()), create-background(none,                null), create-border(none,         none        ) ),
    // group
    group:                             create-view( create-foreground(null,  fnt(), txt()), create-background(none,                null), create-border(none,         group       ) ),
    light-group:                       create-view( create-foreground(dark,  fnt(), txt()), create-background(light-group,         null), create-border(light-group,  group       ) ),
    dark-group:                        create-view( create-foreground(light, fnt(), txt()), create-background(dark-group,          null), create-border(dark-group,   group       ) ),
    // box
    box:                               create-view( create-foreground(null,  fnt(), txt()), create-background(none,                null), create-border(none,         box         ) ),
    light-box:                         create-view( create-foreground(dark,  fnt(), txt()), create-background(light-box,           null), create-border(light-box,    box         ) ),
    dark-box:                          create-view( create-foreground(light, fnt(), txt()), create-background(dark-box,            null), create-border(dark-box,     box         ) )
}
layouts = {
    // card
    card:                              create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (1px            ), (0px                )) ),
    card-header:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px 0px 0px 1px), (12px 12px 10px 10px)) ),
    card-content:                      create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (24px 24px 20px 20px)) ),
    card-footer:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px 0px 1px 0px), (24px 24px 20px 20px)) ),
    // scope
    scope:                             create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), ( 0px  0px  0px  0px)) ),
    small-scope:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), ( 6px  6px  5px  5px)) ),
    medium-scope:                      create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (12px 12px 10px 10px)) ),
    large-scope:                       create-layout( create-position(null), create-size(auto, auto), create-box((0px            ), (0px            ), (24px 24px 20px 20px)) ),
    // group
    group:                             create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 0px  0px  0px  0px)) ),
    small-group:                       create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 6px  6px  5px  5px)) ),
    medium-group:                      create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    large-group:                       create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (24px 24px 20px 20px)) ),
    // box
    box:                               create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 0px  0px  0px  0px)) ),
    small-box:                         create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), ( 6px  6px  5px  5px)) ),
    medium-box:                        create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    large-box:                         create-layout( create-position(null), create-size(auto, auto), create-box((4px            ), (1px            ), (24px 24px 20px 20px)) )
}

// card
card()
    add-view(card)
    add-layout(card)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
card-header()
    add-view(card-header, fnt(null, 130%, bold))
    add-layout(card-header)
    add-flex(0, 0, auto, auto)
    add-flex2(row, center, center)
card-content()
    add-view(card-content, fnt(null, 100%, normal))
    add-layout(card-content)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
card-footer()
    add-view(card-footer, fnt(null, 130%, bold))
    add-layout(card-footer)
    add-flex(0, 0, auto, auto)
    add-flex2(row, space-around, center)

// dialog-card
dialog-card()
    add-view(null)
    add-layout(null)
dialog-card-header()
    add-view(null)
    add-layout(null)
dialog-card-content()
    add-view(null, fnt(null, 120%, bold))
    add-layout(null)
    add-flex(null, null, null, null)
    add-flex2(null, center, center)
dialog-card-footer()
    add-view(null)
    add-layout(null)

// info-dialog-card
dialog-card-header-info()
    add-view(card-header-info)
    add-layout(null)

// warning-dialog-card
dialog-card-header-warning()
    add-view(card-header-warning)
    add-layout(null)

// error-dialog-card
dialog-card-header-error()
    add-view(card-header-error)
    add-layout(null)

// scope
scope()
    add-view(scope)
    add-layout(scope)
    &.small
        add-view(null)
        add-layout(small-scope)
    &.medium
        add-view(null)
        add-layout(medium-scope)
    &.large
        add-view(null)
        add-layout(large-scope)
column-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
row-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)

// group
group()
    add-view(group)
    add-layout(group)
    &.light
        add-view(light-group, alpha: 0.00)
    &.light1
        add-view(light-group, alpha: 0.10)
    &.light2
        add-view(light-group, alpha: 0.20)
    &.light3
        add-view(light-group, alpha: 0.30)
    &.light4
        add-view(light-group, alpha: 0.40)
    &.light5
        add-view(light-group, alpha: 0.50)
    &.light6
        add-view(light-group, alpha: 0.60)
    &.light7
        add-view(light-group, alpha: 0.70)
    &.light8
        add-view(light-group, alpha: 0.80)
    &.light9
        add-view(light-group, alpha: 0.90)
    &.light10
        add-view(light-group, alpha: 1.00)
    &.dark
        add-view(dark-group, alpha: 0.00)
    &.dark1
        add-view(dark-group, alpha: 0.10)
    &.dark2
        add-view(dark-group, alpha: 0.20)
    &.dark3
        add-view(dark-group, alpha: 0.30)
    &.dark4
        add-view(dark-group, alpha: 0.40)
    &.dark5
        add-view(dark-group, alpha: 0.50)
    &.dark6
        add-view(dark-group, alpha: 0.60)
    &.dark7
        add-view(dark-group, alpha: 0.70)
    &.dark8
        add-view(dark-group, alpha: 0.80)
    &.dark9
        add-view(dark-group, alpha: 0.90)
    &.dark10
        add-view(dark-group, alpha: 1.00)
    &.small
        add-view(null)
        add-layout(small-group)
    &.medium
        add-view(null)
        add-layout(medium-group)
    &.large
        add-view(null)
        add-layout(large-group)
column-group()
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
row-group()
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)

// box
box()
    add-view(box)
    add-layout(box)
    &.light
        add-view(light-box, alpha: 0.00)
    &.light1
        add-view(light-box, alpha: 0.10)
    &.light2
        add-view(light-box, alpha: 0.20)
    &.light3
        add-view(light-box, alpha: 0.30)
    &.light4
        add-view(light-box, alpha: 0.40)
    &.light5
        add-view(light-box, alpha: 0.50)
    &.light6
        add-view(light-box, alpha: 0.60)
    &.light7
        add-view(light-box, alpha: 0.70)
    &.light8
        add-view(light-box, alpha: 0.80)
    &.light9
        add-view(light-box, alpha: 0.90)
    &.light10
        add-view(light-box, alpha: 1.00)
    &.dark
        add-view(dark-box, alpha: 0.00)
    &.dark1
        add-view(dark-box, alpha: 0.10)
    &.dark2
        add-view(dark-box, alpha: 0.20)
    &.dark3
        add-view(dark-box, alpha: 0.30)
    &.dark4
        add-view(dark-box, alpha: 0.40)
    &.dark5
        add-view(dark-box, alpha: 0.50)
    &.dark6
        add-view(dark-box, alpha: 0.60)
    &.dark7
        add-view(dark-box, alpha: 0.70)
    &.dark8
        add-view(dark-box, alpha: 0.80)
    &.dark9
        add-view(dark-box, alpha: 0.90)
    &.dark10
        add-view(dark-box, alpha: 1.00)
    &.small
        add-view(null)
        add-layout(small-box)
    &.medium
        add-view(null)
        add-layout(medium-box)
    &.large
        add-view(null)
        add-layout(large-box)

// card
.unity-card
    card()
.unity-header
    card-header()
.unity-content
    card-content()
.unity-footer
    card-footer()
    *
        add-layout-size(25%, null)

// dialog-card
.unity-dialog-card
    dialog-card()
    .unity-header
        dialog-card-header()
    .unity-content
        dialog-card-content()
    .unity-footer
        dialog-card-footer()

// unity-info-dialog-card
.unity-info-dialog-card
    .unity-header
        dialog-card-header-info()
    .unity-content
        dialog-card-content()
    .unity-footer
        dialog-card-footer()

// unity-warning-dialog-card
.unity-warning-dialog-card
    .unity-header
        dialog-card-header-warning()
    .unity-content
        dialog-card-content()
    .unity-footer
        dialog-card-footer()

// unity-error-dialog-card
.unity-error-dialog-card
    .unity-header
        dialog-card-header-error()
    .unity-content
        dialog-card-content()
    .unity-footer
        dialog-card-footer()

// scope
.unity-scope
    scope()
.unity-column-scope
    column-scope()
.unity-row-scope
    row-scope()

// group
.unity-group
    group()
.unity-column-group
    column-group()
.unity-row-group
    row-group()

// box
.unity-box
    box()
