@import "StyleSheet__Internal"

theme = create-theme()

// common
theme[color           ]['light'                      ] = hsla(  0,   0%,  85%, 1.00)
theme[color           ]['dark'                       ] = hsla(  0,   0%,  15%, 1.00)
// common
theme[color           ]['focus-effect'               ] = hsla(210,  80%,  50%, 1.00)
theme[color           ]['invalid-effect'             ] = hsla(  0,  80%,  50%, 1.00)

// card
theme[background-color]['card'                       ] = hsla(210,   5%,  25%, 0.75)
theme[background-color]['card-header'                ] = hsla( 30,   5%,  65%, 0.75)
theme[background-color]['card-content'               ] = hsla(  0,   0%,   0%, 0.00)
theme[background-color]['card-footer'                ] = hsla(210,   5%,  15%, 0.75)
theme[background-color]['dialog-card'                ] = null
theme[background-color]['dialog-card-header'         ] = null
theme[background-color]['dialog-card-header--info'   ] = hsla(210, 100%,  65%, 0.75)
theme[background-color]['dialog-card-header--warning'] = hsla( 30, 100%,  65%, 0.75)
theme[background-color]['dialog-card-header--error'  ] = hsla(  0, 100%,  65%, 0.75)
theme[background-color]['dialog-card-content'        ] = null
theme[background-color]['dialog-card-footer'         ] = null
// card
theme[background-image]['card'                       ] = create-background-image(null, null, null)
theme[background-image]['card-header'                ] = create-background-image(null, null, null)
theme[background-image]['card-content'               ] = create-background-image(null, null, null)
theme[background-image]['card-footer'                ] = create-background-image(null, null, null)
theme[background-image]['dialog-card'                ] = null
theme[background-image]['dialog-card-header'         ] = null
theme[background-image]['dialog-card-header--info'   ] = null
theme[background-image]['dialog-card-header--warning'] = null
theme[background-image]['dialog-card-header--error'  ] = null
theme[background-image]['dialog-card-content'        ] = null
theme[background-image]['dialog-card-footer'         ] = null
// card
theme[border-color    ]['card'                       ] = hsla( 30,  50%,  20%, 1.00)
theme[border-color    ]['card-header'                ] = hsla( 30,  50%,  20%, 1.00)
theme[border-color    ]['card-content'               ] = hsla( 30,  50%,  20%, 1.00)
theme[border-color    ]['card-footer'                ] = hsla( 30,  50%,  20%, 1.00)
theme[border-color    ]['dialog-card'                ] = null
theme[border-color    ]['dialog-card-header'         ] = null
theme[border-color    ]['dialog-card-content'        ] = null
theme[border-color    ]['dialog-card-footer'         ] = null
// card
theme[border-radius   ]['card'                       ] = 6px
theme[border-radius   ]['card-header'                ] = 6px 6px 0px 0px
theme[border-radius   ]['card-content'               ] = 6px
theme[border-radius   ]['card-footer'                ] = 0px 0px 6px 6px
theme[border-radius   ]['dialog-card'                ] = null
theme[border-radius   ]['dialog-card-header'         ] = null
theme[border-radius   ]['dialog-card-content'        ] = null
theme[border-radius   ]['dialog-card-footer'         ] = null

// element
theme[background-color]['view'                       ] = hsla(  0,   0%,   0%, 0.00)
theme[background-color]['view--light'                ] = hsla( 30,   5%,  30%, 1.00)
theme[background-color]['view--dark'                 ] = hsla(210,   5%,  10%, 1.00)
theme[background-color]['box'                        ] = hsla(  0,   0%,   0%, 0.00)
theme[background-color]['box--light'                 ] = hsla( 30,   5%,  70%, 1.00)
theme[background-color]['box--dark'                  ] = hsla(210,   5%,  30%, 1.00)
theme[background-color]['element'                    ] = hsla(  0,   0%,   0%, 0.00)
theme[background-color]['element--light'             ] = hsla( 30,  10%,  80%, 0.90)
theme[background-color]['element--dark'              ] = hsla(210,  10%,  20%, 0.90)
theme[background-color]['component'                  ] = hsla(  0,   0%,   0%, 0.00)
theme[background-color]['component--light'           ] = hsla( 30,  20%,  80%, 1.00)
theme[background-color]['component--dark'            ] = hsla(210,  20%,  20%, 1.00)
// element
theme[background-image]['view'                       ] = create-background-image(null, null, null)
theme[background-image]['view--light'                ] = create-background-image(null, null, null)
theme[background-image]['view--dark'                 ] = create-background-image(null, null, null)
theme[background-image]['box'                        ] = create-background-image(null, null, null)
theme[background-image]['box--light'                 ] = create-background-image(null, null, null)
theme[background-image]['box--dark'                  ] = create-background-image(null, null, null)
theme[background-image]['element'                    ] = create-background-image(null, null, null)
theme[background-image]['element--light'             ] = create-background-image(null, null, null)
theme[background-image]['element--dark'              ] = create-background-image(null, null, null)
theme[background-image]['component'                  ] = create-background-image(null, null, null)
theme[background-image]['component--light'           ] = create-background-image(null, null, null)
theme[background-image]['component--dark'            ] = create-background-image(null, null, null)
// element
theme[border-color    ]['view'                       ] = hsla(  0,   0%,   0%, 0.00)
theme[border-color    ]['view--light'                ] = hsla( 30,  80%,  30%, 1.00)
theme[border-color    ]['view--dark'                 ] = hsla( 30,  80%,  30%, 1.00)
theme[border-color    ]['box'                        ] = hsla(  0,   0%,   0%, 0.00)
theme[border-color    ]['box--light'                 ] = hsla( 30,  80%,  30%, 1.00)
theme[border-color    ]['box--dark'                  ] = hsla( 30,  80%,  30%, 1.00)
theme[border-color    ]['element'                    ] = hsla(  0,   0%,   0%, 0.00)
theme[border-color    ]['element--light'             ] = hsla( 30,  80%,  30%, 1.00)
theme[border-color    ]['element--dark'              ] = hsla( 30,  80%,  30%, 1.00)
theme[border-color    ]['component'                  ] = hsla(  0,   0%,   0%, 0.00)
theme[border-color    ]['component--light'           ] = hsla( 30,  80%,  30%, 1.00)
theme[border-color    ]['component--dark'            ] = hsla( 30,  80%,  30%, 1.00)
// element
theme[border-radius   ]['view'                       ] = 4px
theme[border-radius   ]['box'                        ] = 4px
theme[border-radius   ]['element'                    ] = 4px
theme[border-radius   ]['component'                  ] = 2px

// dropdown
theme[background-color]['dropdown'                   ] = hsla(210,  10%,  20%, 0.99)
// dropdown
theme[background-image]['dropdown'                   ] = create-background-image(null, null, null)
// dropdown
theme[border-color    ]['dropdown'                   ] = hsla( 30, 100%,  40%, 1.00)
// dropdown
theme[border-radius   ]['dropdown'                   ] = 4px

// dropdown-item
theme[background-color]['dropdown-item'              ] = hsla(  0,   0%,   0%, 0.00)
theme[background-color]['dropdown-item--hover'       ] = hsla( 45, 100%,  20%, 1.00)
// dropdown-item
theme[background-image]['dropdown-item'              ] = create-background-image(null, null, null)
theme[background-image]['dropdown-item--hover'       ] = create-background-image(null, null, null)
// dropdown-item
theme[border-color    ]['dropdown-item'              ] = hsla( 30,   5%,  30%, 1.00)
theme[border-color    ]['dropdown-item--hover'       ] = hsla( 30, 100%,  40%, 1.00)
// dropdown-item
theme[border-radius   ]['dropdown-item'              ] = 4px
theme[border-radius   ]['dropdown-item--hover'       ] = 4px

// icon
theme[background-image]['left-arrow-icon--dark'      ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla(210,  30%,  10%, 1.00), null)
theme[background-image]['right-arrow-icon--dark'     ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla(210,  30%,  10%, 1.00), null)
theme[background-image]['up-arrow-icon--dark'        ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla(210,  30%,  10%, 1.00), null)
theme[background-image]['down-arrow-icon--dark'      ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla(210,  30%,  10%, 1.00), null)
theme[background-image]['dropdown-arrow-icon--dark'  ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla(210,  30%,  10%, 1.00), null)
theme[background-image]['checkmark-icon--dark'       ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla(210,  30%,  10%, 1.00), null)
// icon
theme[background-image]['left-arrow-icon--light'     ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla( 30,  30%,  90%, 1.00), null)
theme[background-image]['right-arrow-icon--light'    ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla( 30,  30%,  90%, 1.00), null)
theme[background-image]['up-arrow-icon--light'       ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla( 30,  30%,  90%, 1.00), null)
theme[background-image]['down-arrow-icon--light'     ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla( 30,  30%,  90%, 1.00), null)
theme[background-image]['dropdown-arrow-icon--light' ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla( 30,  30%,  90%, 1.00), null)
theme[background-image]['checkmark-icon--light'      ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla( 30,  30%,  90%, 1.00), null)

// add-skin
add-skin(name)
    object = typeof(name) == 'object' ? name : get-skin(name)
    add-style object
// add-misc
add-misc(name, objects...)
    object = typeof(name) == 'object' ? name : get-misc(name)
    add-style object

// get-skin
get-skin(name)
    if name != null
        name = 'skin--' + get-string(name)
        if name is defined
            return clone(lookup(name))
        error('Skin is not found: ' + name)
    null
// get-misc
get-misc(name)
    if name != null
        name = 'misc--' + get-string(name)
        if name is defined
            return clone(lookup(name))
        error('Skin (misc) is not found: ' + name)
    null

// with-alpha
with-alpha(object, alpha, alpha2 = (alpha+3)/4)
    object.background-color    = alpha(object.background-color,    alpha(object.background-color   ) * alpha )
    object.border-color        = alpha(object.border-color,        alpha(object.border-color       ) * alpha2) if has(object, 'border-color'       )
    object.border-left-color   = alpha(object.border-left-color,   alpha(object.border-left-color  ) * alpha2) if has(object, 'border-left-color'  )
    object.border-right-color  = alpha(object.border-right-color,  alpha(object.border-right-color ) * alpha2) if has(object, 'border-right-color' )
    object.border-top-color    = alpha(object.border-top-color,    alpha(object.border-top-color   ) * alpha2) if has(object, 'border-top-color'   )
    object.border-bottom-color = alpha(object.border-bottom-color, alpha(object.border-bottom-color) * alpha2) if has(object, 'border-bottom-color')
    object
