// @import url("unity-theme://default")
@import "StyleSheet__Theme"

@import url("Elements/00_Label.uss")
@import url("Elements/01_Button.uss")
@import url("Elements/02_Field.uss")
@import url("Elements/03_Text-Field.uss")
@import url("Elements/04_Popup-Field.uss")
@import url("Elements/05_Slider-Field.uss")
@import url("Elements/06_Toggle-Field.uss")

@import url("Elements2/00_Scroll-View.uss")
@import url("Elements2/01_Dropdown-View.uss")

@import url("Elements3/00_View.uss")
@import url("Elements3/01_Card.uss")
@import url("Elements3/02_Scope.uss")
@import url("Elements3/03_Group.uss")
@import url("Elements3/04_Box.uss")

// PanelSettings
#PanelSettings
    add-view(theme.color.dark, font: fnt('project://database/Assets/Project.UI/Assets.Project.UI/Fonts/NotInter/NotInter-Regular.ttf', 14px, normal), null)
    add-layout()

// ui-document
.unity-ui-document__root
    add-view()
    add-layout(null, 100%, 100%, null, null, null)

// view
// .view

// screen-view
// .screen-view
// .views-container
// .modal-views-container

// widget-view
// .widget-view
// .left-widget-view
// .small-widget-view
// .medium-widget-view
// .large-widget-view
// .modal-widget-view

// sub-view
// .sub-view

// card
.card
    add-view()
    add-layout()
    .header
        add-view(font: fnt(null, 140%, bold))
        add-layout()
    .content
        add-view(font: fnt(null, 100%, normal))
        add-layout()
    .footer
        add-view(font: fnt(null, 130%, bold))
        add-layout()

// dialog-card
.dialog-card
.info-dialog-card
.warning-dialog-card
.error-dialog-card
    add-view()
    add-layout()
    .header
        add-view()
        add-layout()
    .content
        add-view(font: fnt(null, 120%, bold))
        add-layout()
    .footer
        add-view()
        add-layout()

// scope
// .scope
// .column-scope
// .row-scope

// group
// .group
// .column-group
// .row-group

// box
// .unity-box

// title
.title
    add-view(font: fnt(null, 120%, bold))
    add-layout()

// main-widget-view
#main-widget-view
	add-view(bg-image: img('project://database/Assets/Project.UI/Assets.Project.UI.MainScreen/Images/Background.png', null, scale-and-crop))
	add-layout()
	transition-property scale, -unity-background-image-tint-color
	transition-duration 3s
	transition-timing-function ease

// game-widget-view
#game-widget-view
    add-view()
    add-layout()
