@import "StyleSheet__Theme"

// add-skin1
add-skin1(effect, name, objects...)
    if effect == null
        add-style get-skin1(name[0]), get-skin1(name[1]), objects
// add-skin1
add-skin1-light(effect, name)
    if effect == null
        for i in 0..10
            alpha  = i / 10
            alpha2 = (alpha+3)/4
            &.light-{i}
                skin = get-skin1(name)
                skin.background-color    = alpha(skin.background-color,    alpha(skin.background-color   ) * alpha )
                skin.border-color        = alpha(skin.border-color,        alpha(skin.border-color       ) * alpha2) if has(skin, 'border-color'       )
                skin.border-left-color   = alpha(skin.border-left-color,   alpha(skin.border-left-color  ) * alpha2) if has(skin, 'border-left-color'  )
                skin.border-right-color  = alpha(skin.border-right-color,  alpha(skin.border-right-color ) * alpha2) if has(skin, 'border-right-color' )
                skin.border-top-color    = alpha(skin.border-top-color,    alpha(skin.border-top-color   ) * alpha2) if has(skin, 'border-top-color'   )
                skin.border-bottom-color = alpha(skin.border-bottom-color, alpha(skin.border-bottom-color) * alpha2) if has(skin, 'border-bottom-color')
                add-style skin
// add-skin1
add-skin1-dark(effect, name)
    if effect == null
        for i in 0..10
            alpha  = i / 10
            alpha2 = (alpha+3)/4
            &.dark-{i}
                skin = get-skin1(name)
                skin.background-color    = alpha(skin.background-color,    alpha(skin.background-color   ) * alpha )
                skin.border-color        = alpha(skin.border-color,        alpha(skin.border-color       ) * alpha2) if has(skin, 'border-color'       )
                skin.border-left-color   = alpha(skin.border-left-color,   alpha(skin.border-left-color  ) * alpha2) if has(skin, 'border-left-color'  )
                skin.border-right-color  = alpha(skin.border-right-color,  alpha(skin.border-right-color ) * alpha2) if has(skin, 'border-right-color' )
                skin.border-top-color    = alpha(skin.border-top-color,    alpha(skin.border-top-color   ) * alpha2) if has(skin, 'border-top-color'   )
                skin.border-bottom-color = alpha(skin.border-bottom-color, alpha(skin.border-bottom-color) * alpha2) if has(skin, 'border-bottom-color')
                add-style skin
// add-skin2
add-skin2(effect, name, objects...)
    if effect == null
        add-style get-skin2(name), objects

// get-skin1
get-skin1(name)
    if name != null
        name = 'skin1--' + get-string(name)
        if name is defined
            return clone(lookup(name))
        error('Skin1 is not found: ' + name)
    null
// get-skin2
get-skin2(name)
    if name != null
        name = 'skin2--' + get-string(name)
        if name is defined
            return clone(lookup(name))
        error('Skin2 is not found: ' + name)
    null
