@import "StyleSheet_Internal"
@import "StyleSheet_Internal2"

theme = {
    color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        light:                         hsla(  0deg,   0%,  90%, 1.00),
        dark:                          hsla(  0deg,   0%,  10%, 1.00),
        hover-effect:                  hsla( 40deg,  60%,  40%, 1.00),
        focus-effect:                  hsla(200deg,  80%,  40%, 1.00),
        invalid-effect:                hsla( 10deg,  80%,  40%, 1.00),
    },
    background-color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        // element
        light-element:                 hsla( 30deg,  30%,  90%, 0.50),
        dark-element:                  hsla(200deg,  30%,  10%, 0.50),
        // view
        light-view:                    hsla( 30deg,   5%,  90%, 0.20),
        dark-view:                     hsla(200deg,   5%,  10%, 0.80),
        // component
        light-component:               hsla( 30deg,  30%,  90%, 0.80),
        dark-component:                hsla(200deg,  30%,  10%, 0.80),
    },
    background-image-color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        light:                         hsla( 30deg,  30%,  90%, 1.00),
        dark:                          hsla(200deg,  30%,  10%, 1.00),
    },
    border-color: {
        none:                          hsla(  0deg,   0%,   0%, 0.00),
        // element
        light-element:                 hsla( 45deg, 100%,  15%, 1.00),
        dark-element:                  hsla( 45deg, 100%,  30%, 1.00),
        // view
        light-view:                    hsla( 45deg, 100%,  30%, 1.00),
        dark-view:                     hsla( 45deg, 100%,  30%, 1.00),
        // component
        light-component:               hsla( 45deg, 100%,  30%, 1.00),
        dark-component:                hsla( 45deg, 100%,  30%, 1.00),
    },
    border-radius: {
        none:                          0px,
        element:                       4px,
        view:                          4px,
        component:                     4px,
        box-component:                 2px,
        image-component:               2px
    }
}
views = {
    // element
    label:                             view-skin(null,           none,                null,        none,            element        ),
    button:                            view-skin(dark,           light-element,       null,        light-element,   element        ),
    field:                             view-skin(null,           none,                null,        none,            element        ),
    field-label:                       view-skin(dark,           light-element,       null,        light-element,   element        ),
    field-input:                       view-skin(light,          dark-element,        null,        dark-element,    element        ),
    // view
    scroll-view:                       view-skin(null,           none,                null,        none,            view           ),
    light-scroll-view:                 view-skin(dark,           light-view,          null,        light-view,      view           ),
    dark-scroll-view:                  view-skin(light,          dark-view,           null,        dark-view,       view           ),
    // view
    dropdown-view:                     view-skin(light,          dark-view,           null,        dark-view,       view           ),
    // component
    component:                         view-skin(null,           none,                null,        none,            component      ),
    // component
    box-component:                     view-skin(null,           none,                null,        none,            box-component  ),
    light-box-component:               view-skin(null,           light-component,     null,        light-component, box-component  ),
    dark-box-component:                view-skin(null,           dark-component,      null,        dark-component,  box-component  ),
    // component
    image-component:                   view-skin(null,           none,                light,       none,            image-component),
    light-image-component:             view-skin(null,           light-component,     dark,        light-component, image-component),
    dark-image-component:              view-skin(null,           dark-component,      light,       dark-component,  image-component),
    // effect
    hover-effect:                      view-skin(null,           hover-effect,        null,        null,            null           ),
    focus-effect:                      view-skin(focus-effect,   null,                null,        focus-effect,    null           ),
    focus-effect-without-foreground:   view-skin(null,           null,                null,        focus-effect,    null           ),
    invalid-effect:                    view-skin(invalid-effect, null,                null,        invalid-effect,  null           ),
    invalid-effect-without-foreground: view-skin(null,           null,                null,        invalid-effect,  null           )
}
layouts = {
    // element
    label:                             layout( pos(null), size(auto, auto), box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    button:                            layout( pos(null), size(auto, auto), box((4px            ), (1px            ), (12px 12px 10px 10px)) ),
    field:                             layout( pos(null), size(auto, auto), box((4px            ), (0px            ), (0px                )) ),
    field-label:                       layout( pos(null), size(auto, auto), box((0px 1px 0px 0px), (1px            ), (12px 12px 10px 10px)) ),
    field-input:                       layout( pos(null), size(auto, auto), box((1px 0px 0px 0px), (1px            ), (12px 12px 10px 10px)) ),
    // view
    scroll-view:                       layout( pos(null), size(auto, auto), box((4px            ), (1px            ), (0px                )) ),
    // view
    dropdown-view:                     layout( pos(null), size(auto, auto), box((0px            ), (1px            ), (0px                )) ),
    // component
    component:                         layout( pos(null), size(auto, auto), box((0px            ), (0px            ), (0px                )) ),
    box-component:                     layout( pos(null), size(auto, auto), box((0px            ), (1px            ), (0px                )) ),
    image-component:                   layout( pos(null), size(auto, auto), box((0px            ), (1px            ), (0px                )) )
}

// label
label()
    add-view-skin(label, null, txt(upper-left))
    add-layout-skin(label)
    add-flex(0, 1, auto, auto)

// button
button()
    add-view-skin(button, fnt(null, null, bold), txt(middle-center))
    add-layout-skin(button)
    add-flex(0, 1, auto, auto)

// field
field()
    add-view-skin(field)
    add-layout-skin(field)
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)
field-label()
    add-view-skin(field-label, fnt(null, null, bold), txt(middle-left))
    add-layout-skin(field-label)
    add-flex(0, 1, auto, auto)
field-input()
    add-view-skin(field-input, null, txt(middle-left))
    add-layout-skin(field-input)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-end, center)

// text-field
text-field-input()
text-field-input--text()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)

// popup-field
popup-field-input()
popup-field-input--text()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)
popup-field-input--arrow()
    add-view-skin(image-component, null, null, img('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png'))
    add-layout-skin(image-component, null, 12px, 12px, 2px)

// slider-field
slider-field-input()
slider-field-input--container()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
slider-field-input--tracker()
    add-view-skin(light-box-component, alpha: 0.50)
    add-layout-skin(box-component, null, auto, 8px)
    add-flex(1, 1, auto, auto)
slider-field-input--dragger()
    add-view-skin(light-box-component)
    add-layout-skin(box-component, absolute, 8px, 24px)
    add-flex(0, 1, auto, auto)

// toggle-field
toggle-field-input()
toggle-field-input--checkmark(value)
    add-view-skin(light-image-component, null, null, img(value ? 'project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png' : null))
    add-layout-skin(image-component, null, 16px, 16px)

// scroll-view
scroll-view()
    add-view-skin(scroll-view)
    add-layout-skin(scroll-view)
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
    &.light
        add-view-skin(light-scroll-view, alpha: 0.00)
    &.light1
        add-view-skin(light-scroll-view, alpha: 0.10)
    &.light2
        add-view-skin(light-scroll-view, alpha: 0.20)
    &.light3
        add-view-skin(light-scroll-view, alpha: 0.30)
    &.light4
        add-view-skin(light-scroll-view, alpha: 0.40)
    &.light5
        add-view-skin(light-scroll-view, alpha: 0.50)
    &.light6
        add-view-skin(light-scroll-view, alpha: 0.60)
    &.light7
        add-view-skin(light-scroll-view, alpha: 0.70)
    &.light8
        add-view-skin(light-scroll-view, alpha: 0.80)
    &.light9
        add-view-skin(light-scroll-view, alpha: 0.90)
    &.light10
        add-view-skin(light-scroll-view, alpha: 1.00)
    &.dark
        add-view-skin(dark-scroll-view, alpha: 0.00)
    &.dark1
        add-view-skin(dark-scroll-view, alpha: 0.10)
    &.dark2
        add-view-skin(dark-scroll-view, alpha: 0.20)
    &.dark3
        add-view-skin(dark-scroll-view, alpha: 0.30)
    &.dark4
        add-view-skin(dark-scroll-view, alpha: 0.40)
    &.dark5
        add-view-skin(dark-scroll-view, alpha: 0.50)
    &.dark6
        add-view-skin(dark-scroll-view, alpha: 0.60)
    &.dark7
        add-view-skin(dark-scroll-view, alpha: 0.70)
    &.dark8
        add-view-skin(dark-scroll-view, alpha: 0.80)
    &.dark9
        add-view-skin(dark-scroll-view, alpha: 0.90)
    &.dark10
        add-view-skin(dark-scroll-view, alpha: 1.00)
scroll-view--container()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, stretch)
scroll-view--viewport()
    overflow hidden
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
scroll-view--content()
    overflow scroll
    add-view-skin(component)
    add-layout-skin(component, null, null, null, null, null, (12px 12px 10px 10px))
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, stretch)

// horizontal-scroller
horizontal-scroller()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(0, 0, auto, auto)
    add-flex2(row, flex-start, stretch)
horizontal-scroller--low-button()
    add-view-skin(light-image-component, null, null, img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png'), alpha: 0.50)
    add-layout-skin(image-component, (absolute 0px auto auto auto), 24px, 24px)
horizontal-scroller--high-button()
    add-view-skin(light-image-component, null, null, img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png'), alpha: 0.50)
    add-layout-skin(image-component, (absolute auto 0px auto auto), 24px, 24px)
horizontal-scroller--slider-field()
    add-view-skin(component)
    add-layout-skin(component, null, auto, auto, 0px, 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input()
    add-view-skin(component)
    add-layout-skin(component, null, auto, 24px, (24px 24px 0px 0px), 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input--container()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input--tracker()
    add-view-skin(dark-box-component)
    add-layout-skin(box-component, null, auto, 24px)
    add-flex(1, 1, auto, auto)
horizontal-scroller--slider-field-input--dragger()
    add-view-skin(light-box-component, alpha: 0.50)
    add-layout-skin(box-component, absolute, auto, 24px)
    add-flex(0, 1, auto, auto)

// vertical-scroller
vertical-scroller()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, stretch)
vertical-scroller--low-button()
    add-view-skin(light-image-component, null, null, img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png'), alpha: 0.50)
    add-layout-skin(image-component, (absolute auto auto 0px auto), 24px, 24px)
vertical-scroller--high-button()
    add-view-skin(light-image-component, null, null, img('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png'), alpha: 0.50)
    add-layout-skin(image-component, (absolute auto auto auto 0px), 24px, 24px)
vertical-scroller--slider-field()
    add-view-skin(component)
    add-layout-skin(component, null, auto, auto, 0px, 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input()
    add-view-skin(component)
    add-layout-skin(component, null, 24px, auto, (0px 0px 24px 24px), 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input--container()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input--tracker()
    add-view-skin(dark-box-component)
    add-layout-skin(box-component, null, 24px, auto)
    add-flex(1, 1, auto, auto)
vertical-scroller--slider-field-input--dragger()
    add-view-skin(light-box-component, alpha: 0.50)
    add-layout-skin(box-component, absolute, 24px, auto)
    add-flex(0, 1, auto, auto)

// dropdown-view
dropdown-view()
    add-view-skin(null)
    add-layout-skin(null)
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
dropdown-view--scroll-view()
    add-view-skin(dropdown-view)
    add-layout-skin(dropdown-view)
dropdown-view--scroll-view--container()
dropdown-view--scroll-view--viewport()
dropdown-view--scroll-view--content()
    add-layout-box(0px, 0px, 0px)
dropdown-view--scroll-view--item()
    add-view-skin(component)
    add-layout-skin(component, null, null, null, null, null, (12px 12px 10px 10px))
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, center)
dropdown-view--scroll-view--item-checkmark(value)
    add-view-skin(image-component, null, null, img(value ? 'project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png' : null))
    add-layout-skin(image-component, null, 16px, 16px, (0px 12px 0px 0px))
    add-flex(0, 1, auto, auto)
dropdown-view--scroll-view--item-text()
    add-view-skin(component)
    add-layout-skin(component)
    add-flex(1, 1, auto, auto)

// PanelSettings
#PanelSettings
    add-view-foreground(theme.color.dark, fnt('project://database/Assets/Project.UI/Assets.Project.UI/Fonts/NotInter/NotInter-Regular.ttf', 14px, normal), null)

// ui-document
.unity-ui-document__root
    add-layout-size(100%, 100%)

// label
.unity-label
    label()
    &:focus
        add-view-skin(focus-effect)
    &.invalid
        add-view-skin(invalid-effect)

// button
.unity-button
    button()
    &:focus
        add-view-skin(focus-effect)
    &.invalid
        add-view-skin(invalid-effect)

// repeat-button
.unity-repeat-button
    button()
    &:focus
        add-view-skin(focus-effect)
    &.invalid
        add-view-skin(invalid-effect)

// field
.unity-base-field
    field()
    &__label
        field-label()
        :focus > &
            add-view-skin(focus-effect)
        .invalid > &
            add-view-skin(invalid-effect)
    &__input
        field-input()
        :focus > &
            add-view-skin(focus-effect-without-foreground)
        .invalid > &
            add-view-skin(invalid-effect-without-foreground)

// text-field
.unity-base-text-field
    &__input
        text-field-input()
    &__input .unity-text-element
        text-field-input--text()

// popup-field
.unity-base-popup-field
    &__input
        popup-field-input()
    &__input .unity-text-element
        popup-field-input--text()
    &__input &__arrow
        popup-field-input--arrow()

// slider-field
.unity-base-slider
    &__input
        slider-field-input()
    &__input #unity-drag-container
        slider-field-input--container()
    &__input #unity-tracker
        slider-field-input--tracker()
    &__input #unity-dragger
        slider-field-input--dragger()

// toggle-field
.unity-toggle
    &__input
        toggle-field-input()
    &__input #unity-checkmark
        toggle-field-input--checkmark(false)
    &__input:checked #unity-checkmark
        toggle-field-input--checkmark(true)

// scroll-view
.unity-scroll-view
    scroll-view()
    #unity-content-and-vertical-scroll-container
        scroll-view--container()
    #unity-content-viewport
        scroll-view--viewport()
    #unity-content-container
        scroll-view--content()

// scroller--horizontal
.unity-scroller--horizontal
    horizontal-scroller()
    #unity-low-button
        horizontal-scroller--low-button()
    #unity-high-button
        horizontal-scroller--high-button()
    .unity-base-slider
        horizontal-scroller--slider-field()
        .unity-base-slider__input
            horizontal-scroller--slider-field-input()
        #unity-drag-container
            horizontal-scroller--slider-field-input--container()
        #unity-tracker
            horizontal-scroller--slider-field-input--tracker()
        #unity-dragger
            horizontal-scroller--slider-field-input--dragger()
    .unity-base-slider:focus
        #unity-dragger
            add-view-skin(focus-effect)

// scroller--vertical
.unity-scroller--vertical
    vertical-scroller()
    #unity-low-button
        vertical-scroller--low-button()
    #unity-high-button
        vertical-scroller--high-button()
    .unity-base-slider
        vertical-scroller--slider-field()
        .unity-base-slider__input
            vertical-scroller--slider-field-input()
        #unity-drag-container
            vertical-scroller--slider-field-input--container()
        #unity-tracker
            vertical-scroller--slider-field-input--tracker()
        #unity-dragger
            vertical-scroller--slider-field-input--dragger()
    .unity-base-slider:focus
        #unity-dragger
            add-view-skin(focus-effect)

// dropdown
.unity-base-dropdown
    add-view-background(rgba(0, 0, 0, 0.25), null, null, null)
    add-layout-position(absolute, null, null, null, null)
    &__container-outer
        dropdown-view()
    .unity-scroll-view
        dropdown-view--scroll-view()
    #unity-content-and-vertical-scroll-container
        dropdown-view--scroll-view--container()
    #unity-content-viewport
        dropdown-view--scroll-view--viewport()
    #unity-content-container
        dropdown-view--scroll-view--content()
    &__item
        dropdown-view--scroll-view--item()
    &__item:hover
        add-view-skin(hover-effect)
    &__item &__checkmark
        dropdown-view--scroll-view--item-checkmark(false)
    &__item:checked &__checkmark
        dropdown-view--scroll-view--item-checkmark(true)
    &__item &__label
        dropdown-view--scroll-view--item-text()