@import "../StyleSheet__Theme2"

// button
button(effect)
    // cursor link
    add-skin1      effect, element--button, create-font(null, null, bold), create-text(middle-center)
    add-skin2      effect, element--button
    add-skin3-flex effect, 0, 1, auto, auto

// button
.unity-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)

// repeat-button
.unity-repeat-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)
