@import "../StyleSheet__Theme"

// dropdown-view
dropdown-view(effect)
    add-element(effect, dropdown-view, dropdown-view)

// scroll-view
scroll-view(effect)
    add-element(effect, default, default)
viewport-and-vertical-scroller(effect)
    add-component(effect, null)
viewport(effect)
    add-component(effect, null)
content(effect)
    add-component(effect, null)

// dropdown-item
dropdown-item(effect)
    add-element(effect, dropdown-item,        dropdown-item) if effect == null
    add-element(effect, dropdown-item--hover, dropdown-item) if effect == 'hover'
    add-element-flex(0, 1, auto, auto)
    add-element-flex2(row, flex-start, center)
// checkmark
checkmark(effect, value)
    add-image(effect, null,                      null, 16px 16px, (0px 12px 0px 0px) null null) if !value
    add-image(effect, null light-checkmark-icon, null, 16px 16px, (0px 12px 0px 0px) null null) if value
    add-image-flex(0, 1, auto, auto)
// text
text(effect)
    add-component(effect, null)
    add-component-flex(1, 1, auto, auto)

// dropdown-view
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        dropdown-view(null)
    .unity-scroll-view
        scroll-view(null)
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller(null)
    #unity-content-viewport
        viewport(null)
    #unity-content-container
        content(null)
    &__item
        dropdown-item(null)
    &__item:hover
        dropdown-item(hover)
    &__item &__checkmark
        checkmark(null, false)
    &__item:checked &__checkmark
        checkmark(null, true)
    &__item &__label
        text(null)
