@import "../StyleSheet__Theme"

// dropdown-view
dropdown-view()
    add-element(dropdown-view, dropdown-view)

// scroll-view
scroll-view()
    add-element(default, default)
viewport-and-vertical-scroller()
    add-component(null)
viewport()
    add-component(null)
content()
    add-component(null)

// dropdown-item
dropdown-item(effect)
    add-element(dropdown-item,        dropdown-item) if effect == null
    add-element(dropdown-item--hover, dropdown-item) if effect == 'hover'
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, center)
// checkmark
checkmark(value)
    add-image(null,                      null, 16px 16px, (0px 12px 0px 0px) null null) if !value
    add-image(null light-checkmark-icon, null, 16px 16px, (0px 12px 0px 0px) null null) if value
    add-flex(0, 1, auto, auto)
// text
text()
    add-component(null)
    add-flex(1, 1, auto, auto)

// dropdown-view
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        dropdown-view()
    .unity-scroll-view
        scroll-view()
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller()
    #unity-content-viewport
        viewport()
    #unity-content-container
        content()
    &__item
        dropdown-item(null)
    &__item:hover
        dropdown-item(hover)
    &__item &__checkmark
        checkmark(false)
    &__item:checked &__checkmark
        checkmark(true)
    &__item &__label
        text()
