@import "../StyleSheet__Theme2"

// field
field(effect)
    add-skin1       effect, element--field
    add-skin2       effect, element--field
    add-skin3-flex  effect, 0, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, stretch
field-label(effect)
    add-skin1      effect, element--field-label, create-font(null, null, bold), create-text(middle-left, null, null)
    add-skin2      effect, element--field-label
    add-skin3-flex effect, 0, 1, auto, auto
field-input(effect)
    // cursor text
    add-skin1       effect, element--field-input, create-font(null, null, null), create-text(middle-left, null, null)
    add-skin2       effect, element--field-input
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, row, flex-end, center

// field
.unity-base-field
    field(null)
    &__label
        field-label(null)
    &__label:hover
        field-label(hover)
    &__input
        field-input(null)
    // &__input:hover
    //     field-input(hover)

// field
.unity-base-field:focus
    .unity-base-field__label
        field-label(focus)
    .unity-base-field__input
        field-input(focus-without-foreground)

// field
.unity-base-field.invalid
    .unity-base-field__label
        field-label(invalid)
    .unity-base-field__input
        field-input(invalid-without-foreground)
