@import "../StyleSheet__Theme2"

// slider-field
slider-field()
slider-field-label()
slider-field-input()
// container
container(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, center
// tracker
tracker(effect)
    add-skin1      effect, light-image
    add-skin2      effect, image, create-position(null), create-size(auto, 8px)
    add-skin3-flex effect, 1, 1, auto, auto
// dragger
dragger(effect)
    add-skin1      effect, light-image
    add-skin2      effect, image, create-position(absolute), create-size(8px, 24px)
    add-skin3-flex effect, 0, 1, auto, auto

// slider-field
.unity-base-slider
    slider-field()
    &__label
        slider-field-label()
    &__input
        slider-field-input()
    &__input #unity-drag-container
        container(null)
    &__input #unity-tracker
        tracker(null)
    &__input #unity-dragger
        dragger(null)
