@import "../StyleSheet__Theme2"

// toggle-field
toggle-field()
toggle-field-label()
toggle-field-input()
// checkmark
checkmark(effect, value)
    add-skin1      effect, light-image,                    if !value
    add-skin1      effect, light-image dark-checkmark-icon if value
    add-skin2      effect, image, create-size(16px, 16px)
    add-skin3-flex effect, 0, 1, auto, auto

// toggle-field
.unity-toggle
    toggle-field()
    &__label
        toggle-field-label()
    &__input
        toggle-field-input()
    &__input #unity-checkmark
        checkmark(null, false)
    &__input:checked #unity-checkmark
        checkmark(null, true)
