doctype xml
ui:UXML(xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements" editor-extension-mode="False")
	Style(src="project://database/Assets/Project.UI/Assets.Project.UI/StyleSheets/StyleSheet.uss")
	Project::UI::MainScreen::MainWidgetView.widget-view