@import "../Internal/__Theme"

// button
view--button = create-view-skin(light, (element--light element--light), (element--light element)), create-font(null, null, bold), create-text(middle-center, null, null)

// button
layout--button = create-layout-skin(null, auto auto, 4px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)

// button
.unity-button, .unity-repeat-button
    // cursor link
    add-skin1 button
    add-skin2 button

// // button
// .unity-button:hover, .unity-repeat-button:hover
//     add-skin1 button
//     add-skin2 button

// // button
// .unity-button:active, .unity-repeat-button:active
//     add-skin1 button
//     add-skin2 button

// // button
// .unity-button:focus, .unity-repeat-button:focus
//     add-skin1 button
//     add-skin2 button

// // button
// .unity-button.invalid, .unity-repeat-button.invalid
//     add-skin1 button
//     add-skin2 button
