@import "../Internal/__Theme"

// field
skin--field       = null
skin--field-label = null
skin--field-input = null
skin--text        = create-view-skin(null, (element element), (element element))

// field
misc--field       = null
misc--field-label = null
misc--field-input = null
misc--text        = create-layout-skin(null, auto auto, 0px, 0px, 0px), create-flex(1, 1, auto, auto)

// text-field
.unity-base-text-field
    add-skin field
    add-misc field
    &__label
        add-skin field-label
        add-misc field-label
    &__input
        add-skin field-input
        add-misc field-input
    &__input .unity-text-element
        add-skin text
        add-misc text
