@import "../Internal/__Theme"

// field
view--field       = null
view--field-label = null
view--field-input = null
view--text        = create-view-skin(null, (element   element                   ), (element   element  ))
view--arrow       = create-view-skin(null, (component dropdown-arrow-icon--light), (component component))

// skin
layout--field       = null
layout--field-label = null
layout--field-input = null
layout--text        = create-layout-skin(null, auto auto, 0px, 0px, 0px), create-flex(1, 1, auto, auto)
layout--arrow       = create-layout-skin(null, 12px 12px, 2px, 0px, 0px), create-flex(0, 1, auto, auto)

// popup-field
.unity-base-popup-field
    add-skin1 field
    add-skin2 field
    &__label
        add-skin1 field-label
        add-skin2 field-label
    &__input
        add-skin1 field-input
        add-skin2 field-input
    &__input .unity-text-element
        add-skin1 text
        add-skin2 text
    &__input &__arrow
        add-skin1 arrow
        add-skin2 arrow

// // popup-field
// .unity-base-popup-field
//     &__input:hover &__arrow
//         add-skin1 arrow
//         add-skin2 arrow

// // popup-field
// .unity-base-popup-field
//     &__input:active &__arrow
//         add-skin1 arrow
//         add-skin2 arrow

// // popup-field
// .unity-base-popup-field
//     &__input:focus &__arrow
//         add-skin1 arrow
//         add-skin2 arrow
