@import "../Internal/__Theme"

// dropdown
view--dropdown                       = create-view-skin(light, (dropdown             dropdown             ), (dropdown             dropdown     ))
view--dropdown-item                  = create-view-skin(light, (dropdown-item        dropdown-item        ), (dropdown-item        dropdown-item))
view--checkmark                      = create-view-skin(null,  (component            component            ), (component            component    ))
view--checkmark--checked             = create-view-skin(null,  (component            checkmark-icon--light), (component            component    ))
view--text                           = create-view-skin(null,  (element              element              ), (element              element      ))
// dropdown
view--dropdown--hover                = create-view-skin(light, (dropdown--hover      dropdown--hover      ), (dropdown--hover      dropdown     ))
view--dropdown-item--hover           = create-view-skin(light, (dropdown-item--hover dropdown-item--hover ), (dropdown-item--hover dropdown-item))
// scroll-view
view--scroll-view                    = create-view-skin(null,  (element              element              ), (element              element      ))
view--viewport-and-vertical-scroller = create-view-skin(null,  (element              element              ), (element              element      ))
view--viewport                       = create-view-skin(null,  (element              element              ), (element              element      ))
view--content                        = create-view-skin(null,  (element              element              ), (element              element      ))

// dropdown
layout--dropdown                       = create-layout-skin(null, auto auto, 0px 0px  2px 0px, 1px,             0px                ), create-flex(0, 1, auto, auto)
layout--dropdown-item                  = create-layout-skin(null, auto auto, 0px,              0px 0px 0px 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto), create-flex2(row, flex-start, stretch)
layout--checkmark                      = create-layout-skin(null, 16px 16px, 0px 12px 0px 0px, 1px,             0px                ), create-flex(0, 1, auto, auto)
layout--text                           = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), create-flex(1, 1, auto, auto)
// scroll-view
layout--scroll-view                    = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null
layout--viewport-and-vertical-scroller = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null
layout--viewport                       = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null
layout--content                        = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null

// dropdown
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        add-skin1 dropdown
        add-skin2 dropdown
    .unity-scroll-view
        add-skin1 scroll-view
        add-skin2 scroll-view
    #unity-content-and-vertical-scroll-container
        add-skin1 viewport-and-vertical-scroller
        add-skin2 viewport-and-vertical-scroller
    #unity-content-viewport
        add-skin1 viewport
        add-skin2 viewport
    #unity-content-container
        add-skin1 content
        add-skin2 content
    &__item
        add-skin1 dropdown-item
        add-skin2 dropdown-item
    &__item &__checkmark
        add-skin1 checkmark
        add-skin2 checkmark
    &__item &__label
        add-skin1 text
        add-skin2 text

// dropdown
.unity-base-dropdown
    &__container-outer:hover
        add-skin1 dropdown--hover
    &__item:hover
        add-skin1 dropdown-item--hover

// dropdown
.unity-base-dropdown
    &__item:checked &__checkmark
        add-skin1 checkmark--checked
 