@import "../StyleSheet__Theme2"

// label
label(effect)
    add-skin1 effect, label-element, create-text(upper-left)
    add-skin2 effect, label-element
    add-misc  effect, create-flex(0, 1, auto, auto)

// label
.unity-label
    label(null)
