@import "../StyleSheet__Theme"

// scroll-view
scroll-view()
    add-skin(scroll-view)
    add-skin2(scroll-view)
    add-view()
    add-layout()
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
    &.light, &.light-0
        add-skin(light-scroll-view, alpha: 0.00)
    &.light-1
        add-skin(light-scroll-view, alpha: 0.10)
    &.light-2
        add-skin(light-scroll-view, alpha: 0.20)
    &.light-3
        add-skin(light-scroll-view, alpha: 0.30)
    &.light-4
        add-skin(light-scroll-view, alpha: 0.40)
    &.light-5
        add-skin(light-scroll-view, alpha: 0.50)
    &.light-6
        add-skin(light-scroll-view, alpha: 0.60)
    &.light-7
        add-skin(light-scroll-view, alpha: 0.70)
    &.light-8
        add-skin(light-scroll-view, alpha: 0.80)
    &.light-9
        add-skin(light-scroll-view, alpha: 0.90)
    &.light-10
        add-skin(light-scroll-view, alpha: 1.00)
    &.dark, &.dark-0
        add-skin(dark-scroll-view, alpha: 0.00)
    &.dark-1
        add-skin(dark-scroll-view, alpha: 0.10)
    &.dark-2
        add-skin(dark-scroll-view, alpha: 0.20)
    &.dark-3
        add-skin(dark-scroll-view, alpha: 0.30)
    &.dark-4
        add-skin(dark-scroll-view, alpha: 0.40)
    &.dark-5
        add-skin(dark-scroll-view, alpha: 0.50)
    &.dark-6
        add-skin(dark-scroll-view, alpha: 0.60)
    &.dark-7
        add-skin(dark-scroll-view, alpha: 0.70)
    &.dark-8
        add-skin(dark-scroll-view, alpha: 0.80)
    &.dark-9
        add-skin(dark-scroll-view, alpha: 0.90)
    &.dark-10
        add-skin(dark-scroll-view, alpha: 1.00)
scroll-view--container()
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, stretch)
scroll-view--viewport()
    overflow hidden
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
scroll-view--content()
    overflow scroll
    add-skin(null)
    add-skin2(null)
    add-layout(null, null, null, null, null, (12px 12px 10px 10px))
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, stretch)

// horizontal-scroller
horizontal-scroller()
    add-skin(null)
    add-skin2(null)
    add-flex(0, 0, auto, auto)
    add-flex2(row, flex-start, stretch)
horizontal-scroller--low-button()
    add-skin(light-image)
    add-skin(dark-arrow-icon--left)
    add-skin2(image)
    add-layout(absolute 0px auto auto auto, 24px, 24px)
horizontal-scroller--high-button()
    add-skin(light-image)
    add-skin(dark-arrow-icon--right)
    add-skin2(image)
    add-layout(absolute auto 0px auto auto, 24px, 24px)
// horizontal-scroller--slider-field
horizontal-scroller--slider-field()
    add-skin(null)
    add-skin2(null)
    add-layout(null, auto, auto, 0px, 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
// horizontal-scroller/slider-field-input
horizontal-scroller--slider-field-input()
    add-skin(null)
    add-skin2(null)
    add-layout(null, auto, 24px, (24px 24px 0px 0px), 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input--container()
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-scroller--slider-field-input--tracker()
    add-skin(dark-image)
    add-skin2(image)
    add-layout(null, auto, 24px)
    add-flex(1, 1, auto, auto)
horizontal-scroller--slider-field-input--dragger()
    add-skin(light-image)
    add-skin2(image)
    add-layout(absolute, auto, 24px)
    add-flex(0, 1, auto, auto)

// vertical-scroller
vertical-scroller()
    add-skin(null)
    add-skin2(null)
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, stretch)
vertical-scroller--low-button()
    add-skin(light-image)
    add-skin(dark-arrow-icon--up)
    add-skin2(image)
    add-layout(absolute auto auto 0px auto, 24px, 24px)
vertical-scroller--high-button()
    add-skin(light-image)
    add-skin(dark-arrow-icon--down)
    add-skin2(image)
    add-layout(absolute auto auto auto 0px, 24px, 24px)
// vertical-scroller/slider-field
vertical-scroller--slider-field()
    add-skin(null)
    add-skin2(null)
    add-layout(null, auto, auto, 0px, 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
// vertical-scroller/slider-field-input
vertical-scroller--slider-field-input()
    add-skin(null)
    add-skin2(null)
    add-layout(null, 24px, auto, (0px 0px 24px 24px), 0px, 0px)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input--container()
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-scroller--slider-field-input--tracker()
    add-skin(dark-image)
    add-skin2(image)
    add-layout(null, 24px, auto)
    add-flex(1, 1, auto, auto)
vertical-scroller--slider-field-input--dragger()
    add-skin(light-image)
    add-skin2(image)
    add-layout(absolute, 24px, auto)
    add-flex(0, 1, auto, auto)

// scroll-view
.unity-scroll-view
    scroll-view()
    #unity-content-and-vertical-scroll-container
        scroll-view--container()
    #unity-content-viewport
        scroll-view--viewport()
    #unity-content-container
        scroll-view--content()

// scroller--horizontal
.unity-scroller--horizontal
    horizontal-scroller()
    #unity-low-button
        horizontal-scroller--low-button()
    #unity-high-button
        horizontal-scroller--high-button()
    // scroller--horizontal/slider-field
    .unity-base-slider
        horizontal-scroller--slider-field()
        // scroller--vertical/slider-field-input
        .unity-base-slider__input
            horizontal-scroller--slider-field-input()
        #unity-drag-container
            horizontal-scroller--slider-field-input--container()
        #unity-tracker
            horizontal-scroller--slider-field-input--tracker()
        #unity-dragger
            horizontal-scroller--slider-field-input--dragger()
    .unity-base-slider:focus
        #unity-dragger
            add-skin(focus-effect)

// scroller--vertical
.unity-scroller--vertical
    vertical-scroller()
    #unity-low-button
        vertical-scroller--low-button()
    #unity-high-button
        vertical-scroller--high-button()
    // scroller--vertical/slider-field
    .unity-base-slider
        vertical-scroller--slider-field()
        // scroller--vertical/slider-field-input
        .unity-base-slider__input
            vertical-scroller--slider-field-input()
        #unity-drag-container
            vertical-scroller--slider-field-input--container()
        #unity-tracker
            vertical-scroller--slider-field-input--tracker()
        #unity-dragger
            vertical-scroller--slider-field-input--dragger()
    .unity-base-slider:focus
        #unity-dragger
            add-skin(focus-effect)
