@import "../StyleSheet__Theme"

// scroll-view
scroll-view()
    add-view-skin(scroll-view)
    add-view-skin-light-gradient(scroll-view)
    add-view-skin-dark-gradient(scroll-view)
    add-layout-skin(scroll-view)
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
viewport-and-vertical-scroller()
    add-component(null)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, stretch)
viewport()
    overflow hidden
    add-component(null)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
content()
    overflow scroll
    add-component(null, box: null null medium)
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, stretch)

// scroller
horizontal-scroller()
    add-view-skin(null)
    add-layout-skin(null)
    add-flex(0, 0, auto, auto)
    add-flex2(row, flex-start, center)
// slider-field
horizontal-slider-field()
    add-view-skin(default)
    add-layout-skin(default)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-slider-field-input()
    add-view-skin(default)
    add-layout-skin(default)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-container()
    add-component(default)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
horizontal-tracker()
    add-image(dark-image, null, auto 24px, null)
    add-flex(1, 1, auto, auto)
horizontal-dragger(effect)
    add-image(button, absolute, auto 24px, null, effect: effect)
    add-flex(0, 1, auto, auto)
// low
horizontal-low-button(effect)
    add-image(button dark-arrow-icon--left, null, 24px 24px, 2px null null, effect: effect)
    add-flex(0, 0, auto, auto)
// high
horizontal-high-button(effect)
    add-image(button dark-arrow-icon--right, null, 24px 24px, 2px null null, effect: effect)
    add-flex(0, 0, auto, auto)

// scroller
vertical-scroller()
    add-view-skin(null)
    add-layout-skin(null)
    add-flex(0, 0, auto, auto)
    add-flex2(column, flex-start, center)
// slider-field
vertical-slider-field()
    add-view-skin(default)
    add-layout-skin(default)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-slider-field-input()
    add-view-skin(default)
    add-layout-skin(default)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-container()
    add-component(default)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, center)
vertical-tracker()
    add-image(dark-image, null, 24px auto, null)
    add-flex(1, 1, auto, auto)
vertical-dragger(effect)
    add-image(button, absolute, 24px auto, null, effect: effect)
    add-flex(0, 1, auto, auto)
// low
vertical-low-button(effect)
    add-image(button dark-arrow-icon--up, null, 24px 24px, 2px null null, effect: effect)
    add-flex(0, 0, auto, auto)
// high
vertical-high-button(effect)
    add-image(button dark-arrow-icon--down, null, 24px 24px, 2px null null, effect: effect)
    add-flex(0, 0, auto, auto)

// scroll-view
.unity-scroll-view
    scroll-view()
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller()
    #unity-content-viewport
        viewport()
    #unity-content-container
        content()
.unity-scroll-view.reverse
    #unity-content-viewport
        add-flex2(column-reverse, null, null)

// scroller
.unity-scroller--horizontal
    horizontal-scroller()
    // slider
    .unity-base-slider
        horizontal-slider-field()
        .unity-base-slider__input
            horizontal-slider-field-input()
        #unity-drag-container
            horizontal-container()
        #unity-tracker
            horizontal-tracker()
        #unity-dragger
            horizontal-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            horizontal-dragger(focus)
    // low
    #unity-low-button
        horizontal-low-button(null)
    #unity-low-button:hover
        horizontal-low-button(hover)
    #unity-low-button:active
        horizontal-low-button(active)
    // high
    #unity-high-button
        horizontal-high-button(null)
    #unity-high-button:hover
        horizontal-high-button(hover)
    #unity-high-button:active
        horizontal-high-button(active)

// scroller
.unity-scroller--vertical
    vertical-scroller()
    // slider
    .unity-base-slider
        vertical-slider-field()
        .unity-base-slider__input
            vertical-slider-field-input()
        #unity-drag-container
            vertical-container()
        #unity-tracker
            vertical-tracker()
        #unity-dragger
            vertical-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            vertical-dragger(focus)
    // low
    #unity-low-button
        vertical-low-button(null)
    #unity-low-button:hover
        vertical-low-button(hover)
    #unity-low-button:active
        vertical-low-button(active)
    // high
    #unity-high-button
        vertical-high-button(null)
    #unity-high-button:hover
        vertical-high-button(hover)
    #unity-high-button:active
        vertical-high-button(active)
