@import "../StyleSheet__Theme2"

// scroll-view
scroll-view(effect)
    add-skin1       effect, element--scroll-view
    add-skin1-light effect, element--scroll-view--light
    add-skin1-dark  effect, element--scroll-view--dark
    add-skin2       effect, element--scroll-view
    add-skin3-flex  effect, 0, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, stretch
viewport-and-vertical-scroller(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, stretch
viewport(effect)
    overflow hidden
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, stretch
content(effect)
    overflow scroll
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 0, 0, auto, auto
    add-skin3-flex2 effect, column, flex-start, stretch

// scroller
horizontal-scroller(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 0, 0, auto, auto
    add-skin3-flex2 effect, row, flex-start, center
// slider-field
horizontal-slider-field(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, center
horizontal-slider-field-input(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, center
horizontal-container(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, center
horizontal-tracker(effect)
    add-skin1      effect, component--dark
    add-skin2      effect, component, create-position(null), create-size(auto, 24px)
    add-skin3-flex effect, 1, 1, auto, auto
horizontal-dragger(effect)
    add-skin1      effect, element--button
    add-skin2      effect, component, create-position(absolute), create-size(auto, 24px)
    add-skin3-flex effect, 0, 1, auto, auto
// button
horizontal-low-button(effect)
    add-skin1      effect, element--button icon--dark--arrow--left
    add-skin2      effect, component, create-size(24px, 24px), create-box(2px, null, null)
    add-skin3-flex effect, 0, 0, auto, auto
horizontal-high-button(effect)
    add-skin1      effect, element--button icon--dark--arrow--right
    add-skin2      effect, component, create-size(24px, 24px), create-box(2px, null, null)
    add-skin3-flex effect, 0, 0, auto, auto

// scroller
vertical-scroller(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 0, 0, auto, auto
    add-skin3-flex2 effect, column, flex-start, center
// slider-field
vertical-slider-field(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, center
vertical-slider-field-input(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, center
vertical-container(effect)
    add-skin1       effect, element
    add-skin2       effect, element
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, center
vertical-tracker(effect)
    add-skin1      effect, component--dark
    add-skin2      effect, component, create-size(24px, auto)
    add-skin3-flex effect, 1, 1, auto, auto
vertical-dragger(effect)
    add-skin1      effect, element--button
    add-skin2      effect, component, create-position(absolute), create-size(24px, auto)
    add-skin3-flex effect, 0, 1, auto, auto
// button
vertical-low-button(effect)
    add-skin1      effect, element--button icon--dark--arrow--up
    add-skin2      effect, component, create-size(24px, 24px), create-box(2px, null, null)
    add-skin3-flex effect, 0, 0, auto, auto
vertical-high-button(effect)
    add-skin1      effect, element--button icon--dark--arrow--down
    add-skin2      effect, component, create-size(24px, 24px), create-box(2px, null, null)
    add-skin3-flex effect, 0, 0, auto, auto

// scroll-view
.unity-scroll-view
    scroll-view(null)
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller(null)
    #unity-content-viewport
        viewport(null)
    #unity-content-container
        content(null)

// scroll-view
.unity-scroll-view.reverse
    #unity-content-viewport
        add-skin3-flex2 null, column-reverse, null, null

// scroller
.unity-scroller--horizontal
    horizontal-scroller(null)
    // slider
    .unity-base-slider
        horizontal-slider-field(null)
        .unity-base-slider__input
            horizontal-slider-field-input(null)
        #unity-drag-container
            horizontal-container(null)
        #unity-tracker
            horizontal-tracker(null)
        #unity-dragger
            horizontal-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            horizontal-dragger(focus)
    // button
    #unity-low-button
        horizontal-low-button(null)
    #unity-low-button:hover
        horizontal-low-button(hover)
    #unity-low-button:active
        horizontal-low-button(active)
    // button
    #unity-high-button
        horizontal-high-button(null)
    #unity-high-button:hover
        horizontal-high-button(hover)
    #unity-high-button:active
        horizontal-high-button(active)

// scroller
.unity-scroller--vertical
    vertical-scroller(null)
    // slider
    .unity-base-slider
        vertical-slider-field(null)
        .unity-base-slider__input
            vertical-slider-field-input(null)
        #unity-drag-container
            vertical-container(null)
        #unity-tracker
            vertical-tracker(null)
        #unity-dragger
            vertical-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            vertical-dragger(focus)
    // button
    #unity-low-button
        vertical-low-button(null)
    #unity-low-button:hover
        vertical-low-button(hover)
    #unity-low-button:active
        vertical-low-button(active)
    // button
    #unity-high-button
        vertical-high-button(null)
    #unity-high-button:hover
        vertical-high-button(hover)
    #unity-high-button:active
        vertical-high-button(active)
