@import "../StyleSheet__Theme2"

// skin
skin2--button = create-layout(null, auto, auto, 4px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)

// button
button(effect)
    // cursor link
    add-skin1 effect, button-element, create-font(null, null, bold), create-text(middle-center)
    add-skin2 effect, button

// button
.unity-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)

// repeat-button
.unity-repeat-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)
