@import "../StyleSheet__Theme"

// button
button(effect)
    // cursor link
    add-element(effect, button, button, font: create-font(null, null, bold), text: create-text(middle-center))
    add-element-flex(0, 1, auto, auto)

// button
.unity-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)

// repeat-button
.unity-repeat-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)
