@import "../StyleSheet__Theme"

// button
skin--button = create-view-skin(dark, (element--light element--light), (element--light element)), create-font(null, null, bold), create-text(middle-center, null, null)

// button
misc--button = create-layout-skin(null, auto auto, 4px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)

// button
button(effect)
    // cursor link
    add-skin effect, button
    add-misc effect, button

// button
.unity-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)

// repeat-button
.unity-repeat-button
    button(null)
    &:hover
        button(hover)
    &:active
        button(active)
    &:focus
        button(focus)
    &.invalid
        button(invalid)
