@import "../StyleSheet__Theme"

// dropdown-view
dropdown-view()
    add-skin(dropdown-view)
    add-skin2(dropdown-view)

// scroll-view
scroll-view()
    add-view(null, null, null, transparent, null, transparent, null)
    add-layout(null, auto, auto, 0px, 0px, 0px)
scroll-view--content-viewport-and-vertical-scroller()
    add-view()
    add-layout()
scroll-view--content-viewport()
    add-view()
    add-layout()
scroll-view--content-container()
    add-view()
    add-layout(null, auto, auto, 0px, 0px, 0px)

// dropdown-item
dropdown-item()
    add-skin(null)
    add-skin2(null, padding: (12px 12px 10px 10px))
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, center)
    &:hover
        add-skin(hover-effect)
dropdown-item--checkmark(value)
    add-image(null,                      null, 16px 16px, (0px 12px 0px 0px) 1px 0px)
    add-image(null light-checkmark-icon, null, 16px 16px, (0px 12px 0px 0px) 1px 0px) if value
    add-flex(0, 1, auto, auto)
dropdown-item--text()
    add-skin(null)
    add-skin2(null, width: auto, height: auto, margin: 0px, border: 0px, padding: 0px)
    add-flex(1, 1, auto, auto)

// dropdown-view
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        dropdown-view()
    .unity-scroll-view
        scroll-view()
    #unity-content-and-vertical-scroll-container
        scroll-view--content-viewport-and-vertical-scroller()
    #unity-content-viewport
        scroll-view--content-viewport()
    #unity-content-container
        scroll-view--content-container()
    &__item
        dropdown-item()
    &__item &__checkmark
        dropdown-item--checkmark(false)
    &__item:checked &__checkmark
        dropdown-item--checkmark(true)
    &__item &__label
        dropdown-item--text()
