@import "../StyleSheet__Theme2"

// dropdown-view
dropdown-view(effect)
    add-skin1 effect, dropdown-view
    add-skin2 effect, dropdown-view

// scroll-view
scroll-view(effect)
    add-skin1 effect, element
    add-skin2 effect, element
viewport-and-vertical-scroller(effect)
    add-skin1 effect, element
    add-skin2 effect, element
viewport(effect)
    add-skin1 effect, element
    add-skin2 effect, element
content(effect)
    add-skin1 effect, element
    add-skin2 effect, element

// dropdown-item
dropdown-item(effect)
    add-skin1       effect, dropdown-item,       if effect == null
    add-skin1       effect, dropdown-item--hover if effect == 'hover'
    add-skin2       effect, dropdown-item
    add-skin3-flex  effect, 0, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, center
// checkmark
checkmark(effect, value)
    add-skin1      effect, image,                       if !value
    add-skin1      effect, image icon--light--checkmark if value
    add-skin2      effect, image, create-size(16px, 16px), create-box(0px 12px 0px 0px, null, null) 
    add-skin3-flex effect, 0, 1, auto, auto
// text
text(effect)
    add-skin1      effect, element
    add-skin2      effect, element
    add-skin3-flex effect, 1, 1, auto, auto

// dropdown-view
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        dropdown-view(null)
    .unity-scroll-view
        scroll-view(null)
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller(null)
    #unity-content-viewport
        viewport(null)
    #unity-content-container
        content(null)
    &__item
        dropdown-item(null)
    &__item:hover
        dropdown-item(hover)
    &__item &__checkmark
        checkmark(null, false)
    &__item:checked &__checkmark
        checkmark(null, true)
    &__item &__label
        text(null)
