@import "../StyleSheet__Theme"

// field
field(effect)
    add-element(field, field)
    add-element-flex(0, 1, auto, auto)
    add-element-flex2(row, flex-start, stretch)
field-label(effect)
    add-element(field-label, field-label, font: fnt(null, null, bold), text: txt(middle-left))
    add-element-flex(0, 1, auto, auto)
field-input(effect)
    // cursor text
    add-element(field-input, field-input, text: txt(middle-left))
    add-element-flex(1, 1, auto, auto)
    add-element-flex2(row, flex-end, center)

// field
.unity-base-field
    field(null)
    &__label
        field-label(null)
    &__label:hover
        field-label(hover)
    &__input
        field-input(null)
    // &__input:hover
    //     field-input(hover)

// field
.unity-base-field:focus
    .unity-base-field__label
        field-label(focus)
    .unity-base-field__input
        field-input(focus-without-foreground)

// field
.unity-base-field.invalid
    .unity-base-field__label
        field-label(invalid)
    .unity-base-field__input
        field-input(invalid-without-foreground)
