@import "../StyleSheet__Theme2"

// skin
skin--field       = create-layout(null, auto, auto, 4px,             0px, 0px                ), create-flex(0, 1, auto, auto), create-flex2(row, flex-start, stretch)
skin--field-label = create-layout(null, auto, auto, 0px 2px 0px 0px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)
skin--field-input = create-layout(null, auto, auto, 0px,             1px, 12px 12px 10px 10px), create-flex(1, 1, auto, auto), create-flex2(row, flex-end, stretch)

// field
field(effect)
    add-skin1 effect, field-element
    add-misc  effect, skin--field
field-label(effect)
    add-skin1 effect, field-label-element, create-font(null, null, bold), create-text(middle-left, null, null)
    add-misc  effect, skin--field-label
field-input(effect)
    // cursor text
    add-skin1 effect, field-input-element, create-font(null, null, null), create-text(middle-left, null, null)
    add-misc  effect, skin--field-input

// field
.unity-base-field
    field(null)
    &__label
        field-label(null)
    &__label:hover
        field-label(hover)
    &__input
        field-input(null)
    // &__input:hover
    //     field-input(hover)

// field
.unity-base-field:focus
    .unity-base-field__label
        field-label(focus)
    .unity-base-field__input
        field-input(focus-without-foreground)

// field
.unity-base-field.invalid
    .unity-base-field__label
        field-label(invalid)
    .unity-base-field__input
        field-input(invalid-without-foreground)
