@import "../StyleSheet__Theme"

// field
skin--field       = null
skin--field-label = null
skin--field-input = null
skin--text        = create-view-skin(null, (element element), (element element))

// field
misc--field       = null
misc--field-label = null
misc--field-input = null
misc--text        = create-layout-skin(null, auto auto, 0px, 0px, 0px), create-flex(1, 1, auto, auto)

// text-field
text-field(effect)
    add-skin effect, field
    add-misc effect, field
text-field-label(effect)
    add-skin effect, field-label
    add-misc effect, field-label
text-field-input(effect)
    add-skin effect, field-input
    add-misc effect, field-input
// text
text(effect)
    add-skin effect, text
    add-misc effect, text

// text-field
.unity-base-text-field
    text-field(null)
    &__label
        text-field-label(null)
    &__input
        text-field-input(null)
    &__input .unity-text-element
        text(null)
