@import "../StyleSheet__Theme"

// field
skin--field       = null
skin--field-label = null
skin--field-input = null
skin--text        = create-view-skin(null, (element   element                   ), (element   element  ))
skin--arrow       = create-view-skin(null, (component dropdown-arrow-icon--light), (component component))

// skin
misc--field       = null
misc--field-label = null
misc--field-input = null
misc--text        = create-layout-skin(null, auto auto, 0px, 0px, 0px), create-flex(1, 1, auto, auto)
misc--arrow       = create-layout-skin(null, 12px 12px, 2px, 0px, 0px), create-flex(0, 1, auto, auto)

// popup-field
popup-field(effect)
    add-skin effect, field
    add-misc effect, field
popup-field-label(effect)
    add-skin effect, field-label
    add-misc effect, field-label
popup-field-input(effect)
    add-skin effect, field-input
    add-misc effect, field-input
// text
text(effect)
    add-skin effect, text
    add-misc effect, text
// arrow
arrow(effect)
    add-skin effect, arrow
    add-misc effect, arrow

// popup-field
.unity-base-popup-field
    popup-field(null)
    &__label
        popup-field-label(null)
    &__input
        popup-field-input(null)
    &__input .unity-text-element
        text(null)
    &__input &__arrow
        arrow(null)
