@import "../StyleSheet__Theme2"

// field
skin1--field       = null
skin1--field-label = null
skin1--field-input = null
skin1--text        = create-view-skin(null, (element   element                   ), (element   element  ))
skin1--arrow       = create-view-skin(null, (component dropdown-arrow-icon--light), (component component))

// skin
skin2--field       = null
skin2--field-label = null
skin2--field-input = null
skin2--text        = create-layout-skin(null, auto auto, 0px, 0px, 0px), create-flex(1, 1, auto, auto)
skin2--arrow       = create-layout-skin(null, 12px 12px, 2px, 0px, 0px), create-flex(0, 1, auto, auto)

// popup-field
popup-field(effect)
    add-skin1 effect, field
    add-skin2 effect, field
popup-field-label(effect)
    add-skin1 effect, field-label
    add-skin2 effect, field-label
popup-field-input(effect)
    add-skin1 effect, field-input
    add-skin2 effect, field-input
// text
text(effect)
    add-skin1 effect, text
    add-skin2 effect, text
// arrow
arrow(effect)
    add-skin1 effect, arrow
    add-skin2 effect, arrow

// popup-field
.unity-base-popup-field
    popup-field(null)
    &__label
        popup-field-label(null)
    &__input
        popup-field-input(null)
    &__input .unity-text-element
        text(null)
    &__input &__arrow
        arrow(null)
