@import "../StyleSheet__Theme2"

// skin
skin2--field       = null
skin2--field-label = null
skin2--field-input = null
// skin
skin2--container   = create-layout(null,     auto, auto, 0px, 0px, 0px), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
skin2--tracker     = create-layout(null,     auto, 8px,  0px, 1px, 0px), create-flex(1, 1, auto, auto)
skin2--dragger     = create-layout(absolute, 8px, 24px,  0px, 1px, 0px), create-flex(0, 1, auto, auto)

// slider-field
slider-field(effect)
    add-skin2 effect, field
slider-field-label(effect)
    add-skin2 effect, field-label
slider-field-input(effect)
    add-skin2 effect, field-input
// container
container(effect)
    add-skin1 effect, element
    add-skin2 effect, container
// tracker
tracker(effect)
    add-skin1 effect, component--light
    add-skin2 effect, tracker
// dragger
dragger(effect)
    add-skin1 effect, component--light
    add-skin2 effect, dragger

// slider-field
.unity-base-slider
    slider-field(null)
    &__label
        slider-field-label(null)
    &__input
        slider-field-input(null)
    &__input #unity-drag-container
        container(null)
    &__input #unity-tracker
        tracker(null)
    &__input #unity-dragger
        dragger(null)
