@import "../StyleSheet__Theme"

// toggle-field
toggle-field()
toggle-field-label()
toggle-field-input()
// checkmark
checkmark(value)
    add-image(light-image,                     null, 16px 16px, null) if !value
    add-image(light-image dark-checkmark-icon, null, 16px 16px, null) if value
    add-image-flex(0, 1, auto, auto)

// toggle-field
.unity-toggle
    toggle-field()
    &__label
        toggle-field-label()
    &__input
        toggle-field-input()
    &__input #unity-checkmark
        checkmark(false)
    &__input:checked #unity-checkmark
        checkmark(true)
