@import "../StyleSheet__Theme2"

// skin
skin--field       = null
skin--field-label = null
skin--field-input = null
// skin
skin--checkmark   = create-layout(null, 16px, 16px,  0px, 1px, 0px), create-flex(0, 1, auto, auto)

// toggle-field
toggle-field(effect)
    add-skin2 effect, field
toggle-field-label(effect)
    add-skin2 effect, field-label
toggle-field-input(effect)
    add-skin2 effect, field-input
// checkmark
checkmark(effect, value)
    add-skin1 effect, component--light,                     if !value
    add-skin1 effect, component--light checkmark-icon--dark if value
    add-skin2 effect, checkmark

// toggle-field
.unity-toggle
    toggle-field(null)
    &__label
        toggle-field-label(null)
    &__input
        toggle-field-input(null)
    &__input #unity-checkmark
        checkmark(null, false)
    &__input:checked #unity-checkmark
        checkmark(null, true)
