@import "../StyleSheet__Theme2"

// skin
skin2--dropdown                       = create-layout(null, auto, auto, 0px,              1px, 0px                ), create-flex(0, 1, auto, auto)
skin2--dropdown-item                  = create-layout(null, auto, auto, 0px,              1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto), create-flex2(row, flex-start, stretch)
skin2--checkmark                      = create-layout(null, 16px, 16px, 0px 12px 0px 0px, 1px, 0px                ), create-flex(0, 1, auto, auto)
skin2--text                           = create-layout(null, auto, auto, 0px,              0px, 0px                ), create-flex(1, 1, auto, auto)
// skin
skin2--scroll-view                    = create-layout(null, auto, auto, 0px,              0px, 0px                )
skin2--viewport-and-vertical-scroller = create-layout(null, auto, auto, 0px,              0px, 0px                )
skin2--viewport                       = create-layout(null, auto, auto, 0px,              0px, 0px                )
skin2--content                        = create-layout(null, auto, auto, 0px,              0px, 0px                )

// dropdown
dropdown(effect)
    add-skin1 effect, dropdown-element
    add-skin2 effect, dropdown

// scroll-view
scroll-view(effect)
    add-skin1 effect, element
    add-skin2 effect, scroll-view
viewport-and-vertical-scroller(effect)
    add-skin1 effect, element
    add-skin2 effect, viewport-and-vertical-scroller
viewport(effect)
    add-skin1 effect, element
    add-skin2 effect, viewport
content(effect)
    add-skin1 effect, element
    add-skin2 effect, content

// dropdown-item
dropdown-item(effect)
    add-skin1 effect, dropdown-item-element
    add-skin2 effect, dropdown-item
// checkmark
checkmark(effect, value)
    add-skin1 effect, component,                      if !value
    add-skin1 effect, component checkmark-icon--light if value
    add-skin2 effect, checkmark
// text
text(effect)
    add-skin1 effect, element
    add-skin2 effect, text

// dropdown
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        dropdown(null)
    .unity-scroll-view
        scroll-view(null)
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller(null)
    #unity-content-viewport
        viewport(null)
    #unity-content-container
        content(null)
    &__item
        dropdown-item(null)
    &__item:hover
        dropdown-item(hover)
    &__item &__checkmark
        checkmark(null, false)
    &__item:checked &__checkmark
        checkmark(null, true)
    &__item &__label
        text(null)
