@import "../StyleSheet__Theme"

// dropdown
skin--dropdown                       = create-view-skin(null,  (dropdown-element             dropdown-element     ), (dropdown-element             element  ))
skin--dropdown-item                  = create-view-skin(light, (dropdown-item-element        dropdown-item-element), (dropdown-item-element        element  ))
skin--dropdown-item--hover           = create-view-skin(light, (dropdown-item-element--hover dropdown-item-element), (dropdown-item-element--hover element  ))
skin--checkmark                      = create-view-skin(null,  (component                    component            ), (component                    component))
skin--checkmark--checked             = create-view-skin(null,  (component                    checkmark-icon--light), (component                    component))
skin--text                           = create-view-skin(null,  (element                      element              ), (element                      element  ))
// scroll-view
skin--scroll-view                    = create-view-skin(null,  (element                      element              ), (element                      element  ))
skin--viewport-and-vertical-scroller = create-view-skin(null,  (element                      element              ), (element                      element  ))
skin--viewport                       = create-view-skin(null,  (element                      element              ), (element                      element  ))
skin--content                        = create-view-skin(null,  (element                      element              ), (element                      element  ))

// dropdown
misc--dropdown                       = create-layout-skin(null, auto auto, 0px,              1px,             0px                ), create-flex(0, 1, auto, auto)
misc--dropdown-item                  = create-layout-skin(null, auto auto, 0px,              0px 0px 0px 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto), create-flex2(row, flex-start, stretch)
misc--checkmark                      = create-layout-skin(null, 16px 16px, 0px 12px 0px 0px, 1px,             0px                ), create-flex(0, 1, auto, auto)
misc--text                           = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), create-flex(1, 1, auto, auto)
// scroll-view
misc--scroll-view                    = create-layout-skin(null, auto auto, 0px,              0px,             0px                )
misc--viewport-and-vertical-scroller = create-layout-skin(null, auto auto, 0px,              0px,             0px                )
misc--viewport                       = create-layout-skin(null, auto auto, 0px,              0px,             0px                )
misc--content                        = create-layout-skin(null, auto auto, 0px,              0px,             0px                )

// dropdown
dropdown(effect)
    add-skin effect, dropdown
    add-misc effect, dropdown

// scroll-view
scroll-view(effect)
    add-skin effect, scroll-view
    add-misc effect, scroll-view
viewport-and-vertical-scroller(effect)
    add-skin effect, viewport-and-vertical-scroller
    add-misc effect, viewport-and-vertical-scroller
viewport(effect)
    add-skin effect, viewport
    add-misc effect, viewport
content(effect)
    add-skin effect, content
    add-misc effect, content

// dropdown-item
dropdown-item(effect)
    add-skin effect, dropdown-item        if effect != 'hover'
    add-skin null,   dropdown-item--hover if effect == 'hover'
    add-misc effect, dropdown-item
// checkmark
checkmark(effect, value)
    add-skin effect, checkmark,         if !value
    add-skin effect, checkmark--checked if value
    add-misc effect, checkmark
// text
text(effect)
    add-skin effect, text
    add-misc effect, text

// dropdown
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        dropdown(null)
    .unity-scroll-view
        scroll-view(null)
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller(null)
    #unity-content-viewport
        viewport(null)
    #unity-content-container
        content(null)
    &__item
        dropdown-item(null)
    &__item:hover
        dropdown-item(hover)
    &__item &__checkmark
        checkmark(null, false)
    &__item:checked &__checkmark
        checkmark(null, true)
    &__item &__label
        text(null)
