doctype xml
ui:UXML(xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements" editor-extension-mode="False")
    Style(src="project://database/Assets/Project.UI/Assets.Project.UI/Styles/UIStyleSheet.uss")
    Project::UI::Common::PlayerProfileWidgetView.middle-widget-view
        ui:Card
            ui:Header
                ui:Label(text="Player Profile" name="title")
            ui:Content
                ui:ColumnGroup.dark2.large.grow-1
                    ui:TextField(label="Name" name="name" max-length="16").label-width-25
            ui:Footer
                ui:Button(text="Ok" name="okey")
                ui:Button(text="Back" name="back")