@import "../Internal/__Theme"

// group
skin--group--light2 = create-view-skin(light, (view--light2 view--light2), (view--light2 view))
skin--group--light  = create-view-skin(light, (view--light  view--light ), (view--light  view))
skin--group         = create-view-skin(light, (view--gray   view--gray  ), (view--gray   view))
skin--group--dark   = create-view-skin(light, (view--dark   view--dark  ), (view--dark   view))
skin--group--dark2  = create-view-skin(light, (view--dark2  view--dark2 ), (view--dark2  view))

// group
misc--group         = create-layout-skin(null, auto auto, 4px, 1px, 0px                ), create-flex(0, 1, auto, auto)
misc--group--small  = create-layout-skin(null, auto auto, 4px, 1px, 6px  6px  5px  5px ), create-flex(0, 1, auto, auto)
misc--group--medium = create-layout-skin(null, auto auto, 4px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)
misc--group--large  = create-layout-skin(null, auto auto, 4px, 1px, 24px 24px 20px 20px), create-flex(0, 1, auto, auto)
// group
misc--group--column = create-flex(0, 1, auto, auto), create-flex2(column, flex-start, stretch)
misc--group--row    = create-flex(0, 1, auto, auto), create-flex2(row,    flex-start, stretch)

// group
.group
    add-skin group
    add-misc group
// group/view
.group.light2
    add-skin group--light2
.group.light
    add-skin group--light
.group.dark
    add-skin group--dark
.group.dark2
    add-skin group--dark2
// group/layout
.group.small
    add-misc group--small
.group.medium
    add-misc group--medium
.group.large
    add-misc group--large
// group/flex
.group.column
    add-misc group--column
.group.row
    add-misc group--row
