@import "../Internal/__Theme"

// group
skin--group--light2 = create-view-skin(light, (view--light2 view--light2), (view--light2 view))
skin--group--light  = create-view-skin(light, (view--light  view--light ), (view--light  view))
skin--group         = create-view-skin(light, (view--gray   view--gray  ), (view--gray   view))
skin--group--dark   = create-view-skin(light, (view--dark   view--dark  ), (view--dark   view))
skin--group--dark2  = create-view-skin(light, (view--dark2  view--dark2 ), (view--dark2  view))

// group
misc--group         = create-layout-skin(null, auto auto, 4px, 1px, 0px                ), create-flex(0, 1, auto, auto)
misc--group--small  = create-layout-skin(null, auto auto, 4px, 1px, 6px  6px  5px  5px ), create-flex(0, 1, auto, auto)
misc--group--medium = create-layout-skin(null, auto auto, 4px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)
misc--group--large  = create-layout-skin(null, auto auto, 4px, 1px, 24px 24px 20px 20px), create-flex(0, 1, auto, auto)
// group
misc--group--column = create-flex(0, 1, auto, auto), create-flex2(column, flex-start, stretch)
misc--group--row    = create-flex(0, 1, auto, auto), create-flex2(row,    flex-start, stretch)

// group
.group
    add-skin group
    add-misc group
    &.light2
        add-skin group--light2
    &.light
        add-skin group--light
    &.dark
        add-skin group--dark
    &.dark2
        add-skin group--dark2
    &.small
        add-misc group--small
    &.medium
        add-misc group--medium
    &.large
        add-misc group--large
    &.column
        add-misc group--column
    &.row
        add-misc group--row
