@import "../Internal/__Theme"

// field
skin--field       = null
skin--field-label = null
skin--field-input = null
skin--text        = create-view-skin(null, (element   element                   ), (element   element  ))
skin--arrow       = create-view-skin(null, (component dropdown-arrow-icon--light), (component component))

// skin
misc--field       = null
misc--field-label = null
misc--field-input = null
misc--text        = create-layout-skin(null, auto auto, 0px, 0px, 0px), create-flex(1, 1, auto, auto)
misc--arrow       = create-layout-skin(null, 12px 12px, 2px, 0px, 0px), create-flex(0, 1, auto, auto)

// popup-field
.unity-base-popup-field
    add-skin field
    add-misc field
    &__label
        add-skin field-label
        add-misc field-label
    &__input
        add-skin field-input
        add-misc field-input
    &__input .unity-text-element
        add-skin text
        add-misc text
    &__input &__arrow
        add-skin arrow
        add-misc arrow

// // popup-field
// .unity-base-popup-field
//     &__input:hover &__arrow
//         add-skin arrow
//         add-misc arrow

// // popup-field
// .unity-base-popup-field
//     &__input:active &__arrow
//         add-skin arrow
//         add-misc arrow

// // popup-field
// .unity-base-popup-field
//     &__input:focus &__arrow
//         add-skin arrow
//         add-misc arrow
