@import "../Internal/__Theme"

// dropdown
skin--dropdown                       = create-view-skin(light, (dropdown             dropdown             ), (dropdown             dropdown     ))
skin--dropdown-item                  = create-view-skin(light, (dropdown-item        dropdown-item        ), (dropdown-item        dropdown-item))
skin--checkmark                      = create-view-skin(null,  (component            component            ), (component            component    ))
skin--checkmark--checked             = create-view-skin(null,  (component            checkmark-icon--light), (component            component    ))
skin--text                           = create-view-skin(null,  (element              element              ), (element              element      ))
// dropdown
skin--dropdown--hover                = create-view-skin(light, (dropdown--hover      dropdown--hover      ), (dropdown--hover      dropdown     ))
skin--dropdown-item--hover           = create-view-skin(light, (dropdown-item--hover dropdown-item--hover ), (dropdown-item--hover dropdown-item))
// scroll-view
skin--scroll-view                    = create-view-skin(null,  (element              element              ), (element              element      ))
skin--viewport-and-vertical-scroller = create-view-skin(null,  (element              element              ), (element              element      ))
skin--viewport                       = create-view-skin(null,  (element              element              ), (element              element      ))
skin--content                        = create-view-skin(null,  (element              element              ), (element              element      ))

// dropdown
misc--dropdown                       = create-layout-skin(null, auto auto, 0px 0px  2px 0px, 1px,             0px                ), create-flex(0, 1, auto, auto)
misc--dropdown-item                  = create-layout-skin(null, auto auto, 0px,              0px 0px 0px 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto), create-flex2(row, flex-start, stretch)
misc--checkmark                      = create-layout-skin(null, 16px 16px, 0px 12px 0px 0px, 1px,             0px                ), create-flex(0, 1, auto, auto)
misc--text                           = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), create-flex(1, 1, auto, auto)
// scroll-view
misc--scroll-view                    = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null
misc--viewport-and-vertical-scroller = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null
misc--viewport                       = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null
misc--content                        = create-layout-skin(null, auto auto, 0px,              0px,             0px                ), null

// dropdown
.unity-base-dropdown
    add-view(bg-color: rgba(0, 0, 0, 0.25))
    add-layout(position: absolute)
    &__container-outer
        add-skin dropdown
        add-misc dropdown
    .unity-scroll-view
        add-skin scroll-view
        add-misc scroll-view
    #unity-content-and-vertical-scroll-container
        add-skin viewport-and-vertical-scroller
        add-misc viewport-and-vertical-scroller
    #unity-content-viewport
        add-skin viewport
        add-misc viewport
    #unity-content-container
        add-skin content
        add-misc content
    &__item
        add-skin dropdown-item
        add-misc dropdown-item
    &__item &__checkmark
        add-skin checkmark
        add-misc checkmark
    &__item &__label
        add-skin text
        add-misc text

// dropdown
.unity-base-dropdown
    &__container-outer:hover
        add-skin dropdown--hover
    &__item:hover
        add-skin dropdown-item--hover

// dropdown
.unity-base-dropdown
    &__item:checked &__checkmark
        add-skin checkmark--checked
