mixin game-view()
    Project::UI::MainScreen::JoinGameWidgetView::GameView.grow-1.basis-0
        ui:ColumnGroup.light5.medium.grow-1
            ui:Label(text="Game" name="title").title
            ui:RowScope
                ui:TextField(label="Name" name="game-name" max-length="100").label-width-150px.grow-1
            ui:RowScope
                ui:DropdownField2(label="Mode" name="game-mode").label-width-150px.grow-1
                ui:DropdownField2(label="World" name="game-world").label-width-150px.grow-1
                ui:Toggle(label="Private" name="is-game-private").label-width-150px.grow-0

mixin player-view()
    Project::UI::MainScreen::JoinGameWidgetView::PlayerView.grow-1.basis-0
        ui:ColumnGroup.light5.medium.grow-1
            ui:Label(text="Player" name="title").title
            ui:RowScope
                ui:TextField(label="Name" name="player-name" max-length="100" readonly="True").label-width-150px.grow-1
            ui:RowScope
                ui:DropdownField2(label="Role" name="player-role").label-width-150px.grow-1

mixin lobby-view()
    ui:ColumnGroup.dark5.medium.grow-1
        ui:Label(text="Lobby" name="title").title
        +lobby-rooms-view()

mixin lobby-rooms-view()
        Project::UI::MainScreen::JoinGameWidgetView::RoomsView.grow-1
            ui:ScrollView.dark2.grow-1
                ui:Box.light10
                    ui:Label(text="Room 1").font-style-bold
                ui:Box.light10
                    ui:Label(text="Room 2").font-style-bold
                ui:Box.dark10
                    ui:Label(text="Room 3").font-style-bold
                ui:Box.dark10
                    ui:Label(text="Room 4").font-style-bold
                ui:Box.light10
                    ui:Label(text="Room 5").font-style-bold
                ui:Box.light10
                    ui:Label(text="Room 6").font-style-bold
                ui:Box.dark10
                    ui:Label(text="Room 7").font-style-bold
                ui:Box.dark10
                    ui:Label(text="Room 8").font-style-bold
                ui:Box.light10
                    ui:Label(text="Room 9").font-style-bold
                ui:Box.light10
                    ui:Label(text="Room 10").font-style-bold
                ui:Box.dark10
                    ui:Label(text="Room 11").font-style-bold
                ui:Box.dark10
                    ui:Label(text="Room 12").font-style-bold
                ui:Box.light10
                    ui:Label(text="Room 13").font-style-bold
                ui:Box.light10
                    ui:Label(text="Room 14").font-style-bold

doctype xml
ui:UXML(xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements" editor-extension-mode="False")
    Style(src="project://database/Assets/Project.UI/Assets.Project.UI/Styles/UIStyleSheet.uss")
    Project::UI::MainScreen::JoinGameWidgetView.large-widget-view
        ui:Card
            ui:Header
                ui:Label(text="Join Game" name="title")
            ui:Content
                ui:RowScope.grow-0.basis-40
                    +game-view()
                    +player-view()
                +lobby-view()
            ui:Footer
                ui:Button(text="Ok" name="okey")
                ui:Button(text="Back" name="back")