doctype xml
ui:UXML(xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements" editor-extension-mode="False")
    Style(src="project://database/Assets/Project.UI/Assets.Project.UI/Styles/UIStyleSheet.uss")
    Project::UI::Common::SettingsWidgetView.middle-widget-view
        ui:Card
            ui:Header
                ui:Label(text="Settings" name="title")
            ui:Content
                ui:ColumnGroup.dark2.large.grow-1
                    ui:Button(text="Player Profile" name="player-profile").width-75.align-self-center
                    ui:Button(text="Video Settings" name="video-settings").width-75.align-self-center
                    ui:Button(text="Audio Settings" name="audio-settings").width-75.align-self-center
            ui:Footer
                ui:Button(text="Back" name="back")