doctype xml
ui:UXML(xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements" editor-extension-mode="False")
    Style(src="project://database/Assets/PGT.UI/Assets.PGT.UI/Styles/UIStyleSheet.uss")
    PGT::UI::MainScreen::LoadingWidgetView.justify-content-end.align-items-center
        ui:Label(text="Loading").color-light.font-size-200.font-style-bold.margin-2