@import "../StyleSheet__Theme"

// button
button()
    // cursor link
    add-skin(button, font: fnt(null, null, bold), text: txt(middle-center))
    add-skin2(button)
    add-flex(0, 1, auto, auto)

// button
.unity-button
    button()
    &:focus
        add-skin(focus-effect)
    &.invalid
        add-skin(invalid-effect)

// repeat-button
.unity-repeat-button
    button()
    &:focus
        add-skin(focus-effect)
    &.invalid
        add-skin(invalid-effect)
