@import "../StyleSheet__Theme2"

// skin
skin--card         = create-layout(null, auto, auto, 0px, 1px 1px 1px 1px, 0px  0px  0px  0px ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start,   stretch)
skin--card-header  = create-layout(null, auto, auto, 0px, 0px 0px 0px 1px, 12px 12px 10px 10px), create-flex(0, 0, auto, auto), create-flex2(row,    center,       center )
skin--card-content = create-layout(null, auto, auto, 0px, 0px 0px 0px 0px, 24px 24px 20px 20px), create-flex(1, 1, auto, auto), create-flex2(column, flex-start,   stretch)
skin--card-footer  = create-layout(null, auto, auto, 0px, 0px 0px 1px 0px, 24px 24px 20px 20px), create-flex(0, 0, auto, auto), create-flex2(row,    space-around, center )

// card
card(effect)
    add-skin1 effect, card
    add-misc  effect, skin--card
card-header(effect)
    add-skin1 effect, card-header
    add-misc  effect, skin--card-header
card-content(effect)
    add-skin1 effect, card-content
    add-misc  effect, skin--card-content
card-footer(effect)
    add-skin1 effect, card-footer
    add-misc  effect, skin--card-footer

// dialog-card
dialog-card(effect)
    add-skin1 effect, dialog-card
    add-misc  effect, skin--card
dialog-card-header(effect)
    add-skin1 effect, dialog-card-header
    add-misc  effect, skin--card-header
dialog-card-header--info(effect)
    add-skin1 effect, dialog-card-header--info
    add-misc  effect, skin--card-header
dialog-card-header--warning(effect)
    add-skin1 effect, dialog-card-header--warning
    add-misc  effect, skin--card-header
dialog-card-header--error(effect)
    add-skin1 effect, dialog-card-header--error
    add-misc  effect, skin--card-header
dialog-card-content(effect)
    add-skin1 effect, dialog-card-content
    add-misc  effect, skin--card-content,create-flex2(null, center, center)
dialog-card-footer(effect)
    add-skin1 effect, dialog-card-footer
    add-misc  effect, skin--card-footer

// card
.card
    card(null)
.header
    card-header(null)
.content
    card-content(null)
.footer
    card-footer(null)
    *
        add-layout(width: 25%)

// dialog-card
.dialog-card
    dialog-card(null)
    .header
        dialog-card-header(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)

// info-dialog-card
.info-dialog-card
    dialog-card(null)
    .header
        dialog-card-header--info(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)

// warning-dialog-card
.warning-dialog-card
    dialog-card(null)
    .header
        dialog-card-header--warning(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)

// error-dialog-card
.error-dialog-card
    dialog-card(null)
    .header
        dialog-card-header--error(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)
