@import "../StyleSheet__Theme"

// field
field()
    add-skin(field)
    add-skin2(field)
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)
field-label()
    add-skin(field-label, font: fnt(null, null, bold), text: txt(middle-left))
    add-skin2(field-label)
    add-flex(0, 1, auto, auto)
field-input()
    // cursor text
    add-skin(field-input, text: txt(middle-left))
    add-skin2(field-input)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-end, center)

// field
.unity-base-field
    field()
    &__label
        field-label()
        :focus > &
            add-skin(focus-effect)
        .invalid > &
            add-skin(invalid-effect)
    &__input
        field-input()
        :focus > &
            add-skin(focus-effect--without-foreground)
        .invalid > &
            add-skin(invalid-effect--without-foreground)
