@import "../StyleSheet__Theme2"

// skin
skin2--scope         = create-layout(null, auto, auto, 0px, 0px, 0px                )
skin2--scope--small  = create-layout(null, auto, auto, 0px, 0px, 6px  6px  5px  5px )
skin2--scope--medium = create-layout(null, auto, auto, 0px, 0px, 12px 12px 10px 10px)
skin2--scope--large  = create-layout(null, auto, auto, 0px, 0px, 24px 24px 20px 20px)
// skin
skin2--scope--column = create-flex(0, 1, auto, auto), create-flex2(column, flex-start, stretch)
skin2--scope--row    = create-flex(0, 1, auto, auto), create-flex2(row,    flex-start, stretch)

// scope
scope(effect)
    add-skin1        effect, scope
    add-skin1-light  effect, scope--light
    add-skin1-dark   effect, scope--dark
    add-skin2        effect, scope
    &.small
        add-skin2    effect, scope--small
    &.medium
        add-skin2    effect, scope--medium
    &.large
        add-skin2    effect, scope--large
// scope
column-scope(effect)
    add-skin2 effect, scope--column
row-scope(effect)
    add-skin2 effect, scope--row

// scope
.scope
    scope(null)
.column-scope
    column-scope(null)
.row-scope
    row-scope(null)
