@import "../StyleSheet__Theme2"

// group
group(effect)
    add-skin1        effect, group
    add-skin1-light  effect, group--light
    add-skin1-dark   effect, group--dark
    add-skin2        effect, group
    add-skin2-small  effect, group--small
    add-skin2-medium effect, group--medium
    add-skin2-large  effect, group--large
column-group(effect)
    add-misc effect, create-flex(0, 1, auto, auto)
    add-misc effect, create-flex2(column, flex-start, stretch)
row-group(effect)
    add-misc effect, create-flex(0, 1, auto, auto)
    add-misc effect, create-flex2(row, flex-start, stretch)

// group
.group
    group(null)
.column-group
    column-group(null)
.row-group
    row-group(null)
