@import "../StyleSheet__Theme"

// group
skin--group         = create-view-skin(null,  (view        view       ), (view        view))
skin--group--light  = create-view-skin(dark,  (view--light view--light), (view--light view))
skin--group--dark   = create-view-skin(light, (view--dark  view--dark ), (view--dark  view))

// group
misc--group         = create-layout-skin(null, auto auto, 4px, 1px, 0px                )
misc--group--small  = create-layout-skin(null, auto auto, 4px, 1px, 6px  6px  5px  5px )
misc--group--medium = create-layout-skin(null, auto auto, 4px, 1px, 12px 12px 10px 10px)
misc--group--large  = create-layout-skin(null, auto auto, 4px, 1px, 24px 24px 20px 20px)
// group
misc--group--column = create-flex(0, 1, auto, auto), create-flex2(column, flex-start, stretch)
misc--group--row    = create-flex(0, 1, auto, auto), create-flex2(row,    flex-start, stretch)

// group
group(effect)
    add-skin        effect, group
    add-skin-light  effect, group--light
    add-skin-dark   effect, group--dark
    add-misc        effect, group
    &.small
        add-misc    effect, group--small
    &.medium
        add-misc    effect, group--medium
    &.large
        add-misc    effect, group--large
// group
column-group(effect)
    add-misc effect, group--column
row-group(effect)
    add-misc effect, group--row

// group
.group
    group(null)
.column-group
    column-group(null)
.row-group
    row-group(null)
