@import "../StyleSheet__Theme"

// text-field
text-field-input()
text-field-input--text()
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)

// text-field
.unity-base-text-field
    &__input
        text-field-input()
    &__input .unity-text-element
        text-field-input--text()
