@import "../StyleSheet__Theme"

// text-field
text-field()
text-field-label()
text-field-input()
    add-skin(null)
    add-skin2(null)
// text
text()
    add-component(null)
    add-flex(1, 1, auto, auto)

// text-field
.unity-base-text-field
    text-field()
    &__label
        text-field-label()
    &__input
        text-field-input()
    &__input .unity-text-element
        text()
