@import "../StyleSheet__Theme"

// popup-field
popup-field-input()
popup-field-input--text()
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)
popup-field-input--arrow()
    add-skin(light-dropdown-arrow-icon)
    add-skin2(image, width: 12px, height: 12px, margin: 2px)

// popup-field
.unity-base-popup-field
    &__input
        popup-field-input()
    &__input .unity-text-element
        popup-field-input--text()
    &__input &__arrow
        popup-field-input--arrow()
