@import "../StyleSheet__Theme"

// popup-field
popup-field()
    add-skin(null)
    add-skin2(null)
popup-field-input()
    add-skin(null)
    add-skin2(null)
popup-field-input--text()
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)
popup-field-input--arrow()
    add-image(image light-dropdown-arrow-icon, null, 12px 12px, 2px null null)

// popup-field
.unity-base-popup-field
    popup-field()
    &__input
        popup-field-input()
    &__input .unity-text-element
        popup-field-input--text()
    &__input &__arrow
        popup-field-input--arrow()
