@import "../StyleSheet__Theme"

// popup-field
popup-field()
popup-field-label()
popup-field-input()
    add-skin(null)
    add-skin2(null)
// text
text()
    add-component(null)
    add-flex(1, 1, auto, auto)
// arrow
arrow()
    add-image(image light-dropdown-arrow-icon, null, 12px 12px, 2px null null)
    add-flex(0, 1, auto, auto)

// popup-field
.unity-base-popup-field
    popup-field()
    &__label
        popup-field-label()
    &__input
        popup-field-input()
    &__input .unity-text-element
        text()
    &__input &__arrow
        arrow()
