@import "../StyleSheet__Theme2"

// scroll-view
skin1--scroll-view                    = create-view-skin(null,  (view            view                  ), (view            view   ))
skin1--scroll-view--light             = create-view-skin(dark,  (view--light     view--light           ), (view--light     view   ))
skin1--scroll-view--dark              = create-view-skin(light, (view--dark      view--dark            ), (view--dark      view   ))
skin2--viewport-and-vertical-scroller = create-view-skin(null,  (element         element               ), (element         element))
skin2--viewport                       = create-view-skin(null,  (element         element               ), (element         element))
skin2--content                        = create-view-skin(null,  (element         element               ), (element         element))
// horizontal-scroller
skin1--horizontal-scroller            = create-view-skin(null,  (element         element               ), (element         element))
skin1--horizontal-slider-field        = create-view-skin(null,  (element         element               ), (element         element))
skin1--horizontal-slider-field-input  = create-view-skin(null,  (element         element               ), (element         element))
skin1--horizontal-container           = create-view-skin(null,  (element         element               ), (element         element))
skin1--horizontal-tracker             = create-view-skin(null,  (element--dark   element--dark         ), (element--dark   element))
skin1--horizontal-dragger             = create-view-skin(null,  (element--light  element--light        ), (element--light  element))
// vertical-scroller
skin1--vertical-scroller              = create-view-skin(null,  (element         element               ), (element         element))
skin1--vertical-slider-field          = create-view-skin(null,  (element         element               ), (element         element))
skin1--vertical-slider-field-input    = create-view-skin(null,  (element         element               ), (element         element))
skin1--vertical-container             = create-view-skin(null,  (element         element               ), (element         element))
skin1--vertical-tracker               = create-view-skin(null,  (element--dark   element--dark         ), (element--dark   element))
skin1--vertical-dragger               = create-view-skin(null,  (element--light  element--light        ), (element--light  element))
// horizontal-button
skin1--horizontal-low-button          = create-view-skin(null,  (element--light  left-arrow-icon--dark ), (element--light  element))
skin1--horizontal-high-button         = create-view-skin(null,  (element--light  right-arrow-icon--dark), (element--light  element))
// vertical-button
skin1--vertical-low-button            = create-view-skin(null,  (element--light  up-arrow-icon--dark   ), (element--light  element))
skin1--vertical-high-button           = create-view-skin(null,  (element--light  down-arrow-icon--dark ), (element--light  element))

// scroll-view
skin2--scroll-view                    = create-layout(null,     auto, auto, 4px,  1px,  2px                ), create-flex(0, 1, auto, auto), create-flex2(column,         flex-start, stretch)
skin2--viewport-and-vertical-scroller = create-layout(null,     auto, auto, 0px,  0px,  0px                ), create-flex(1, 1, auto, auto), create-flex2(row,            flex-start, stretch)
skin2--viewport                       = create-layout(null,     auto, auto, 0px,  0px,  0px                ), create-flex(1, 1, auto, auto), create-flex2(column,         flex-start, stretch)
skin2--content                        = create-layout(null,     auto, auto, 0px,  0px,  0px                ), create-flex(0, 0, auto, auto), create-flex2(column,         flex-start, stretch)
skin2--content--small                 = create-layout(null,     auto, auto, 0px,  0px,  6px  6px  5px  5px )
skin2--content--medium                = create-layout(null,     auto, auto, 0px,  0px,  12px 12px 10px 10px)
skin2--content--large                 = create-layout(null,     auto, auto, 0px,  0px,  24px 24px 20px 20px)
skin2--content--reverse               = create-layout(null,     null, null, null, null, null               ),                                create-flex2(column-reverse, flex-start, stretch)
// horizontal-scroller
skin2--horizontal-scroller            = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(0, 0, auto, auto), create-flex2(row, flex-start, center)
skin2--horizontal-slider-field        = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
skin2--horizontal-slider-field-input  = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
skin2--horizontal-container           = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
skin2--horizontal-tracker             = create-layout(null,     auto, 24px, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto)
skin2--horizontal-dragger             = create-layout(absolute, auto, 24px, 0px, 1px, 0px                  ), create-flex(0, 1, auto, auto)
// vertical-scroller
skin2--vertical-scroller              = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(0, 0, auto, auto), create-flex2(column, flex-start, center)
skin2--vertical-slider-field          = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
skin2--vertical-slider-field-input    = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
skin2--vertical-container             = create-layout(null,     auto, auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
skin2--vertical-tracker               = create-layout(null,     24px, auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto)
skin2--vertical-dragger               = create-layout(absolute, 24px, auto, 0px, 1px, 0px                  ), create-flex(0, 1, auto, auto)
// horizontal-button
skin2--horizontal-low-button          = create-layout(null,     24px, 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)
skin2--horizontal-high-button         = create-layout(null,     24px, 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)
// vertical-button
skin2--vertical-low-button            = create-layout(null,     24px, 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)
skin2--vertical-high-button           = create-layout(null,     24px, 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)

// scroll-view
scroll-view(effect)
    add-skin1       effect, scroll-view
    add-skin1-light effect, scroll-view--light
    add-skin1-dark  effect, scroll-view--dark
    add-skin2       effect, scroll-view
viewport-and-vertical-scroller(effect)
    add-skin1 effect, viewport-and-vertical-scroller
    add-skin2 effect, viewport-and-vertical-scroller
viewport(effect)
    overflow hidden
    add-skin1 effect, viewport
    add-skin2 effect, viewport
content(effect)
    overflow scroll
    add-skin1 effect, content
    add-skin2 effect, content
small-content(effect)
    add-skin1 effect, null
    add-skin2 effect, content--small
medium-content(effect)
    add-skin1 effect, null
    add-skin2 effect, content--medium
large-content(effect)
    add-skin1 effect, null
    add-skin2 effect, content--large
reverse-content(effect)
    add-skin1 effect, null
    add-skin2 effect, content--reverse

// scroller
horizontal-scroller(effect)
    add-skin1 effect, horizontal-scroller
    add-skin2 effect, horizontal-scroller
// slider-field
horizontal-slider-field(effect)
    add-skin1 effect, horizontal-slider-field
    add-skin2 effect, horizontal-slider-field
horizontal-slider-field-input(effect)
    add-skin1 effect, horizontal-slider-field-input
    add-skin2 effect, horizontal-slider-field-input
horizontal-container(effect)
    add-skin1 effect, horizontal-container
    add-skin2 effect, horizontal-container
horizontal-tracker(effect)
    add-skin1 effect, horizontal-tracker
    add-skin2 effect, horizontal-tracker
horizontal-dragger(effect)
    add-skin1 effect, horizontal-dragger
    add-skin2 effect, horizontal-dragger
// button
horizontal-low-button(effect)
    add-skin1 effect, horizontal-low-button
    add-skin2 effect, horizontal-low-button
horizontal-high-button(effect)
    add-skin1 effect, horizontal-high-button
    add-skin2 effect, horizontal-high-button

// scroller
vertical-scroller(effect)
    add-skin1 effect, vertical-scroller
    add-skin2 effect, vertical-scroller
// slider-field
vertical-slider-field(effect)
    add-skin1 effect, vertical-slider-field
    add-skin2 effect, vertical-slider-field
vertical-slider-field-input(effect)
    add-skin1 effect, vertical-slider-field-input
    add-skin2 effect, vertical-slider-field-input
vertical-container(effect)
    add-skin1 effect, vertical-container
    add-skin2 effect, vertical-container
vertical-tracker(effect)
    add-skin1 effect, vertical-tracker
    add-skin2 effect, vertical-tracker
vertical-dragger(effect)
    add-skin1 effect, vertical-dragger
    add-skin2 effect, vertical-dragger
// button
vertical-low-button(effect)
    add-skin1 effect, vertical-low-button
    add-skin2 effect, vertical-low-button
vertical-high-button(effect)
    add-skin1 effect, vertical-high-button
    add-skin2 effect, vertical-high-button

// scroll-view
.unity-scroll-view
    scroll-view(null)
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller(null)
    #unity-content-viewport
        viewport(null)
    #unity-content-container
        content(null)
.unity-scroll-view.small
    #unity-content-container
        small-content(null)
.unity-scroll-view.medium
    #unity-content-container
        medium-content(null)
.unity-scroll-view.large
    #unity-content-container
        large-content(null)
.unity-scroll-view.reverse
    #unity-content-viewport
        reverse-content(null)

// scroller
.unity-scroller--horizontal
    horizontal-scroller(null)
    // slider
    .unity-base-slider
        horizontal-slider-field(null)
        .unity-base-slider__input
            horizontal-slider-field-input(null)
        #unity-drag-container
            horizontal-container(null)
        #unity-tracker
            horizontal-tracker(null)
        #unity-dragger
            horizontal-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            horizontal-dragger(focus)
    // button
    #unity-low-button
        horizontal-low-button(null)
    #unity-low-button:hover
        horizontal-low-button(hover)
    #unity-low-button:active
        horizontal-low-button(active)
    // button
    #unity-high-button
        horizontal-high-button(null)
    #unity-high-button:hover
        horizontal-high-button(hover)
    #unity-high-button:active
        horizontal-high-button(active)

// scroller
.unity-scroller--vertical
    vertical-scroller(null)
    // slider
    .unity-base-slider
        vertical-slider-field(null)
        .unity-base-slider__input
            vertical-slider-field-input(null)
        #unity-drag-container
            vertical-container(null)
        #unity-tracker
            vertical-tracker(null)
        #unity-dragger
            vertical-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            vertical-dragger(focus)
    // button
    #unity-low-button
        vertical-low-button(null)
    #unity-low-button:hover
        vertical-low-button(hover)
    #unity-low-button:active
        vertical-low-button(active)
    // button
    #unity-high-button
        vertical-high-button(null)
    #unity-high-button:hover
        vertical-high-button(hover)
    #unity-high-button:active
        vertical-high-button(active)
