@import "../StyleSheet__Theme"

// scroll-view
skin--scroll-view                    = create-view-skin(null,  (view            view                  ), (view            view   ))
skin--scroll-view--light             = create-view-skin(dark,  (view--light     view--light           ), (view--light     view   ))
skin--scroll-view--dark              = create-view-skin(light, (view--dark      view--dark            ), (view--dark      view   ))
skin--viewport-and-vertical-scroller = create-view-skin(null,  (element         element               ), (element         element))
skin--viewport                       = create-view-skin(null,  (element         element               ), (element         element))
skin--content                        = create-view-skin(null,  (element         element               ), (element         element))
// horizontal-scroller
skin--horizontal-scroller            = create-view-skin(null,  (element         element               ), (element         element))
skin--horizontal-slider-field        = create-view-skin(null,  (element         element               ), (element         element))
skin--horizontal-slider-field-input  = create-view-skin(null,  (element         element               ), (element         element))
skin--horizontal-container           = create-view-skin(null,  (element         element               ), (element         element))
skin--horizontal-tracker             = create-view-skin(null,  (element--dark   element--dark         ), (element--dark   element))
skin--horizontal-dragger             = create-view-skin(null,  (element--light  element--light        ), (element--light  element))
// vertical-scroller
skin--vertical-scroller              = create-view-skin(null,  (element         element               ), (element         element))
skin--vertical-slider-field          = create-view-skin(null,  (element         element               ), (element         element))
skin--vertical-slider-field-input    = create-view-skin(null,  (element         element               ), (element         element))
skin--vertical-container             = create-view-skin(null,  (element         element               ), (element         element))
skin--vertical-tracker               = create-view-skin(null,  (element--dark   element--dark         ), (element--dark   element))
skin--vertical-dragger               = create-view-skin(null,  (element--light  element--light        ), (element--light  element))
// horizontal-button
skin--horizontal-low-button          = create-view-skin(null,  (element--light  left-arrow-icon--dark ), (element--light  element))
skin--horizontal-high-button         = create-view-skin(null,  (element--light  right-arrow-icon--dark), (element--light  element))
// vertical-button
skin--vertical-low-button            = create-view-skin(null,  (element--light  up-arrow-icon--dark   ), (element--light  element))
skin--vertical-high-button           = create-view-skin(null,  (element--light  down-arrow-icon--dark ), (element--light  element))

// scroll-view
misc--scroll-view                    = create-layout-skin(null,     auto auto, 4px,  1px,  2px                ), create-flex(0, 1, auto, auto), create-flex2(column,         flex-start, stretch)
misc--viewport-and-vertical-scroller = create-layout-skin(null,     auto auto, 0px,  0px,  0px                ), create-flex(1, 1, auto, auto), create-flex2(row,            flex-start, stretch)
misc--viewport                       = create-layout-skin(null,     auto auto, 0px,  0px,  0px                ), create-flex(1, 1, auto, auto), create-flex2(column,         flex-start, stretch)
misc--content                        = create-layout-skin(null,     auto auto, 0px,  0px,  0px                ), create-flex(0, 0, auto, auto), create-flex2(column,         flex-start, stretch)
misc--content--small                 = create-layout-skin(null,     auto auto, 0px,  0px,  6px  6px  5px  5px )
misc--content--medium                = create-layout-skin(null,     auto auto, 0px,  0px,  12px 12px 10px 10px)
misc--content--large                 = create-layout-skin(null,     auto auto, 0px,  0px,  24px 24px 20px 20px)
misc--content--reverse               = create-layout-skin(null,     null null, null, null, null               ),                                create-flex2(column-reverse, flex-start, stretch)
// horizontal-scroller
misc--horizontal-scroller            = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(0, 0, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-slider-field        = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-slider-field-input  = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-container           = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-tracker             = create-layout-skin(null,     auto 24px, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto)
misc--horizontal-dragger             = create-layout-skin(absolute, auto 24px, 0px, 1px, 0px                  ), create-flex(0, 1, auto, auto)
// vertical-scroller
misc--vertical-scroller              = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(0, 0, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-slider-field          = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-slider-field-input    = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-container             = create-layout-skin(null,     auto auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-tracker               = create-layout-skin(null,     24px auto, 0px, 0px, 0px                  ), create-flex(1, 1, auto, auto)
misc--vertical-dragger               = create-layout-skin(absolute, 24px auto, 0px, 1px, 0px                  ), create-flex(0, 1, auto, auto)
// horizontal-button
misc--horizontal-low-button          = create-layout-skin(null,     24px 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)
misc--horizontal-high-button         = create-layout-skin(null,     24px 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)
// vertical-button
misc--vertical-low-button            = create-layout-skin(null,     24px 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)
misc--vertical-high-button           = create-layout-skin(null,     24px 24px, 0px, 1px, 0px                  ), create-flex(0, 0, auto, auto)

// scroll-view
scroll-view(effect)
    add-skin       effect, scroll-view
    add-skin-light effect, scroll-view--light
    add-skin-dark  effect, scroll-view--dark
    add-misc       effect, scroll-view
viewport-and-vertical-scroller(effect)
    add-skin effect, viewport-and-vertical-scroller
    add-misc effect, viewport-and-vertical-scroller
viewport(effect)
    overflow hidden
    add-skin effect, viewport
    add-misc effect, viewport
content(effect)
    overflow scroll
    add-skin effect, content
    add-misc effect, content
small-content(effect)
    add-skin effect, null
    add-misc effect, content--small
medium-content(effect)
    add-skin effect, null
    add-misc effect, content--medium
large-content(effect)
    add-skin effect, null
    add-misc effect, content--large
reverse-content(effect)
    add-skin effect, null
    add-misc effect, content--reverse

// scroller
horizontal-scroller(effect)
    add-skin effect, horizontal-scroller
    add-misc effect, horizontal-scroller
// slider-field
horizontal-slider-field(effect)
    add-skin effect, horizontal-slider-field
    add-misc effect, horizontal-slider-field
horizontal-slider-field-input(effect)
    add-skin effect, horizontal-slider-field-input
    add-misc effect, horizontal-slider-field-input
horizontal-container(effect)
    add-skin effect, horizontal-container
    add-misc effect, horizontal-container
horizontal-tracker(effect)
    add-skin effect, horizontal-tracker
    add-misc effect, horizontal-tracker
horizontal-dragger(effect)
    add-skin effect, horizontal-dragger
    add-misc effect, horizontal-dragger
// button
horizontal-low-button(effect)
    add-skin effect, horizontal-low-button
    add-misc effect, horizontal-low-button
horizontal-high-button(effect)
    add-skin effect, horizontal-high-button
    add-misc effect, horizontal-high-button

// scroller
vertical-scroller(effect)
    add-skin effect, vertical-scroller
    add-misc effect, vertical-scroller
// slider-field
vertical-slider-field(effect)
    add-skin effect, vertical-slider-field
    add-misc effect, vertical-slider-field
vertical-slider-field-input(effect)
    add-skin effect, vertical-slider-field-input
    add-misc effect, vertical-slider-field-input
vertical-container(effect)
    add-skin effect, vertical-container
    add-misc effect, vertical-container
vertical-tracker(effect)
    add-skin effect, vertical-tracker
    add-misc effect, vertical-tracker
vertical-dragger(effect)
    add-skin effect, vertical-dragger
    add-misc effect, vertical-dragger
// button
vertical-low-button(effect)
    add-skin effect, vertical-low-button
    add-misc effect, vertical-low-button
vertical-high-button(effect)
    add-skin effect, vertical-high-button
    add-misc effect, vertical-high-button

// scroll-view
.unity-scroll-view
    scroll-view(null)
    #unity-content-and-vertical-scroll-container
        viewport-and-vertical-scroller(null)
    #unity-content-viewport
        viewport(null)
    #unity-content-container
        content(null)
.unity-scroll-view.small
    #unity-content-container
        small-content(null)
.unity-scroll-view.medium
    #unity-content-container
        medium-content(null)
.unity-scroll-view.large
    #unity-content-container
        large-content(null)
.unity-scroll-view.reverse
    #unity-content-viewport
        reverse-content(null)

// scroller
.unity-scroller--horizontal
    horizontal-scroller(null)
    // slider
    .unity-base-slider
        horizontal-slider-field(null)
        .unity-base-slider__input
            horizontal-slider-field-input(null)
        #unity-drag-container
            horizontal-container(null)
        #unity-tracker
            horizontal-tracker(null)
        #unity-dragger
            horizontal-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            horizontal-dragger(focus)
    // button
    #unity-low-button
        horizontal-low-button(null)
    #unity-low-button:hover
        horizontal-low-button(hover)
    #unity-low-button:active
        horizontal-low-button(active)
    // button
    #unity-high-button
        horizontal-high-button(null)
    #unity-high-button:hover
        horizontal-high-button(hover)
    #unity-high-button:active
        horizontal-high-button(active)

// scroller
.unity-scroller--vertical
    vertical-scroller(null)
    // slider
    .unity-base-slider
        vertical-slider-field(null)
        .unity-base-slider__input
            vertical-slider-field-input(null)
        #unity-drag-container
            vertical-container(null)
        #unity-tracker
            vertical-tracker(null)
        #unity-dragger
            vertical-dragger(null)
    .unity-base-slider:focus
        #unity-dragger
            vertical-dragger(focus)
    // button
    #unity-low-button
        vertical-low-button(null)
    #unity-low-button:hover
        vertical-low-button(hover)
    #unity-low-button:active
        vertical-low-button(active)
    // button
    #unity-high-button
        vertical-high-button(null)
    #unity-high-button:hover
        vertical-high-button(hover)
    #unity-high-button:active
        vertical-high-button(active)
