@import "../StyleSheet__Theme"

// scroll-view
skin--scroll-view--light2            = create-view-skin(light, (view--light2   view--light2          ), (view--light2   view   ))
skin--scroll-view--light             = create-view-skin(light, (view--light    view--light           ), (view--light    view   ))
skin--scroll-view                    = create-view-skin(light, (view           view                  ), (view           view   ))
skin--scroll-view--dark              = create-view-skin(light, (view--dark     view--dark            ), (view--dark     view   ))
skin--scroll-view--dark2             = create-view-skin(light, (view--dark2    view--dark2           ), (view--dark2    view   ))
skin--viewport-and-vertical-scroller = create-view-skin(null,  (element        element               ), (element        element))
skin--viewport                       = create-view-skin(null,  (element        element               ), (element        element))
skin--content                        = create-view-skin(null,  (element        element               ), (element        element))
// horizontal-scroll
skin--horizontal-scroller            = create-view-skin(null,  (element        element               ), (element        element))
skin--horizontal-slider-field        = create-view-skin(null,  (element        element               ), (element        element))
skin--horizontal-slider-field-input  = create-view-skin(null,  (element        element               ), (element        element))
skin--horizontal-container           = create-view-skin(null,  (element        element               ), (element        element))
skin--horizontal-tracker             = create-view-skin(null,  (element--dark  element--dark         ), (element--dark  element))
skin--horizontal-dragger             = create-view-skin(null,  (element--light element--light        ), (element--light element))
skin--horizontal-low-button          = create-view-skin(null,  (element--light left-arrow-icon--dark ), (element--light element))
skin--horizontal-high-button         = create-view-skin(null,  (element--light right-arrow-icon--dark), (element--light element))
// vertical-scroll
skin--vertical-scroller              = create-view-skin(null,  (element        element               ), (element        element))
skin--vertical-slider-field          = create-view-skin(null,  (element        element               ), (element        element))
skin--vertical-slider-field-input    = create-view-skin(null,  (element        element               ), (element        element))
skin--vertical-container             = create-view-skin(null,  (element        element               ), (element        element))
skin--vertical-tracker               = create-view-skin(null,  (element--dark  element--dark         ), (element--dark  element))
skin--vertical-dragger               = create-view-skin(null,  (element--light element--light        ), (element--light element))
skin--vertical-low-button            = create-view-skin(null,  (element--light up-arrow-icon--dark   ), (element--light element))
skin--vertical-high-button           = create-view-skin(null,  (element--light down-arrow-icon--dark ), (element--light element))

// scroll-view
misc--scroll-view                    = create-layout-skin(null,     auto auto, margin: 4px,  border: 1px,  padding: 0px                ), create-flex(0, 1, auto, auto), create-flex2(column, flex-start, stretch)
misc--viewport-and-vertical-scroller = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(row,    flex-start, stretch)
misc--viewport                       = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, stretch)
misc--viewport--reverse              =                                                                                                    create-flex(1, 1, auto, auto), create-flex2(column-reverse, flex-start, stretch)
misc--content                        = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(0, 0, auto, auto), create-flex2(column, flex-start, stretch)
misc--content--small                 = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 6px  6px  5px  5px )
misc--content--medium                = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 12px 12px 10px 10px)
misc--content--large                 = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 24px 24px 20px 20px)
// horizontal-scroller
misc--horizontal-scroller            = create-layout-skin(null,     auto auto, margin: 4px,  border: 0px,  padding: 0px                ), create-flex(0, 0, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-slider-field        = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-slider-field-input  = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-container           = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(row, flex-start, center)
misc--horizontal-tracker             = create-layout-skin(null,     auto 24px, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto)
misc--horizontal-dragger             = create-layout-skin(absolute, auto 24px, margin: 0px,  border: 1px,  padding: 0px                ), create-flex(0, 1, auto, auto)
misc--horizontal-low-button          = create-layout-skin(null,     24px 24px, margin: 0px,  border: 1px,  padding: 0px                ), create-flex(0, 0, auto, auto)
misc--horizontal-high-button         = create-layout-skin(null,     24px 24px, margin: 0px,  border: 1px,  padding: 0px                ), create-flex(0, 0, auto, auto)
// vertical-scroller
misc--vertical-scroller              = create-layout-skin(null,     auto auto, margin: 4px,  border: 0px,  padding: 0px                ), create-flex(0, 0, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-slider-field          = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-slider-field-input    = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-container             = create-layout-skin(null,     auto auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto), create-flex2(column, flex-start, center)
misc--vertical-tracker               = create-layout-skin(null,     24px auto, margin: 0px,  border: 0px,  padding: 0px                ), create-flex(1, 1, auto, auto)
misc--vertical-dragger               = create-layout-skin(absolute, 24px auto, margin: 0px,  border: 1px,  padding: 0px                ), create-flex(0, 1, auto, auto)
misc--vertical-low-button            = create-layout-skin(null,     24px 24px, margin: 0px,  border: 1px,  padding: 0px                ), create-flex(0, 0, auto, auto)
misc--vertical-high-button           = create-layout-skin(null,     24px 24px, margin: 0px,  border: 1px,  padding: 0px                ), create-flex(0, 0, auto, auto)

// scroll-view
.unity-scroll-view
    add-skin scroll-view
    add-misc scroll-view
    &.light2
        add-skin scroll-view--light2
    &.light
        add-skin scroll-view--light
    &.dark
        add-skin scroll-view--dark
    &.dark2
        add-skin scroll-view--dark2
    #unity-content-and-vertical-scroll-container
        add-skin viewport-and-vertical-scroller
        add-misc viewport-and-vertical-scroller
    #unity-content-viewport
        overflow hidden
        add-skin viewport
        add-misc viewport
    #unity-content-container
        overflow scroll
        add-skin content
        add-misc content

// scroll-view/small
.unity-scroll-view.small
    #unity-content-container
        add-misc content--small
// scroll-view/medium
.unity-scroll-view.medium
    #unity-content-container
        add-misc content--medium
// scroll-view/large
.unity-scroll-view.large
    #unity-content-container
        add-misc content--large
// scroll-view/reverse
.unity-scroll-view.reverse
    #unity-content-viewport
        add-misc viewport--reverse

// scroller
.unity-scroller--horizontal
    add-skin horizontal-scroller
    add-misc horizontal-scroller
    // slider-field
    .unity-base-slider
        add-skin horizontal-slider-field
        add-misc horizontal-slider-field
        .unity-base-slider__input
            add-skin horizontal-slider-field-input
            add-misc horizontal-slider-field-input
        #unity-drag-container
            add-skin horizontal-container
            add-misc horizontal-container
        #unity-tracker
            add-skin horizontal-tracker
            add-misc horizontal-tracker
        #unity-dragger
            add-skin horizontal-dragger
            add-misc horizontal-dragger
    // button
    #unity-low-button
        add-skin horizontal-low-button
        add-misc horizontal-low-button
    // button
    #unity-high-button
        add-skin horizontal-high-button
        add-misc horizontal-high-button

// scroller/hover
// .unity-scroller--horizontal
//     // slider
//     .unity-base-slider:hover
//         #unity-dragger
//             add-skin horizontal-dragger
//             add-misc horizontal-dragger
//     // button
//     #unity-low-button:hover
//         add-skin horizontal-low-button
//         add-misc horizontal-low-button
//     // button
//     #unity-high-button:hover
//         add-skin horizontal-high-button
//         add-misc horizontal-high-button

// scroller
.unity-scroller--vertical
    add-skin vertical-scroller
    add-misc vertical-scroller
    // slider-field
    .unity-base-slider
        add-skin vertical-slider-field
        add-misc vertical-slider-field
        .unity-base-slider__input
            add-skin vertical-slider-field-input
            add-misc vertical-slider-field-input
        #unity-drag-container
            add-skin vertical-container
            add-misc vertical-container
        #unity-tracker
            add-skin vertical-tracker
            add-misc vertical-tracker
        #unity-dragger
            add-skin vertical-dragger
            add-misc vertical-dragger
    // button
    #unity-low-button
        add-skin vertical-low-button
        add-misc vertical-low-button
    // button
    #unity-high-button
        add-skin vertical-high-button
        add-misc vertical-high-button

// scroller/hover
// .unity-scroller--vertical
//     // slider
//     .unity-base-slider:hover
//         #unity-dragger
//             add-skin vertical-dragger
//             add-misc vertical-dragger
//     // button
//     #unity-low-button:hover
//         add-skin vertical-low-button
//         add-misc vertical-low-button
//     // button
//     #unity-high-button:hover
//         add-skin vertical-high-button
//         add-misc vertical-high-button
