@import "../StyleSheet__Theme2"

// skin
skin--box         = create-layout(null, auto, auto, 4px, 1px, 0px                ), create-flex(0, 1, auto, auto)
skin--box--small  = create-layout(null, auto, auto, 4px, 1px, 6px  6px  5px  5px ), create-flex(0, 1, auto, auto)
skin--box--medium = create-layout(null, auto, auto, 4px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)
skin--box--large  = create-layout(null, auto, auto, 4px, 1px, 24px 24px 20px 20px), create-flex(0, 1, auto, auto)

// box
box(effect)
    add-skin1        effect, box
    add-skin1-light  effect, box--light
    add-skin1-dark   effect, box--dark
    add-skin2        effect, box
    &.small
        add-skin2    effect, box--small
    &.medium
        add-skin2    effect, box--medium
    &.large
        add-skin2    effect, box--large

// box
.unity-box
    box(null)
