@import "../StyleSheet__Theme"

// box
skin--box         = create-view-skin(null,  (box        box       ), (box        box))
skin--box--light  = create-view-skin(dark,  (box--light box--light), (box--light box))
skin--box--dark   = create-view-skin(light, (box--dark  box--dark ), (box--dark  box))

// box
misc--box         = create-layout-skin(null, auto auto, 4px, 1px, 0px                ), create-flex(0, 1, auto, auto)
misc--box--small  = create-layout-skin(null, auto auto, 4px, 1px, 6px  6px  5px  5px ), create-flex(0, 1, auto, auto)
misc--box--medium = create-layout-skin(null, auto auto, 4px, 1px, 12px 12px 10px 10px), create-flex(0, 1, auto, auto)
misc--box--large  = create-layout-skin(null, auto auto, 4px, 1px, 24px 24px 20px 20px), create-flex(0, 1, auto, auto)

// box
.unity-box
    add-skin       box
    add-skin-light box--light
    add-skin-dark  box--dark
    add-misc       box
    &.small
        add-misc box--small
    &.medium
        add-misc box--medium
    &.large
        add-misc box--large
