@import "../StyleSheet__Theme"

// slider-field
slider-field()
    add-skin(null)
    add-skin2(null)
slider-field-input()
    add-skin(null)
    add-skin2(null)
slider-field-input--container()
    add-skin(null)
    add-skin2(null)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
slider-field-input--tracker()
    add-image(light-image, null,     auto 8px, null)
    add-flex(1, 1, auto, auto)
slider-field-input--dragger()
    add-image(light-image, absolute, 8px 24px, null)
    add-flex(0, 1, auto, auto)

// slider-field
.unity-base-slider
    slider-field()
    &__input
        slider-field-input()
    &__input #unity-drag-container
        slider-field-input--container()
    &__input #unity-tracker
        slider-field-input--tracker()
    &__input #unity-dragger
        slider-field-input--dragger()
