@import "../StyleSheet__Theme"

// slider-field
slider-field()
slider-field-label()
slider-field-input()
    add-skin(null)
    add-skin2(null)
// container
container()
    add-component(null)
    add-flex(1, 1, auto, auto)
    add-flex2(row, flex-start, center)
// tracker
tracker()
    add-image(light-image, null, auto 8px, null)
    add-flex(1, 1, auto, auto)
// dragger
dragger()
    add-image(light-image, absolute, 8px 24px, null)
    add-flex(0, 1, auto, auto)

// slider-field
.unity-base-slider
    slider-field()
    &__label
        slider-field-label()
    &__input
        slider-field-input()
    &__input #unity-drag-container
        container()
    &__input #unity-tracker
        tracker()
    &__input #unity-dragger
        dragger()
