doctype xml
ui:UXML(xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements" editor-extension-mode="False")
	Style(src="project://database/Assets/Project.UI/Assets.Project.UI/StyleSheets/StyleSheet.uss")
	Project::UI::MainScreen::MainMenuWidgetView.left-widget-view
		ui:Card
			ui:Header
				ui:Label(text="Main Menu" name="title")
			ui:Content
				ui:Button(text="Create Game" name="create-game")
				ui:Button(text="Join Game" name="join-game")
				ui:Button(text="Settings" name="settings")
				ui:Button(text="Quit" name="quit")