doctype xml
ui:UXML(xmlns:ui="UnityEngine.UIElements" xmlns:uie="UnityEditor.UIElements" editor-extension-mode="False")
	Style(src="project://database/Assets/PGT.UI/Assets.PGT.UI/Styles/UIStyleSheet.uss")
	PGT::UI::GameScreen::GameMenuWidgetView.left-widget-view
		ui:Card
			ui:Header
				ui:Label(text="Game Menu" name="title")
			ui:Content
				ui:Button(text="Resume" name="resume")
				ui:Button(text="Settings" name="settings")
				ui:Button(text="Main Menu" name="main-menu")