@import "../StyleSheet__Theme2"

// card
card(effect)
    add-skin1       effect, card
    add-skin2       effect, card
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, stretch
card-header(effect)
    add-skin1       effect, card-header
    add-skin2       effect, card-header
    add-skin3-flex  effect, 0, 0, auto, auto
    add-skin3-flex2 effect, row, center, center
card-content(effect)
    add-skin1       effect, card-content
    add-skin2       effect, card-content
    add-skin3-flex  effect, 1, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, stretch
card-footer(effect)
    add-skin1       effect, card-footer
    add-skin2       effect, card-footer
    add-skin3-flex  effect, 0, 0, auto, auto
    add-skin3-flex2 effect, row, space-around, center

// dialog-card
dialog-card(effect)
    add-skin1       effect, dialog-card
    add-skin2       effect, card
dialog-card-header(effect)
    add-skin1       effect, dialog-card-header
    add-skin2       effect, card-header
dialog-card-header--info(effect)
    add-skin1       effect, dialog-card-header--info
    add-skin2       effect, card-header
dialog-card-header--warning(effect)
    add-skin1       effect, dialog-card-header--warning
    add-skin2       effect, card-header
dialog-card-header--error(effect)
    add-skin1       effect, dialog-card-header--error
    add-skin2       effect, card-header
dialog-card-content(effect)
    add-skin1       effect, dialog-card-content
    add-skin2       effect, card-content
    add-skin3-flex  effect, null, null, null, null
    add-skin3-flex2 effect, null, center, center
dialog-card-footer(effect)
    add-skin1       effect, dialog-card-footer
    add-skin2       effect, card-footer

// card
.card
    card(null)
.header
    card-header(null)
.content
    card-content(null)
.footer
    card-footer(null)
    *
        add-layout(width: 25%)

// dialog-card
.dialog-card
    dialog-card(null)
    .header
        dialog-card-header(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)

// info-dialog-card
.info-dialog-card
    dialog-card(null)
    .header
        dialog-card-header--info(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)

// warning-dialog-card
.warning-dialog-card
    dialog-card(null)
    .header
        dialog-card-header--warning(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)

// error-dialog-card
.error-dialog-card
    dialog-card(null)
    .header
        dialog-card-header--error(null)
    .content
        dialog-card-content(null)
    .footer
        dialog-card-footer(null)
