@import "../StyleSheet__Theme"

// card
card()
    add-view-skin(card)
    add-layout-skin(card)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
card-header()
    add-view-skin(card-header)
    add-layout-skin(card-header)
    add-flex(0, 0, auto, auto)
    add-flex2(row, center, center)
card-content()
    add-view-skin(card-content)
    add-layout-skin(card-content)
    add-flex(1, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
card-footer()
    add-view-skin(card-footer)
    add-layout-skin(card-footer)
    add-flex(0, 0, auto, auto)
    add-flex2(row, space-around, center)

// dialog-card
dialog-card()
    add-view-skin(dialog-card)
    add-layout-skin(card)
dialog-card-header()
    add-view-skin(dialog-card-header)
    add-layout-skin(card-header)
dialog-card-header--info()
    add-view-skin(dialog-card-header--info)
    add-layout-skin(card-header)
dialog-card-header--warning()
    add-view-skin(dialog-card-header--warning)
    add-layout-skin(card-header)
dialog-card-header--error()
    add-view-skin(dialog-card-header--error)
    add-layout-skin(card-header)
dialog-card-content()
    add-view-skin(dialog-card-content)
    add-layout-skin(card-content)
    add-flex(null, null, null, null)
    add-flex2(null, center, center)
dialog-card-footer()
    add-skin(dialog-card-footer)
    add-skin2(card-footer)

// card
.card
    card()
.header
    card-header()
.content
    card-content()
.footer
    card-footer()
    *
        add-layout(width: 25%)

// dialog-card
.dialog-card
    dialog-card()
    .header
        dialog-card-header()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()

// info-dialog-card
.info-dialog-card
    dialog-card()
    .header
        dialog-card-header--info()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()

// warning-dialog-card
.warning-dialog-card
    dialog-card()
    .header
        dialog-card-header--warning()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()

// error-dialog-card
.error-dialog-card
    dialog-card()
    .header
        dialog-card-header--error()
    .content
        dialog-card-content()
    .footer
        dialog-card-footer()
