@import "../StyleSheet__Theme"

// scope
scope()
    add-element-gradient(scope, light-scope, dark-scope, scope)
    &.small
        add-element(null, small-scope)
    &.medium
        add-element(null, medium-scope)
    &.large
        add-element(null, large-scope)
column-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
row-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)

// scope
.scope
    scope()
.column-scope
    column-scope()
.row-scope
    row-scope()
