@import "../StyleSheet__Theme"

// scope
scope(effect)
    add-element-gradient(effect, scope, light-scope, dark-scope, scope)
    &.small
        add-element(effect, null, small-scope)
    &.medium
        add-element(effect, null, medium-scope)
    &.large
        add-element(effect, null, large-scope)
column-scope()
    add-element-flex(0, 1, auto, auto)
    add-element-flex2(column, flex-start, stretch)
row-scope()
    add-element-flex(0, 1, auto, auto)
    add-element-flex2(row, flex-start, stretch)

// scope
.scope
    scope(null)
.column-scope
    column-scope(null)
.row-scope
    row-scope(null)
