@import "../StyleSheet__Theme"

// scope
scope()
    add-view-skin(scope)
    add-view-skin-light-gradient(light-scope)
    add-view-skin-dark-gradient(dark-scope)
    add-layout-skin(scope)
    &.small
        add-layout-skin(small-scope)
    &.medium
        add-layout-skin(medium-scope)
    &.large
        add-layout-skin(large-scope)
column-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(column, flex-start, stretch)
row-scope()
    add-flex(0, 1, auto, auto)
    add-flex2(row, flex-start, stretch)

// scope
.scope
    scope()
.column-scope
    column-scope()
.row-scope
    row-scope()
