@import "../StyleSheet__Theme"

// group
group()
    add-element-gradient(group, light-group, dark-group, group)
    &.small
        add-element(null, small-group)
    &.medium
        add-element(null, medium-group)
    &.large
        add-element(null, large-group)
column-group()
    add-element-flex(0, 1, auto, auto)
    add-element-flex2(column, flex-start, stretch)
row-group()
    add-element-flex(0, 1, auto, auto)
    add-element-flex2(row, flex-start, stretch)

// group
.group
    group()
.column-group
    column-group()
.row-group
    row-group()
