@import "../StyleSheet__Theme2"

// group
group(effect)
    add-skin1        effect, group
    add-skin1-light  effect, group--light
    add-skin1-dark   effect, group--dark
    add-skin2        effect, group
    add-skin2-small  effect, small-group
    add-skin2-medium effect, medium-group
    add-skin2-large  effect, large-group
column-group(effect)
    add-skin3-flex  effect, 0, 1, auto, auto
    add-skin3-flex2 effect, column, flex-start, stretch
row-group(effect)
    add-skin3-flex  effect, 0, 1, auto, auto
    add-skin3-flex2 effect, row, flex-start, stretch

// group
.group
    group(null)
.column-group
    column-group(null)
.row-group
    row-group(null)
