@import "../StyleSheet__Theme"

// box
box(effect)
    add-element-gradient(effect, box, light-box, dark-box, box)
    &.small
        add-element(effect, null, small-box)
    &.medium
        add-element(effect, null, medium-box)
    &.large
        add-element(effect, null, large-box)

// box
.unity-box
    box(null)
