@import "../StyleSheet__Theme2"

// box
box(effect)
    add-skin1        effect, box
    add-skin1-light  effect, box--light
    add-skin1-dark   effect, box--dark
    add-skin2        effect, box
    add-skin2-small  effect, small-box
    add-skin2-medium effect, medium-box
    add-skin2-large  effect, large-box

// box
.unity-box
    box(null)
