@import "../StyleSheet__Theme"

// box
box()
    add-view-skin(box)
    add-view-skin-light-gradient(light-box)
    add-view-skin-dark-gradient(dark-box)
    add-layout-skin(box)
    &.small
        add-layout-skin(small-box)
    &.medium
        add-layout-skin(medium-box)
    &.large
        add-layout-skin(large-box)

// box
.unity-box
    box()
