@import "__Utils2"

// theme
theme = create-theme()

// color
theme[color           ]['light'                      ] = hsla(  0,   0%,  90%, 1.00)
theme[color           ]['dark'                       ] = hsla(  0,   0%,  10%, 1.00)
// color
theme[color           ]['focus-effect'               ] = hsla(210,  80%,  50%, 1.00)
theme[color           ]['invalid-effect'             ] = hsla(  0,  80%,  50%, 1.00)

// background-color
theme[background-color]['card'                       ] = hsla(210,   3%,  30%, 0.90)
theme[background-color]['card-header'                ] = hsla(210,   3%,  20%, 0.90)
theme[background-color]['card-content'               ] = hsla(210,   3%,   0%, 0.00)
theme[background-color]['card-footer'                ] = hsla(210,   3%,  15%, 0.90)
// background-color
theme[background-color]['dialog-card'                ] = null
theme[background-color]['dialog-card-header'         ] = null
theme[background-color]['dialog-card-header--info'   ] = hsla(240,  50%,  20%, 0.90)
theme[background-color]['dialog-card-header--warning'] = hsla( 60,  50%,  20%, 0.90)
theme[background-color]['dialog-card-header--error'  ] = hsla(  0,  50%,  20%, 0.90)
theme[background-color]['dialog-card-content'        ] = null
theme[background-color]['dialog-card-footer'         ] = null
// background-color
theme[background-color]['view--light2'               ] = hsla(210,   3%,  30%, 0.75)
theme[background-color]['view--light'                ] = hsla(210,   3%,  25%, 0.75)
theme[background-color]['view--gray'                 ] = hsla(210,   3%,  20%, 0.75)
theme[background-color]['view--dark'                 ] = hsla(210,   3%,  15%, 0.75)
theme[background-color]['view--dark2'                ] = hsla(210,   3%,  10%, 0.75)
// background-color
theme[background-color]['box--light2'                ] = hsla(210,   0%,  22%, 1.00)
theme[background-color]['box--light'                 ] = hsla(210,   0%,  21%, 1.00)
theme[background-color]['box--gray'                  ] = hsla(210,   0%,  20%, 1.00)
theme[background-color]['box--dark'                  ] = hsla(210,   0%,  19%, 1.00)
theme[background-color]['box--dark2'                 ] = hsla(210,   0%,  18%, 1.00)
// background-color
theme[background-color]['element'                    ] = hsla(  0,   0%,   0.0%, 0.00)
theme[background-color]['element--light'             ] = hsla(210,   4%,  20%, 1.00)
theme[background-color]['element--gray'              ] = hsla(210,   4%,  18%, 1.00)
theme[background-color]['element--dark'              ] = hsla(210,   4%,  16%, 1.00)
// background-color
theme[background-color]['component'                  ] = hsla(  0,   0%,   0%, 0.00)
theme[background-color]['component--light'           ] = hsla(210,   4%,  70%, 1.00)
theme[background-color]['component--gray'            ] = hsla(210,   4%,  50%, 1.00)
theme[background-color]['component--dark'            ] = hsla(210,   4%,  30%, 1.00)

// background-image
theme[background-image]['card'                       ] = create-background-image(null, null, null)
theme[background-image]['card-header'                ] = create-background-image(null, null, null)
theme[background-image]['card-content'               ] = create-background-image(null, null, null)
theme[background-image]['card-footer'                ] = create-background-image(null, null, null)
// background-image
theme[background-image]['dialog-card'                ] = null
theme[background-image]['dialog-card-header'         ] = null
theme[background-image]['dialog-card-header--info'   ] = null
theme[background-image]['dialog-card-header--warning'] = null
theme[background-image]['dialog-card-header--error'  ] = null
theme[background-image]['dialog-card-content'        ] = null
theme[background-image]['dialog-card-footer'         ] = null
// background-image
theme[background-image]['view--light2'               ] = create-background-image(null, null, null)
theme[background-image]['view--light'                ] = create-background-image(null, null, null)
theme[background-image]['view--gray'                 ] = create-background-image(null, null, null)
theme[background-image]['view--dark'                 ] = create-background-image(null, null, null)
theme[background-image]['view--dark2'                ] = create-background-image(null, null, null)
// background-image
theme[background-image]['box--light2'                ] = create-background-image(null, null, null)
theme[background-image]['box--light'                 ] = create-background-image(null, null, null)
theme[background-image]['box--gray'                  ] = create-background-image(null, null, null)
theme[background-image]['box--dark'                  ] = create-background-image(null, null, null)
theme[background-image]['box--dark2'                 ] = create-background-image(null, null, null)
// background-image
theme[background-image]['element'                    ] = create-background-image(null, null, null)
theme[background-image]['element--light'             ] = create-background-image(null, null, null)
theme[background-image]['element--gray'              ] = create-background-image(null, null, null)
theme[background-image]['element--dark'              ] = create-background-image(null, null, null)
// background-image
theme[background-image]['component'                  ] = create-background-image(null, null, null)
theme[background-image]['component--light'           ] = create-background-image(null, null, null)
theme[background-image]['component--gray'            ] = create-background-image(null, null, null)
theme[background-image]['component--dark'            ] = create-background-image(null, null, null)
// background-image
theme[background-image]['left-arrow-icon--light'     ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla(  0,  0%,  90%, 1.00), null)
theme[background-image]['right-arrow-icon--light'    ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla(  0,  0%,  90%, 1.00), null)
theme[background-image]['up-arrow-icon--light'       ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla(  0,  0%,  90%, 1.00), null)
theme[background-image]['down-arrow-icon--light'     ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla(  0,  0%,  90%, 1.00), null)
theme[background-image]['dropdown-arrow-icon--light' ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla(  0,  0%,  90%, 1.00), null)
theme[background-image]['checkmark-icon--light'      ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla(  0,  0%,  90%, 1.00), null)
// background-image
theme[background-image]['left-arrow-icon--dark'      ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Left.png',    hsla(  0,  0%,  10%, 1.00), null)
theme[background-image]['right-arrow-icon--dark'     ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Right.png',   hsla(  0,  0%,  10%, 1.00), null)
theme[background-image]['up-arrow-icon--dark'        ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Up.png',      hsla(  0,  0%,  10%, 1.00), null)
theme[background-image]['down-arrow-icon--dark'      ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Arrow_Down.png',    hsla(  0,  0%,  10%, 1.00), null)
theme[background-image]['dropdown-arrow-icon--dark'  ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/DropdownArrow.png', hsla(  0,  0%,  10%, 1.00), null)
theme[background-image]['checkmark-icon--dark'       ] = create-background-image('project://database/Assets/Project.UI/Assets.Project.UI/Images/Check.png',         hsla(  0,  0%,  10%, 1.00), null)

// border-color
theme[border-color    ]['card'                       ] = hsla( 30,  30%,  30%, 1.00)
theme[border-color    ]['card-header'                ] = hsla( 30,  30%,  30%, 1.00)
theme[border-color    ]['card-content'               ] = hsla( 30,  30%,  30%, 1.00)
theme[border-color    ]['card-footer'                ] = hsla( 30,  30%,  30%, 1.00)
// border-color
theme[border-color    ]['dialog-card'                ] = null
theme[border-color    ]['dialog-card-header'         ] = null
theme[border-color    ]['dialog-card-content'        ] = null
theme[border-color    ]['dialog-card-footer'         ] = null
// border-color
theme[border-color    ]['view--light2'               ] = hsla( 30,  20%,  30%, 1.00)
theme[border-color    ]['view--light'                ] = hsla( 30,  20%,  30%, 1.00)
theme[border-color    ]['view--gray'                 ] = hsla( 30,  20%,  30%, 1.00)
theme[border-color    ]['view--dark'                 ] = hsla( 30,  20%,  30%, 1.00)
theme[border-color    ]['view--dark2'                ] = hsla( 30,  20%,  30%, 1.00)
// border-color
theme[border-color    ]['box--light2'                ] = hsla( 30,  10%,  30%, 1.00)
theme[border-color    ]['box--light'                 ] = hsla( 30,  10%,  30%, 1.00)
theme[border-color    ]['box--gray'                  ] = hsla( 30,  10%,  30%, 1.00)
theme[border-color    ]['box--dark'                  ] = hsla( 30,  10%,  30%, 1.00)
theme[border-color    ]['box--dark2'                 ] = hsla( 30,  10%,  30%, 1.00)
// border-color
theme[border-color    ]['element'                    ] = hsla(  0,   0%,   0%, 0.00)
theme[border-color    ]['element--light'             ] = hsla( 30,  10%,  30%, 1.00)
theme[border-color    ]['element--gray'              ] = hsla( 30,  10%,  30%, 1.00)
theme[border-color    ]['element--dark'              ] = hsla( 30,  10%,  30%, 1.00)
// border-color
theme[border-color    ]['component'                  ] = hsla(  0,   0%,   0%, 0.00)
theme[border-color    ]['component--light'           ] = hsla( 30,  10%,  30%, 0.30)
theme[border-color    ]['component--gray'            ] = hsla( 30,  10%,  30%, 0.30)
theme[border-color    ]['component--dark'            ] = hsla( 30,  10%,  30%, 0.30)

// border-radius
theme[border-radius   ]['card'                       ] = 6px
theme[border-radius   ]['card-header'                ] = 6px 6px 0px 0px
theme[border-radius   ]['card-content'               ] = 6px
theme[border-radius   ]['card-footer'                ] = 0px 0px 6px 6px
// border-radius
theme[border-radius   ]['dialog-card'                ] = null
theme[border-radius   ]['dialog-card-header'         ] = null
theme[border-radius   ]['dialog-card-content'        ] = null
theme[border-radius   ]['dialog-card-footer'         ] = null
// border-radius
theme[border-radius   ]['view'                       ] = 4px
// border-radius
theme[border-radius   ]['box'                        ] = 4px
// border-radius
theme[border-radius   ]['element'                    ] = 4px
// border-radius
theme[border-radius   ]['component'                  ] = 2px

// element/hover
theme[background-color]['element--light--hover'      ] = lighten(get-theme-background-color('element--light'), 10%)
theme[background-image]['element--light--hover'      ] = null
theme[border-color    ]['element--light--hover'      ] = null
// element/hover
theme[background-color]['element--gray--hover'       ] = lighten(get-theme-background-color('element--gray' ), 10%)
theme[background-image]['element--gray--hover'       ] = null
theme[border-color    ]['element--gray--hover'       ] = null
// element/hover
theme[background-color]['element--dark--hover'       ] = lighten(get-theme-background-color('element--dark' ), 10%)
theme[background-image]['element--dark--hover'       ] = null
theme[border-color    ]['element--dark--hover'       ] = null

// dropdown
theme[background-color]['dropdown'                   ] = get-theme-background-color('element--dark')
theme[background-image]['dropdown'                   ] = get-theme-background-image('element--dark')
theme[border-color    ]['dropdown'                   ] = get-theme-border-color(    'element--dark')
theme[border-radius   ]['dropdown'                   ] = get-theme-border-radius(   'element'      )
// dropdown-item
theme[background-color]['dropdown-item'              ] = get-theme-background-color('element')
theme[background-image]['dropdown-item'              ] = get-theme-background-image('element')
theme[border-color    ]['dropdown-item'              ] = get-theme-border-color(    'element')
theme[border-radius   ]['dropdown-item'              ] = get-theme-border-radius(   'element')

// dropdown/hover
theme[background-color]['dropdown--hover'            ] = null
theme[background-image]['dropdown--hover'            ] = null
theme[border-color    ]['dropdown--hover'            ] = null
// dropdown-item/hover
theme[background-color]['dropdown-item--hover'       ] = hsla( 30,  80%,  40%, 1.00)
theme[background-image]['dropdown-item--hover'       ] = null
theme[border-color    ]['dropdown-item--hover'       ] = hsla( 30,  80%,  20%, 1.00)
