@import "__Utils"

// create-theme
create-theme()
    return {
        color: {},
        background-color: {},
        background-image: {},
        border-color: {},
        border-radius: {},
    }

// create-view-skin
create-view-skin(color, background, border)
    color            = get-theme-color(color)
    background-color = get-theme-background-color(background[0])
    background-image = get-theme-background-image(background[1])
    border-color     = get-theme-border-color(border[0])
    border-radius    = get-theme-border-radius(border[1])
    create-view color, null, null, background-color, background-image, border-color, border-radius

// create-layout-skin
create-layout-skin(position, size, margin, border, padding)
    create-layout position, size[0], size[1], margin, border, padding

// get-theme-value
get-theme-color(key)
    if key != null
        return get(theme.color, key) if has(theme.color, key)
        error('Color is not found: ' + get-string(key))
    null
get-theme-background-color(key)
    if key != null
        return get(theme.background-color, key) if has(theme.background-color, key)
        return get(theme.color,            key) if has(theme.color,            key)
        error('Background color is not found: ' + get-string(key))
    null
get-theme-background-image(key)
    if key != null
        return get(theme.background-image, key) if has(theme.background-image, key)
        error('Background image is not found: ' + get-string(key))
    null
get-theme-border-color(key)
    if key != null
        return get(theme.border-color, key) if has(theme.border-color, key)
        return get(theme.color,        key) if has(theme.color,        key)
        error('Border color is not found: ' + get-string(key))
    null
get-theme-border-radius(key)
    if key != null
        return get(theme.border-radius, key) if has(theme.border-radius, key)
        error('Border radius is not found: ' + get-string(key))
    null

// add-skin1
add-skin1(name)
    if typeof(name) == 'object'
        add-style name
    else
        add-style get-skin1(name)
get-skin1(name)
    if name != null
        name = 'view--' + get-string(name)
        return lookup(name) if name is defined
        error('Skin (view) is not found: ' + name)
    null

// add-skin2
add-skin2(name)
    if typeof(name) == 'object'
        add-style name
    else
        add-style get-skin2(name)
get-skin2(name)
    if name != null
        name = 'layout--' + get-string(name)
        return lookup(name) if name is defined
        error('Skin (layout) is not found: ' + name)
    null

// add-skin3
add-skin3(name)
    if typeof(name) == 'object'
        add-style name
    else
        add-style get-skin3(name)
get-skin3(name)
    if name != null
        name = 'flex--' + get-string(name)
        return lookup(name) if name is defined
        error('Skin (flex) is not found: ' + name)
    null
